openapi: 3.2.0
info:
  contact:
    email: Derwent.support@clarivate.com
    name: Derwent API
  description: Derwent APIs provide seamless access to enriched patent data, enabling users to enhance their research capabilities and make faster, more informed decisions.
  termsOfService: https://clarivate.com/legal-center/terms-of-business/product-service-terms/
  title: Intellectual Property (IP) Data IP Cases API
  version: 1.0.7
servers:
- url: https://api.clarivate.com
security:
- key: []
tags:
- name: IP Cases
paths:
  /caselaw/document/availability:
    post:
      description: Query the availability and update date of documents
      operationId: checkCaselawDocumentAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document_availability_request_caselaw'
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  result_count: 6
                  results:
                    '2706413':
                      availability: valid
                      last_updated: '2023-06-15 04:48:10.244000000'
                    '10043066':
                      availability: deleted
                      last_updated: '2023-03-22 23:05:32.841943000'
                    '10157664':
                      availability: deleted
                      last_updated: '2023-04-26 23:14:36.608294000'
                    '10282480':
                      availability: deleted
                      last_updated: '2023-04-20 23:05:59.493840000'
                    '11021977':
                      availability: valid
                      last_updated: '2023-06-21 15:08:19.928657000'
                    '9999999999':
                      availability: invalid
                properties:
                  result_count:
                    description: Total number of results
                    type: number
                  results:
                    description: Page of results
                    items:
                      properties:
                        GUID:
                          description: GUID
                          example: '2706413'
                          type: string
                        availability:
                          enum:
                          - deleted
                          - invalid
                          - valid
                          example: valid
                          type: string
                        last_updated:
                          description: Date of last update
                          example: '2023-06-15'
                          format: date
                          type: string
                      required:
                      - GUID
                      - availability
                      type: object
                    type: array
                type: object
          description: Success
        '400':
          content:
            application/json:
              example:
                code: 1200
                error: Invalid request. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Invalid request
        '401':
          content:
            application/json:
              example:
                code: 1100
                error: Insufficient permissions to access this resources. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                code: 10200
                error: Insufficient permissions to use attribute values in the resources request. Please contact support if you believe this is an error
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                code: 1201
                error: Endpoint not found
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Not found
        '500':
          content:
            application/json:
              example:
                code: 1300
                error: Something went wrong. Please try again, and contact support if error persists.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Internal server error
      summary: Caselaw document availability check
      tags:
      - IP Cases
  /caselaw/document/json:
    post:
      description: Call to fetch one or more full caselaw documents by GUID, with possibile filters.
      operationId: getCaselawDocuments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/records_request_caselaw'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  result:
                    description: Page of results
                    items:
                      properties:
                        BINDER:
                          properties:
                            AREA:
                              description: 'Represents the legal area where the case takes place as defined by Darts-ip (i.e. countries grouped together under harmonized legal provisions).


                                Flat name: AREA

                                Hierarchical name: BINDER.AREA'
                              example: JAPAN
                              type: string
                            CASE_DOMAINS:
                              items:
                                description: 'The IP right types that the case pertains to. Possible values are: copyright, design_model, domain_name, patent, trademark, unfair_competition or other


                                  Flat name: CASE_DOMAIN

                                  Hierarchical name: BINDER.CASE_DOMAINS'
                                example: '["PATENT", "DOMAIN_NAME", "TRADEMARK"]'
                                type: string
                              type: array
                            CASE_NAME:
                              description: 'The name of the Binder, about 4% of our Binders have a case name.


                                Flat name: CASE_NAME

                                Hierarchical name: BINDER.CASE_NAME'
                              example: EX PARTE SAGHEER AHMAD
                              type: string
                            CASE_REFERENCES:
                              items:
                                description: 'The docket references for this specific case.


                                  Flat name: _BINDER.CASE_REFERENCES

                                  Hierarchical name: BINDER.CASE_REFERENCES'
                                example: 81 O 25/99", "6 U 179/99
                                type: string
                              type: array
                            CASE_RESOLUTION:
                              description: 'The outcome of the case according to the information collected. Possible values are: claimant wins, defendant wins, split win, settled, withdrawn or unknown (null value).


                                Flat name: CASE_RESOLUTION

                                Hierarchical name: BINDER.CASE_RESOLUTION'
                              example: SETTLED
                              type: string
                            CASE_STAGE:
                              description: 'The current stage of the case according to the information collected


                                Flat name: CASE_STAGE

                                Hierarchical name: BINDER.CASE_STAGE'
                              example: HEARING
                              type: string
                            CASE_STATUS:
                              description: 'The current status of an IP Case. Possible values are open, closed or inactive.


                                Flat name: CASE_STATUS

                                Hierarchical name: BINDER.CASE_STATUS'
                              example: CLOSED
                              type: string
                            CLOSED:
                              description: 'Whether the binder has been closed. (US Only)


                                Flat name: CLOSED

                                Hierarchical name: BINDER.CLOSED'
                              example: false
                              type: boolean
                            DOCKETS:
                              properties:
                                COURT:
                                  properties:
                                    AREA:
                                      description: 'The legal area this court is part of.


                                        Flat name: DOCKET_COURT_AREA

                                        Hierarchical name: BINDER.DOCKETS.COURT.AREA'
                                      example: EUROPE
                                      type: string
                                    COURT_COUNTRY:
                                      description: 'A two-character WIPO ST.3 code representing the country or the international organization the court is part of.


                                        Flat name: DOCKET_COURT_COUNTRY

                                        Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY'
                                      example: RU
                                      type: string
                                    COURT_COUNTRY_DERIVED:
                                      properties:
                                        COURT_COUNTRY_DERIVED_ISO_3166_ALPHA2:
                                          description: 'A two-character code mapping from the court country code to the countries belonging to the court country code


                                            Flat name: DOCKET_COURT_COUNTRY_DERIVED_ISO_3166_ALPHA2

                                            Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY_DERIVED.COURT_COUNTRY_DERIVED_ISO_3166_ALPHA2'
                                          example: AD
                                          type: string
                                        COURT_COUNTRY_DERIVED_ISO_3166_ALPHA3:
                                          description: 'A three-character code mapping from the court country code to the countries belonging to the court country code


                                            Flat name: DOCKET_COURT_COUNTRY_DERIVED_ISO_3166_ALPHA3

                                            Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY_DERIVED.COURT_COUNTRY_DERIVED_ISO_3166_ALPHA3'
                                          example: AND
                                          type: string
                                        COURT_COUNTRY_DERIVED_TEXT:
                                          description: 'The country name mapping from the court country code to the countries belonging to the country code


                                            Flat name: DOCKET_COURT_COUNTRY_DERIVED_TEXT

                                            Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY_DERIVED.COURT_COUNTRY_DERIVED_TEXT'
                                          example: ALBANIA
                                          type: string
                                      type: object
                                    COURT_COUNTRY_TEXT:
                                      description: 'The country or the international organization the court is part of.


                                        Flat name: DOCKET_COURT_COUNTRY_TEXT

                                        Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY_TEXT'
                                      example: AFRICAN INTELLECTUAL PROPERTY ORGANIZATION
                                      type: string
                                    NAME:
                                      description: 'The English name of the Court.


                                        Flat name: DOCKET_COURT_NAME

                                        Hierarchical name: BINDER.DOCKETS.COURT.NAME'
                                      example: FEDERAL SERVICE FOR IP - WIPO
                                      type: string
                                    PATH:
                                      description: 'Information about the Court in which this Docket was handled.


                                        Flat name: DOCKET_COURT_PATH

                                        Hierarchical name: BINDER.DOCKETS.COURT.PATH'
                                      example: COMMONW. OF INDEP. STATES/RUSSIAN FEDERATION/FEDERAL SERVICE FOR IP - WIPO
                                      type: string
                                    TYPES:
                                      items:
                                        description: 'Domain Types such as wethere a document is Administrative, Judical, or Arbitration.


                                          Flat name: _BINDER.DOCKETS.COURT.TYPES

                                          Hierarchical name: BINDER.DOCKETS.COURT.TYPES'
                                        example: ADMINISTRATIVE
                                        type: string
                                      type: array
                                  type: object
                                DOCUMENTS:
                                  properties:
                                    CITABLE:
                                      description: 'Whether the decision has a reporter citation.


                                        Flat name: DOCUMENT_CITABLE

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.CITABLE'
                                      example: false
                                      type: boolean
                                    CITATION_REFERENCE:
                                      description: 'An unique internal reference in the format ''darts-000-000-A''.


                                        Flat name: DOCUMENT_CITATION_REFERENCE

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.CITATION_REFERENCE'
                                      example: '"DARTS-998-200-L",'
                                      type: string
                                    CLAIM_CONSTRUCTIONS:
                                      properties:
                                        AGREED:
                                          description: 'Whether both the plaintiff(s) and defendant(s) agreed with the definition put forward by the judge.


                                            Flat name: CLAIM_CONSTRUCTION_AGREED

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.CLAIM_CONSTRUCTIONS.AGREED'
                                          example: false
                                          type: boolean
                                        DEFINITION:
                                          description: 'The definition that was given for the term in this decision.


                                            Flat name: CLAIM_CONSTRUCTION_DEFINITION

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.CLAIM_CONSTRUCTIONS.DEFINITION'
                                          example: NICHT GLEICHZEITIG
                                          type: string
                                        MEANS_PLUS_FUNCTION:
                                          description: 'Whether the term was considered as describing a function the technology performs, rather than the structure of the technology.(US Only)


                                            Flat name: CLAIM_CONSTRUCTION_MEANS_PLUS_FUNCTION

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.CLAIM_CONSTRUCTIONS.MEANS_PLUS_FUNCTION'
                                          example: NOT_DISCUSSED
                                          type: string
                                        NOT_NECESSARY:
                                          description: 'Whether the judge deemed a definition of the term to unnecessary for a variety of reasons.


                                            Flat name: CLAIM_CONSTRUCTION_NOT_NECESSARY

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.CLAIM_CONSTRUCTIONS.NOT_NECESSARY'
                                          example: false
                                          type: boolean
                                        TERM:
                                          description: 'The term for which a definition or interpretation was given by the judge in this decision.


                                            Flat name: CLAIM_CONSTRUCTION_TERM

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.CLAIM_CONSTRUCTIONS.TERM'
                                          example: ASYNCHROM
                                          type: string
                                      type: object
                                    DAMAGES:
                                      properties:
                                        AMOUNT:
                                          description: 'The amount of damages that needs to be paid.


                                            Flat name: DAMAGE_AMOUNT

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.AMOUNT'
                                          example: 137240
                                          type: number
                                        CALCULATION_METHOD:
                                          description: 'How the damages have been calculated.


                                            Flat name: DAMAGE_CALCULATION_METHOD

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.CALCULATION_METHOD'
                                          example: LOSS_OF_PROFITS
                                          type: string
                                        CURRENCY:
                                          description: 'A 3-character ISO currency code for the main currency of the damage.


                                            Flat name: DAMAGE_CURRENCY

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.CURRENCY'
                                          example: EUR
                                          type: string
                                        CURRENT_CNY_EQUIVALENT:
                                          description: 'The amount converted to Chinese Yuan.


                                            Flat name: DAMAGE_CURRENT_CNY_EQUIVALENT

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.CURRENT_CNY_EQUIVALENT'
                                          example: 1454475
                                          type: number
                                        CURRENT_EUR_EQUIVALENT:
                                          description: 'The amount converted to Euro.


                                            Flat name: DAMAGE_CURRENT_EUR_EQUIVALENT

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.CURRENT_EUR_EQUIVALENT'
                                          example: 186335
                                          type: number
                                        CURRENT_USD_EQUIVALENT:
                                          description: 'The amount converted to US Dollars.


                                            Flat name: DAMAGE_CURRENT_USD_EQUIVALENT

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.CURRENT_USD_EQUIVALENT'
                                          example: 224108
                                          type: number
                                        NATURE:
                                          description: 'The nature of the damages mentioned in the decision document.


                                            Flat name: DAMAGE_NATURE

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.NATURE'
                                          example: INFRINGEMENT
                                          type: string
                                        TYPES:
                                          properties:
                                            LATER:
                                              description: 'Indicates that damages have been assigned, but the amount has not been specified in this decision.


                                                Flat name: DAMAGE_LATER

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.TYPES.LATER'
                                              example: false
                                              type: boolean
                                            PARTIAL:
                                              description: 'Indicates whether the damage amount is potentially incomplete and might be amended in a future decision.


                                                Flat name: DAMAGE_PARTIAL

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.TYPES.PARTIAL'
                                              example: false
                                              type: boolean
                                            REQUESTED:
                                              description: 'Indicates that the damage was requested by the plaintiff, but not necessarily granted.


                                                Flat name: DAMAGE_REQUESTED

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DAMAGES.TYPES.REQUESTED'
                                              example: false
                                              type: boolean
                                          type: object
                                      type: object
                                    DECLARATORY:
                                      description: 'Whether the decision addresses a motion for declaratory judgment(US Only).


                                        Flat name: DOCUMENT_DECLARATORY

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DECLARATORY'
                                      example: false
                                      type: boolean
                                    DEFAULT_JUDGEMENT:
                                      description: 'Whether the decision is granting a default judgment (US Only).


                                        Flat name: DOCUMENT_DEFAULT_JUDGEMENT

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DEFAULT_JUDGEMENT'
                                      example: false
                                      type: boolean
                                    DOCUMENT_DATE:
                                      description: 'Judgment Date: The date of this Document.

                                        This field is of type date but will be serialized to type string.


                                        Flat name: DOCUMENT_DATE

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DOCUMENT_DATE'
                                      example: '2021-10-04'
                                      format: date
                                      type: string
                                    DOCUMENT_TYPE:
                                      description: 'The type of the document. Possible values are: decisions_and_orders, prelude, process_procedure_information, settlement_information, briefs_and_memorandums, motions, evidence and conclusions_of_advocate_generale


                                        Flat name: DOCUMENT_TYPE

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.DOCUMENT_TYPE'
                                      example: DECISIONS_AND_ORDERS
                                      type: string
                                    LEVEL:
                                      description: 'The level of the document. Possible values are first_instance, appeal, judicial_review and preliminary_ruling


                                        Flat name: DOCUMENT_LEVEL

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.LEVEL'
                                      example: FIRST_INSTANCE
                                      type: string
                                    POINT_OF_LAWS:
                                      properties:
                                        CONFIDENCE_LEVEL:
                                          description: 'Whether the point of law was suggested by AI or was manually encoded.


                                            Flat name: POINT_OF_LAW_CONFIDENCE_LEVEL

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.POINT_OF_LAWS.CONFIDENCE_LEVEL'
                                          example: CONFIDENT
                                          type: string
                                        NAME:
                                          description: 'The name of this Point of Law.


                                            Flat name: POINT_OF_LAW_NAME

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.POINT_OF_LAWS.NAME'
                                          example: BETWEEN GOODS IN DIFFERENT CLASSES
                                          type: string
                                        OUTCOMES:
                                          properties:
                                            NEGATIVE:
                                              description: 'The name of the negative outcome (if applicable).


                                                Flat name: POINT_OF_LAW_OUTCOME_NEGATIVE

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.POINT_OF_LAWS.OUTCOMES.NEGATIVE'
                                              example: DIFFERENT
                                              type: string
                                            OUTCOME:
                                              description: 'The outcome either positive, negative or both for this Point of Law.


                                                Flat name: POINT_OF_LAW_OUTCOME

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.POINT_OF_LAWS.OUTCOMES.OUTCOME'
                                              example: NEGATIVE
                                              type: string
                                            POSITIVE:
                                              description: 'The name of the positive outcome (if applicable).


                                                Flat name: POINT_OF_LAW_OUTCOME_POSITIVE

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.POINT_OF_LAWS.OUTCOMES.POSITIVE'
                                              example: DIFFERENT
                                              type: string
                                          type: object
                                        PARENT_PATH:
                                          description: 'The parent of this Point of Law in the Point of Law tree.


                                            Flat name: POINT_OF_LAW_PARENT_PATH

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.POINT_OF_LAWS.PARENT_PATH'
                                          example: CONFLICT BETWEEN TRADE MARKS/LIKELIHOOD OF CONFUSION (IDENTICAL/SIMILAR TRADE MARKS FOR IDENTICAL/SIMILAR GOODS OR SERVICES)/SIMILARITY BETWEEN THE GOODS/SERVICES/BETWEEN GOODS IN DIFFERENT CLASSES
                                          type: string
                                        PREFIX:
                                          description: 'The parent of this Point of Law in the Point of Law tree.


                                            Flat name: POINT_OF_LAW_PREFIX

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.POINT_OF_LAWS.PREFIX'
                                          example: EUR-06.2.2.4
                                          type: string
                                      type: object
                                    PRODUCT_COMPARISONS:
                                      properties:
                                        PRODUCT_A:
                                          properties:
                                            DESCRIPTION:
                                              description: 'Description of the first product.


                                                Flat name: PRODUCT_COMPARISON_PRODUCT_A_DESCRIPTION

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.PRODUCT_COMPARISONS.PRODUCT_A.DESCRIPTION'
                                              example: DEBIT CARD SERVICES; PROCESSING OF PAYMENTS IN RELATION TO CHARGE CARDS; PROCESSING PAYMENTS MADE BY CHARGE CARDS; CHEQUE GUARANTEE CARD PROCESSING; ISSUING OF CREDIT AND DEBIT CARDS; FINANCIAL TRANSACTIONS; ELECTRONIC FUNDS TRANSFER; PAYMENT SETTLEMENT, BANKING OPERATIONS; BANKS (BANKING); BANKING; FINANCIAL CONSULTANCY; CREDIT CONSULTANCY; BUDGET ACCOUNT SERVICES; BANK ACCOUNT AND SAVINGS ACCOUNT SERVICES; FINANCIAL SERVICES IN THE FIELD OF BANK CARDS; BANK ACCOUNT INFORMATION SERVICES; PROVIDING OF BANKING SERVICES; MONEY TRANSFER SERVICES BY ELECTRONIC MEANS; ELECTRONIC FUND TRANSFER FOR OTHERS; PROVIDING MULTIPLE PAYMENT OPTIONS BY MEANS OF CUSTOMER-OPERATED ELECTRONIC TERMINALS AVAILABLE ON-SITE IN RETAIL STORES
                                              type: string
                                            NICE_CLASSES:
                                              description: 'The Nice Classes of the first product.


                                                Flat name: PRODUCT_COMPARISON_PRODUCT_A_NICE_CLASS

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.PRODUCT_COMPARISONS.PRODUCT_A.NICE_CLASSES'
                                              example: 36.","36.13","36.41
                                              type: string
                                          type: object
                                        PRODUCT_B:
                                          properties:
                                            DESCRIPTION:
                                              description: 'Description of the second product.


                                                Flat name: PRODUCT_COMPARISON_PRODUCT_B_DESCRIPTION

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.PRODUCT_COMPARISONS.PRODUCT_B.DESCRIPTION'
                                              example: FARE CARD FOR ACCESSING FARE COLLECTION EQUIPMENT FOR MASS TRANSPORTATION
                                              type: string
                                            NICE_CLASSES:
                                              description: 'The Nice Classes of the second product.


                                                Flat name: PRODUCT_COMPARISON_PRODUCT_B_NICE_CLASS

                                                Hierarchical name: BINDER.DOCKETS.DOCUMENTS.PRODUCT_COMPARISONS.PRODUCT_B.NICE_CLASSES'
                                              example: '"41.H2.","35.2","25.45",'
                                              type: string
                                          type: object
                                        SIMILAR:
                                          description: 'Whether both products being compared where deemed similar or not by the judge.


                                            Flat name: PRODUCT_COMPARISON_SIMILAR

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.PRODUCT_COMPARISONS.SIMILAR'
                                          example: false
                                          type: boolean
                                      type: object
                                    REFUSAL:
                                      description: 'For Trademark cases. True for any first instance document issued by an IP office of type ADMINISTRATIVE_HEARING.


                                        Flat name: DOCUMENT_REFUSAL

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.REFUSAL'
                                      example: false
                                      type: boolean
                                    RELATIONS:
                                      properties:
                                        RATING:
                                          description: 'Describes to what length the current decision follows the reasoning presented in the target decision.


                                            Flat name: RELATION_RATING

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RELATIONS.RATING'
                                          example: UPHELD
                                          type: string
                                        RELATION:
                                          description: 'The type of relation. The current decision either follows up on another decision or refers to another decision.


                                            Flat name: RELATION_RELATION

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RELATIONS.RELATION'
                                          example: INSTANCE_FOLLOWS
                                          type: string
                                        TARGET_DECISION:
                                          description: 'The citation reference of the decision that the current decision relates to (e.g. darts-000-000-A).


                                            Flat name: RELATION_TARGET_DECISION

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RELATIONS.TARGET_DECISION'
                                          example: DARTS-404-771-D
                                          type: string
                                        TARGET_REFERENCE:
                                          description: 'The reference/description of the decision that the current decision relates to.


                                            Flat name: RELATION_TARGET_REFERENCE

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RELATIONS.TARGET_REFERENCE'
                                          example: FR-2004038828_20070323
                                          type: string
                                      type: object
                                    RELEVANT_PUBLIC:
                                      properties:
                                        AVERAGE_CONSUMER:
                                          description: 'Whether average consumer attention was considered in the decision when discussing the relevant public.


                                            Flat name: RELEVANT_PUBLIC_AVERAGE_CONSUMER

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RELEVANT_PUBLIC.AVERAGE_CONSUMER'
                                          example: true
                                          type: boolean
                                        AWARENESS:
                                          description: 'The level of awareness that the consumer has of the product.


                                            Flat name: RELEVANT_PUBLIC_AWARENESS

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RELEVANT_PUBLIC.AWARENESS'
                                          example: AWARE
                                          type: string
                                        NICE_CLASSES:
                                          items:
                                            description: 'The Nice Classes of the product being discussed.


                                              Flat name: RELEVANT_PUBLIC_NICE_CLASS

                                              Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RELEVANT_PUBLIC.NICE_CLASSES'
                                            example: 18","14","34
                                            type: string
                                          type: array
                                        PROFESSIONAL_CONSUMER:
                                          description: 'Whether professional consumer attention was considered in the decision when discussing the relevant public


                                            Flat name: RELEVANT_PUBLIC_PROFESSIONAL_CONSUMER

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RELEVANT_PUBLIC.PROFESSIONAL_CONSUMER'
                                          example: true
                                          type: boolean
                                      type: object
                                    RIGHT_ASSESSMENTS:
                                      properties:
                                        AMENDED_CLAIMS:
                                          description: 'Whether amendments to the patent claims were made in this decision.


                                            Flat name: RIGHT_ASSESSMENT_AMENDED_CLAIMS

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RIGHT_ASSESSMENTS.AMENDED_CLAIMS'
                                          example: false
                                          type: boolean
                                        INFRINGEMENT:
                                          description: 'Indicates whether infringement of the patent was discussed in this decision and, if so, whether the patent was considered to be infringed or not.


                                            Flat name: RIGHT_ASSESSMENT_INFRINGEMENT

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RIGHT_ASSESSMENTS.INFRINGEMENT'
                                          example: INFRINGED
                                          type: string
                                        RIGHT_ASSESSMENT_INDEX:
                                          description: 'An index identifying to which patent right in this legal case the right assessment relates.


                                            Flat name: RIGHT_ASSESSMENT_RIGHT_ASSESSMENT_INDEX

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RIGHT_ASSESSMENTS.RIGHT_ASSESSMENT_INDEX'
                                          example: 1
                                          type: number
                                        VALIDITY:
                                          description: 'Indicates whether validity of the patent was discussed in this decision and, if so, whether the patent claims were considered to be valid or not.


                                            Flat name: RIGHT_ASSESSMENT_VALIDITY

                                            Hierarchical name: BINDER.DOCKETS.DOCUMENTS.RIGHT_ASSESSMENTS.VALIDITY'
                                          example: UNDECIDED
                                          type: string
                                      type: object
                                    STATE:
                                      description: 'The current state of analysis of this decision.


                                        Flat name: DOCUMENT_STATE

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.STATE'
                                      example: UPLOADED
                                      type: string
                                    SUBTYPE:
                                      description: 'The sub-type of the document. Only applicable for PRELUDE and DECISIONS_AND_ORDERS. Possible values are on_the_merits, provisional, other_decisions, complaint, hearing, notice_of_appeal, preliminary_proceedings and verdict.


                                        Flat name: DOCUMENT_SUBTYPE

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.SUBTYPE'
                                      example: COMPLAINT
                                      type: string
                                    TRADEMARK_REPUTATION:
                                      description: 'Set when the domain is TRADEMARK and the document contains points of law that relate to trademark reputation.


                                        Flat name: DOCUMENT_TRADEMARK_REPUTATION

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.TRADEMARK_REPUTATION'
                                      example: false
                                      type: boolean
                                    WINNER:
                                      description: 'The set of Parties that has won the Legal Case at the time of this document.


                                        Flat name: DOCUMENT_WINNER

                                        Hierarchical name: BINDER.DOCKETS.DOCUMENTS.WINNER'
                                      example: false
                                      type: boolean
                                  type: object
                                REFERENCE:
                                  description: 'A Court-specific reference for this Docket.


                                    Flat name: DOCKET_REFERENCE

                                    Hierarchical name: BINDER.DOCKETS.REFERENCE'
                                  example: RU-WO-1559837
                                  type: string
                              type: object
                            DOCKET_COURT_COUNTRIES:
                              items:
                                description: 'The countries in which the case is being litigated.


                                  Flat name: DOCKET_COURT_COUNTRIES

                                  Hierarchical name: BINDER.DOCKET_COURT_COUNTRIES'
                                example: '["BE", "DE"]'
                                type: string
                              type: array
                            DOCKET_COURT_NAMES:
                              items:
                                description: 'The courts in which the case is being litigated.


                                  Flat name: DOCKET_COURT_NAMES

                                  Hierarchical name: BINDER.DOCKET_COURT_NAMES'
                                example: '["CALIFORNIA CENTRAL DISTRICT COURT", "THE FORUM UDRP - GTLDS"]'
                                type: string
                              type: array
                            EARLIEST_EVENT_DATE:
                              description: 'The filing date of the case or the earliest document date in case the filing cannot be identified.

                                This field is of type date but will be serialized to type string.


                                Flat name: EARLIEST_EVENT_DATE

                                Hierarchical name: BINDER.EARLIEST_EVENT_DATE'
                              example: '2021-04-24'
                              format: date
                              type: string
                            EU_TRADEMARK:
                              description: 'Whether the first action of this binder is an action wherein a national court acts as a supranational court, on a community right, based on community law in an infringement action.


                                Flat name: EU_TRADEMARK

                                Hierarchical name: BINDER.EU_TRADEMARK'
                              example: false
                              type: boolean
                            EX_OFFICIO:
                              description: 'Whether an IP office is acting on behalf of any of the Parties in this Legal Case.


                                Flat name: EX_OFFICIO

                                Hierarchical name: BINDER.EX_OFFICIO'
                              example: false
                              type: boolean
                            FIRST_ACTION_DATE:
                              description: 'Filing date of the first action in a case. Can be null if no date is available.

                                This field is of type date but will be serialized to type string.


                                Flat name: FIRST_ACTION_DATE

                                Hierarchical name: BINDER.FIRST_ACTION_DATE'
                              example: '2012-04-24'
                              format: date
                              type: string
                            FIRST_ACTION_TYPE:
                              description: 'Type of the first action.


                                Flat name: FIRST_ACTION_TYPE

                                Hierarchical name: BINDER.FIRST_ACTION_TYPE'
                              example: ADMINISTRATIVE_HEARINGS
                              type: string
                            LAST_EVENT_DATE:
                              description: 'The date of the last recorded document in the case

                                This field is of type date but will be serialized to type string.


                                Flat name: LAST_EVENT_DATE

                                Hierarchical name: BINDER.LAST_EVENT_DATE'
                              example: '2021-04-24'
                              format: date
                              type: string
                            LAST_UPDATED_DATE:
                              description: 'A date that symbolizes the last update in the database.

                                This field is of type timestamp but will be serialized to type string.


                                Flat name: LAST_UPDATED_DATE

                                Hierarchical name: BINDER.LAST_UPDATED_DATE'
                              example: 2022-05-05 23:56:24.757579
                              type: string
                            NUMBER_DEFENDANTS:
                              description: 'The number of defendant parties involved in the case.


                                Flat name: NUMBER_DEFENDANTS

                                Hierarchical name: BINDER.NUMBER_DEFENDANTS'
                              example: 1
                              type: number
                            NUMBER_PLAINTIFFS:
                              description: 'The number of plaintiff parties involved in the case. (excluding ex-officio parties)


                                Flat name: NUMBER_PLAINTIFFS

                                Hierarchical name: BINDER.NUMBER_PLAINTIFFS'
                              example: 1
                              type: number
                            NUMBER_PLAINTIFFS_INCLUDE_EX_OFFICIO:
                              description: 'The number of plaintiff parties, including ex-officio parties, involved in the case. A party is ex-officio when the IP office is acting on behalf of the party in this Legal Case.


                                Flat name: NUMBER_PLAINTIFFS_INCLUDE_EX_OFFICIO

                                Hierarchical name: BINDER.NUMBER_PLAINTIFFS_INCLUDE_EX_OFFICIO'
                              example: 1
                              type: number
                            PARTIES:
                              properties:
                                ACTOR_ID:
                                  description: 'Unique identifier that represents the actor.


                                    Flat name: PARTY_ACTOR_ID

                                    Hierarchical name: BINDER.PARTIES.ACTOR_ID'
                                  example: 876
                                  type: number
                                ALTERNATIVE_ULTIMATE_PARENT:
                                  items:
                                    description: 'Alternative group name that this party is part of.


                                      Flat name: PARTY_ALTERNATIVE_ULTIMATE_PARENT

                                      Hierarchical name: BINDER.PARTIES.ALTERNATIVE_ULTIMATE_PARENT'
                                    example: L'Oreal
                                    type: string
                                  type: array
                                ANONYMOUS:
                                  description: 'Whether the party is anonymous or not.


                                    Flat name: PARTY_IS_ANONYMOUS

                                    Hierarchical name: BINDER.PARTIES.ANONYMOUS'
                                  example: false
                                  type: boolean
                                COUNTRY:
                                  description: 'The ISO country code for the country of registration of this party (ISO 3166-1 alpha-2).


                                    Flat name: PARTY_COUNTRY

                                    Hierarchical name: BINDER.PARTIES.COUNTRY'
                                  example: PL
                                  type: string
                                EX_OFFICIO:
                                  description: 'For proceedings initiated by the IP Office, where a prior right is cited by the Office and where the plaintiff is not the one filing the action but just the owner of the cited right.


                                    Flat name: PARTY_IS_EX_OFFICIO

                                    Hierarchical name: BINDER.PARTIES.EX_OFFICIO'
                                  example: false
                                  type: boolean
                                LEGAL_FORM:
                                  description: 'The legal form of the party


                                    Flat name: PARTY_LEGAL_FORM

                                    Hierarchical name: BINDER.PARTIES.LEGAL_FORM'
                                  example: LTD.
                                  type: string
                                OPTIMIZED_NAME:
                                  description: 'The party name, filled from one of the scripts based on following order: LATIN -> CHINESE -> TRADITIONAL_CHINESE -> JAPANESE -> KOREAN -> CYRILLIC -> THAI -> HEBREW -> GREEK ->ARABIC


                                    Flat name: PARTY_OPTIMIZED_NAME

                                    Hierarchical name: BINDER.PARTIES.OPTIMIZED_NAME'
                                  example: CAMELOT UK BIDCO
                                  type: string
                                REPRESENTATIVES:
                                  properties:
                                    COUNTRY:
                                      description: 'The ISO country code for the country of registration of the representative.


                                        Flat name: REPRESENTATIVE_COUNTRY

                                        Hierarchical name: BINDER.PARTIES.REPRESENTATIVES.COUNTRY'
                                      example: IT
                                      type: string
                                    LEGAL_FORM:
                                      description: 'The legal form of the representative.


                                        Flat name: REPRESENTATIVE_LEGAL_FORM

                                        Hierarchical name: BINDER.PARTIES.REPRESENTATIVES.LEGAL_FORM'
                                      example: S.R.L.
                                      type: string
                                    OPTIMIZED_NAME:
                                      description: 'The representative name, filled from one of the scripts based on following order: LATIN -> CHINESE -> TRADITIONAL_CHINESE -> JAPANESE -> KOREAN -> CYRILLIC -> THAI -> HEBREW -> GREEK ->ARABIC


                                        Flat name: REPRESENTATIVE_OPTIMIZED_NAME

                                        Hierarchical name: BINDER.PARTIES.REPRESENTATIVES.OPTIMIZED_NAME'
                                      example: '"L. POPOLO",'
                                      type: string
                                    TYPE:
                                      description: 'The type of entity this representative represents, possible values are: AUTHORITY, COMPANY, NPE, PERSON or UNIVERSITY


                                        Flat name: REPRESENTATIVE_TYPE

                                        Hierarchical name: BINDER.PARTIES.REPRESENTATIVES.TYPE'
                                      example: PERSON
                                      type: string
                                  type: object
                                ROLE:
                                  description: 'Role of the party within the context of the legal case, possible values are PLAINTIFF and DEFENDANT. Plaintiff, is the party that initiates the legal action. Defendant is the party that is targeted by the action. Opponent is the same as plaintiff.


                                    Flat name: PARTY_ROLE

                                    Hierarchical name: BINDER.PARTIES.ROLE'
                                  example: DEFENDANT
                                  type: string
                                TYPE:
                                  description: 'The type of entity this party represents, possible values are: AUTHORITY, COMPANY, NPE, PERSON or UNIVERSITY


                                    Flat name: PARTY_TYPE

                                    Hierarchical name: BINDER.PARTIES.TYPE'
                                  example: COMPANY
                                  type: string
                                ULTIMATE_PARENT:
                                  description: 'A group name that this party is part of.


                                    Flat name: PARTY_ULTIMATE_PARENT

                                    Hierarchical name: BINDER.PARTIES.ULTIMATE_PARENT'
                                  example: CLARIVATE
                                  type: string
                              type: object
                            PARTIES_DEFENDANT:
                              items:
                                description: 'The defendant parties involved in a case.


                                  Flat name: _BINDER.PARTIES_DEFENDANT

                                  Hierarchical name: BINDER.PARTIES_DEFENDANT'
                                properties:
                                  ACTOR_ID:
                                    description: 'A unique identifier that represents the defendant party


                                      Flat name: _BINDER.PARTIES_DEFENDANT.ACTOR_ID

                                      Hierarchical name: BINDER.PARTIES_DEFENDANT.ACTOR_ID'
                                    example: 1293134
                                    type: number
                                  NATIONALITY:
                                    description: 'The nationality of the defendant party


                                      Flat name: _BINDER.PARTIES_DEFENDANT.NATIONALITY

                                      Hierarchical name: BINDER.PARTIES_DEFENDANT.NATIONALITY'
                                    type: string
                                type: object
                              type: array
                            PARTIES_PLAINTIFF:
                              items:
                                description: 'The plaintiff parties involved in a case, excluding ex-officio parties.


                                  Flat name: _BINDER.PARTIES_PLAINTIFF

                                  Hierarchical name: BINDER.PARTIES_PLAINTIFF'
                                properties:
                                  ACTOR_ID:
                                    description: 'A unique identifier that represents the plaintiff party


                                      Flat name: _BINDER.PARTIES_PLAINTIFF.ACTOR_ID

                                      Hierarchical name: BINDER.PARTIES_PLAINTIFF.ACTOR_ID'
                                    example: 61304
                                    type: number
                                  LEGAL_FORM:
                                    description: 'The legal form of the plaintiff party


                                      Flat name: _BINDER.PARTIES_PLAINTIFF.LEGAL_FORM

                                      Hierarchical name: BINDER.PARTIES_PLAINTIFF.LEGAL_FORM'
                                    type: string
                                  TYPE:
                                    description: 'The type of entity this plaintiff party represents, possible values are: AUTHORITY, COMPANY, NPE, PERSON or UNIVERSITY


                                      Flat name: _BINDER.PARTIES_PLAINTIFF.TYPE

                                      Hierarchical name: BINDER.PARTIES_PLAINTIFF.TYPE'
                                    type: string
                                type: object
                              type: array
                            PATENT_ASSERTIONS:
                              description: 'Set when the domain is PATENT and the first action is one of: INFRINGEMENT, DECLARATORY, CRIMINAL_ACTION or TRIAL_FOR_SCOPE


                                Flat name: PATENT_ASSERTIONS

                                Hierarchical name: BINDER.PATENT_ASSERTIONS'
                              example: false
                              type: boolean
                            PATENT_DAMAGES_ASSIGNED:
                              description: 'Set when the domain is PATENT and damages higher than 0 have been assigned by the judge that are of one of the following types: INFRINGEMENT, BREACH_OF_CONTRACT, PUNITIVE, UNFAIR_COMPETITION


                                Flat name: PATENT_DAMAGES_ASSIGNED

                                Hierarchical name: BINDER.PATENT_DAMAGES_ASSIGNED'
                              example: false
                              type: boolean
                            PATENT_VALIDITY_CHALLENGES:
                              description: 'Set when the domain is PATENT and the first action is one of: OPPOSITION, INTER_PARTIES_REVIEW_PETITION, PTO_REEXAMINATION, EX_PARTE_REEXAMINATION_PETITION, PETITION_UNDER_TRANSITIONAL_PROGRAM, INVALIDITY_CANCELLATION, INTERFERENCE


                                Flat name: PATENT_VALIDITY_CHALLENGES

                                Hierarchical name: BINDER.PATENT_VALIDITY_CHALLENGES'
                              example: false
                              type: boolean
                            REMEDY:
                              items:
                                description: 'Any remedies granted during the case such as preliminary or permanent injunctions.


                                  Flat name: REMEDY

                                  Hierarchical name: BINDER.REMEDY'
                                example: PRELIMINARY INJUNCTION TO STOP INFRINGEMENT", "PERMANENT INJUNCTION TO STOP INFRINGEMENT", "SEIZURE OF INFRINGING GOODS"," DELIVERY UP OF GOODS", "WITHDRAWAL OF GOODS FROM THE MARKET", "DESTRUCTION OF GOODS
                                type: string
                              type: array
                            RIGHTS:
                              properties:
                                COPYRIGHTS:
                                  properties:
                                    ANONYMOUS:
                                      description: 'Whether the right is anonymous or not.


                                        Flat name: COPYRIGHT_ANONYMOUS

                                        Hierarchical name: BINDER.RIGHTS.COPYRIGHTS.ANONYMOUS'
                                      example: false
                                      type: boolean
                                    DESCRIPTION:
                                      description: 'A description of the copyright.


                                        Flat name: COPYRIGHT_DESCRIPTION

                                        Hierarchical name: BINDER.RIGHTS.COPYRIGHTS.DESCRIPTION'
                                      example: DESIGN PATTERN -
                                      type: string
                                    ROLE:
                                      description: 'Whether the copyright belongs to the plaintiff or not.


                                        Flat name: COPYRIGHT_ROLE

                                        Hierarchical name: BINDER.RIGHTS.COPYRIGHTS.ROLE'
                                      example: PLAINTIFF
                                      type: string
                                    TITLE:
                                      description: 'The name of the copyright


                                        Flat name: COPYRIGHT_TITLE

                                        Hierarchical name: BINDER.RIGHTS.COPYRIGHTS.TITLE'
                                      example: NEW RED
                                      type: string
                                    TYPE:
                                      description: 'The type of copyright.


                                        Flat name: COPYRIGHT_TYPE

                                        Hierarchical name: BINDER.RIGHTS.COPYRIGHTS.TYPE'
                                      example: APPLIED_ART
                                      type: string
                                  type: object
                                DESIGNS:
                                  properties:
                                    ANONYMOUS:
                                      description: 'Whether the right is anonymous or not.


                                        Flat name: DESIGN_ANONYMOUS

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.ANONYMOUS'
                                      example: false
                                      type: boolean
                                    LOCARNO_CLASSES:
                                      description: 'The Locarno classes associated with the design.


                                        Flat name: DESIGN_LOCARNO_CLASS

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.LOCARNO_CLASSES'
                                      example: 3.01,21.02
                                      type: string
                                    PRODUCT:
                                      description: 'The type of product of the design.


                                        Flat name: DESIGN_PRODUCT

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.PRODUCT'
                                      example: GAMEBOARDS
                                      type: string
                                    PRODUCT_LANGUAGE:
                                      description: 'The language of the design right.


                                        Flat name: DESIGN_PRODUCT_LANGUAGE

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.PRODUCT_LANGUAGE'
                                      example: EN
                                      type: string
                                    REGISTRATION_NUMBER:
                                      description: 'The registration number with which this design is registered.


                                        Flat name: DESIGN_REGISTRATION_NUMBER

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.REGISTRATION_NUMBER'
                                      example: 000074463-0001
                                      type: string
                                    REGISTRATION_OFFICE:
                                      description: 'The IP Organization with which the design is registered.


                                        Flat name: DESIGN_REGISTRATION_OFFICE

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.REGISTRATION_OFFICE'
                                      example: EM
                                      type: string
                                    REGISTRATION_STATUS:
                                      description: 'Whether the design is registered or not.


                                        Flat name: DESIGN_REGISTRATION_STATUS

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.REGISTRATION_STATUS'
                                      example: false
                                      type: boolean
                                    ROLE:
                                      description: 'Whether the design belongs to the plaintiff or not.


                                        Flat name: DESIGN_ROLE

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.ROLE'
                                      example: DEFENDANT
                                      type: string
                                    VERBAL_ELEMENT:
                                      description: 'The name of the design.


                                        Flat name: DESIGN_VERBAL_ELEMENT

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.VERBAL_ELEMENT'
                                      example: GAMES
                                      type: string
                                    VIENNA_CLASSES:
                                      description: 'The Vienna classes associated with the design.


                                        Flat name: DESIGN_VIENNA_CLASS

                                        Hierarchical name: BINDER.RIGHTS.DESIGNS.VIENNA_CLASSES'
                                      example: 27.05,27.05
                                      type: string
                                  type: object
                                DOMAIN_NAMES:
                                  properties:
                                    ANONYMOUS:
                                      description: 'Whether the right is anonymous or not.


                                        Flat name: DOMAIN_NAME_ANONYMOUS

                                        Hierarchical name: BINDER.RIGHTS.DOMAIN_NAMES.ANONYMOUS'
                                      example: false
                                      type: boolean
                                    DOMAIN_NAME:
                                      description: 'The name of the domain.


                                        Flat name: DOMAIN_NAME

                                        Hierarchical name: BINDER.RIGHTS.DOMAIN_NAMES.DOMAIN_NAME'
                                      example: TRADEMARK
                                      type: string
                                    ROLE:
                                      description: 'Whether the domain name belongs to the plaintiff or not.


                                        Flat name: DOMAIN_NAME_ROLE

                                        Hierarchical name: BINDER.RIGHTS.DOMAIN_NAMES.ROLE'
                                      example: DEFENDANT
                                      type: string
                                    TLD:
                                      description: 'The top-level domain.


                                        Flat name: DOMAIN_NAME_TLD

                                        Hierarchical name: BINDER.RIGHTS.DOMAIN_NAMES.TLD'
                                      example: .BIZ
                                      type: string
                                  type: object
                                PATENTS:
                                  properties:
                                    AMENDED_CLAIMS:
                                      description: 'Whether amendments to the patent claims were made.


                                        Flat name: _BINDER.RIGHTS.PATENTS.AMENDED_CLAIMS

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.AMENDED_CLAIMS'
                                      example: false
                                      type: boolean
                                    ANONYMOUS:
                                      description: 'Whether the patent right is anonymous or not.


                                        Flat name: PATENT_ANONYMOUS

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.ANONYMOUS'
                                      example: false
                                      type: boolean
                                    APPLICATION_ID:
                                      description: 'Only applicable for Patstat inventions. The identifier with which the invention''s application is known in Patstat.


                                        Flat name: PATENT_APPLICATION_ID

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.APPLICATION_ID'
                                      example: '"49084922",'
                                      type: string
                                    APPLICATION_NUMBER:
                                      description: 'The application number of the invention.


                                        Flat name: PATENT_APPLICATION_NUMBER

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.APPLICATION_NUMBER'
                                      example: FR9103887(A)
                                      type: string
                                    DWPI_APPLICATION_NUMBER:
                                      description: 'Unique identifier that represents the Derwent application number.


                                        Flat name: PATENT_DWPI_APPLICATION_NUMBER

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.DWPI_APPLICATION_NUMBER'
                                      example: FR19913887A
                                      type: string
                                    EXTENDED_FAMILY_ID:
                                      description: 'Applies mostly to Patstat inventions and is in limited cases available for Darts inventions, the Inpadoc Family Id of the invention.


                                        Flat name: PATENT_INPADOC_FAMILY_ID

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.EXTENDED_FAMILY_ID'
                                      example: '1464080'
                                      type: string
                                    INDEX:
                                      description: 'An index relative to this right. This is used in order to be able to link right assessments to a right.


                                        Flat name: PATENT_INDEX

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.INDEX'
                                      example: 1
                                      type: number
                                    INFRINGEMENT:
                                      description: 'Whether according to the latest ON_THE_MERITS or OTHER_DECISIONS, the patent was seen as valid


                                        Flat name: PATENT_INFRINGEMENT

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.INFRINGEMENT'
                                      example: 'YES'
                                      type: string
                                    INVENTION_ID:
                                      description: 'Unique identifier that represents the invention.


                                        Flat name: PATENT_INVENTION_ID

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.INVENTION_ID'
                                      example: 25448433
                                      type: number
                                    IPC_CLASSES:
                                      items:
                                        description: 'The patent classification code.


                                          Flat name: IPC_CLASS_CODE

                                          Hierarchical name: BINDER.RIGHTS.PATENTS.IPC_CLASSES'
                                        example: A23
                                        type: string
                                      type: array
                                    NATURE:
                                      description: 'The type of the patent.


                                        Flat name: PATENT_TYPE

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.NATURE'
                                      example: INVENTION_PATENT
                                      type: string
                                    OPTIMIZED_TITLE:
                                      description: 'The title of the invention.


                                        Flat name: PATENT_OPTIMIZED_TITLE

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.OPTIMIZED_TITLE'
                                      example: DISPOSITIF APPLICATEUR POUR RECIPIENT CONTENANT UN PRODUIT LIQUIDE OU FLUIDE A OUVERTURE ET FERMETURE AUTOMATIQUE DE DEBIT.
                                      type: string
                                    PUBLICATION_NUMBER:
                                      description: 'The publication number as it is mentioned in the decisions of this Binder.


                                        Flat name: PATENT_PUBLICATION_NUMBER

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.PUBLICATION_NUMBER'
                                      example: FR2674453(A1)
                                      type: string
                                    REFERENCES:
                                      properties:
                                        AUTHORITY:
                                          description: 'The two-character IP authority with which the application/publication reference is registered.


                                            Flat name: PATENT_REFERENCE_AUTHORITY

                                            Hierarchical name: BINDER.RIGHTS.PATENTS.REFERENCES.AUTHORITY'
                                          example: FR
                                          type: string
                                        KIND:
                                          description: 'The kind code for the application or publication reference.


                                            Flat name: PATENT_REFERENCE_KIND

                                            Hierarchical name: BINDER.RIGHTS.PATENTS.REFERENCES.KIND'
                                          example: A
                                          type: string
                                        NUMBER:
                                          description: 'The reference assigned to the application or publication. If original is true, this reference is in the format of the IP office, otherwise it is in the Patstat or EPO format.


                                            Flat name: PATENT_REFERENCE_NUMBER

                                            Hierarchical name: BINDER.RIGHTS.PATENTS.REFERENCES.NUMBER'
                                          example: 7709CHENP2014
                                          type: string
                                        ORIGINAL:
                                          description: 'Whether the reference is in the format with which it was registered with the IP office, or it is in the normalized format defined by Patstat.


                                            Flat name: PATENT_REFERENCE_ORIGINAL

                                            Hierarchical name: BINDER.RIGHTS.PATENTS.REFERENCES.ORIGINAL'
                                          example: false
                                          type: boolean
                                        TYPE:
                                          description: 'Whether the reference is an application or publication reference.


                                            Flat name: PATENT_REFERENCE_TYPE

                                            Hierarchical name: BINDER.RIGHTS.PATENTS.REFERENCES.TYPE'
                                          example: APPLICATION
                                          type: string
                                      type: object
                                    ROLE:
                                      description: 'Whether the patent belongs to the plaintiff or not.


                                        Flat name: PATENT_ROLE

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.ROLE'
                                      example: DEFENDANT
                                      type: string
                                    SIMPLE_FAMILY_ID:
                                      description: 'Applies mostly to Patstat inventions and is in limited cases available for Darts inventions, the DocDB Family Id of the invention.


                                        Flat name: PATENT_DOCDB_FAMILY_ID

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.SIMPLE_FAMILY_ID'
                                      example: '32303805'
                                      type: string
                                    SOURCE:
                                      description: 'Whether the information was imported from the Patstat database or was manually encoded in Darts.


                                        Flat name: PATENT_SOURCE

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.SOURCE'
                                      example: PATSTAT
                                      type: string
                                    TITLES:
                                      properties:
                                        LANGUAGE:
                                          description: 'The language of the invention title.


                                            Flat name: PATENT_TITLE_LANGUAGE

                                            Hierarchical name: BINDER.RIGHTS.PATENTS.TITLES.LANGUAGE'
                                          example: FR
                                          type: string
                                        TITLE:
                                          description: 'The actual title of the invention.


                                            Flat name: PATENT_TITLE

                                            Hierarchical name: BINDER.RIGHTS.PATENTS.TITLES.TITLE'
                                          example: DISPOSITIF APPLICATEUR POUR RECIPIENT CONTENANT UN PRODUIT LIQUIDE OU FLUIDE A OUVERTURE ET FERMETURE AUTOMATIQUE DE DEBIT.
                                          type: string
                                      type: object
                                    VALIDITY:
                                      description: 'Whether according to the latest ON_THE_MERITS decision in this case the patent was seen as infringed


                                        Flat name: PATENT_VALIDITY

                                        Hierarchical name: BINDER.RIGHTS.PATENTS.VALIDITY'
                                      example: VALID
                                      type: string
                                  type: object
                                TRADEMARKS:
                                  properties:
                                    ANONYMOUS:
                                      description: 'Whether the right is anonymous or not.


                                        Flat name: TRADEMARK_ANONYMOUS

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.ANONYMOUS'
                                      example: false
                                      type: boolean
                                    COMPUMARK_GUID:
                                      description: 'The unique identifier used by CompuMark to identify this trademark.


                                        Flat name: TRADEMARK_ID

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.COMPUMARK_GUID'
                                      example: CTMSI4398BAA8118911E19FC38AE717F0E620
                                      type: string
                                    LOCARNO_CLASSES:
                                      description: 'The Locarno Classes for which the trademark was registered.


                                        Flat name: TRADEMARK_LOCARNO_CLASS

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.LOCARNO_CLASSES'
                                      example: 17.01,17.01
                                      type: string
                                    NICE_CLASSES:
                                      description: 'The Nice Classes for which the trademark was registered.


                                        Flat name: TRADEMARK_NICE_CLASS

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.NICE_CLASSES'
                                      example: 14.11.","14.H3.", "18.C2.", "25.146.",  "25.151.","25.26.","25.3.","25.45.",  "34.3.",  "34.H2.","42.C77.","9.331.
                                      type: string
                                    REGISTRATION_NUMBER:
                                      description: 'The number with which the trademark is registered.


                                        Flat name: TRADEMARK_REGISTRATION_NUMBER

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.REGISTRATION_NUMBER'
                                      example: 01424922
                                      type: string
                                    REGISTRATION_OFFICE:
                                      description: 'The IP Organization with which the trademark is registered.


                                        Flat name: TRADEMARK_REGISTRATION_OFFICE

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.REGISTRATION_OFFICE'
                                      example: EU
                                      type: string
                                    ROLE:
                                      description: 'Whether the trademark belongs to the plaintiff or not.


                                        Flat name: TRADEMARK_ROLE

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.ROLE'
                                      example: DEFENDANT
                                      type: string
                                    TYPE:
                                      description: 'The type of trademark.


                                        Flat name: TRADEMARK_TYPE

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.TYPE'
                                      example: VERBAL
                                      type: string
                                    VERBAL_ELEMENT:
                                      description: 'The name of the trademark.


                                        Flat name: TRADEMARK_VERBAL_ELEMENT

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.VERBAL_ELEMENT'
                                      example: GOCARD
                                      type: string
                                    VIENNA_CLASSES:
                                      description: 'The Vienna Classes for which the trademark was registered.


                                        Flat name: TRADEMARK_VIENNA_CLASS

                                        Hierarchical name: BINDER.RIGHTS.TRADEMARKS.VIENNA_CLASSES'
                                      example: 27.05.C7","27.05.01
                                      type: string
                                  type: object
                              type: object
                            SETTLED:
                              description: 'Whether the parties in this binder made an agreement to settle (not only on the costs, but on the entire binder).


                                Flat name: SETTLED

                                Hierarchical name: BINDER.SETTLED'
                              example: false
                              type: boolean
                            TOTAL_DAMAGES:
                              items:
                                description: 'The total sum of damages awarded in a case, per type and currency.


                                  Flat name: _BINDER.TOTAL_DAMAGES

                                  Hierarchical name: BINDER.TOTAL_DAMAGES'
                                properties: {}
                                type: object
                              type: array
                            WITHDRAWN:
                              description: 'Whether the plaintiff or defendant has withdrawn from this binder.


                                Flat name: WITHDRAWN

                                Hierarchical name: BINDER.WITHDRAWN'
                              example: false
                              type: boolean
                          type: object
                        EXPORT_TIMESTAMP:
                          description: 'Value containing stamped date (YYYY-MM-DD) & Time of day (hr:MM:SEC)

                            This field is of type timestamp but will be serialized to type string.


                            Flat name: _EXPORT_TIMESTAMP

                            Hierarchical name: EXPORT_TIMESTAMP'
                          example: '2022-02-06 07:41:56.000'
                          type: string
                        GUID:
                          description: 'Unique IP case identifier


                            Flat name: GUID

                            Hierarchical name: GUID'
                          example: '2706413'
                          type: string
                      type: object
                    type: array
                  total_count:
                    description: Total number of results
                    type: number
                type: object
          description: Success
        '400':
          content:
            application/json:
              example:
                code: 1200
                error: Invalid request. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Invalid request
        '401':
          content:
            application/json:
              example:
                code: 1100
                error: Insufficient permissions to access this resources. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                code: 10200
                error: Insufficient permissions to use attribute values in the resources request. Please contact support if you believe this is an error
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                code: 1201
                error: Endpoint not found
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Not found
        '500':
          content:
            application/json:
              example:
                code: 1300
                error: Something went wrong. Please try again, and contact support if error persists.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Internal server error
      summary: Call to fetch one or more full caselaw documents by GUID, with possibile filters
      tags:
      - IP Cases
  /caselaw/document/json/{binder_id}:
    get:
      description: Call to fetch a full caselaw document by GUID.
      operationId: getCaselawDocument
      parameters:
      - description: Unique ID of caselaw document to retrieve
        in: path
        name: binder_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  BINDER:
                    properties:
                      AREA:
                        description: 'Represents the legal area where the case takes place as defined by Darts-ip (i.e. countries grouped together under harmonized legal provisions).


                          Flat name: AREA

                          Hierarchical name: BINDER.AREA'
                        example: JAPAN
                        type: string
                      CASE_DOMAINS:
                        items:
                          description: 'The IP right types that the case pertains to. Possible values are: copyright, design_model, domain_name, patent, trademark, unfair_competition or other


                            Flat name: CASE_DOMAIN

                            Hierarchical name: BINDER.CASE_DOMAINS'
                          example: '["PATENT", "DOMAIN_NAME", "TRADEMARK"]'
                          type: string
                        type: array
                      CASE_NAME:
                        description: 'The name of the Binder, about 4% of our Binders have a case name.


                          Flat name: CASE_NAME

                          Hierarchical name: BINDER.CASE_NAME'
                        example: EX PARTE SAGHEER AHMAD
                        type: string
                      CASE_REFERENCES:
                        items:
                          description: 'The docket references for this specific case.


                            Flat name: _BINDER.CASE_REFERENCES

                            Hierarchical name: BINDER.CASE_REFERENCES'
                          example: 81 O 25/99", "6 U 179/99
                          type: string
                        type: array
                      CASE_RESOLUTION:
                        description: 'The outcome of the case according to the information collected. Possible values are: claimant wins, defendant wins, split win, settled, withdrawn or unknown (null value).


                          Flat name: CASE_RESOLUTION

                          Hierarchical name: BINDER.CASE_RESOLUTION'
                        example: SETTLED
                        type: string
                      CASE_STAGE:
                        description: 'The current stage of the case according to the information collected


                          Flat name: CASE_STAGE

                          Hierarchical name: BINDER.CASE_STAGE'
                        example: HEARING
                        type: string
                      CASE_STATUS:
                        description: 'The current status of an IP Case. Possible values are open, closed or inactive.


                          Flat name: CASE_STATUS

                          Hierarchical name: BINDER.CASE_STATUS'
                        example: CLOSED
                        type: string
                      CLOSED:
                        description: 'Whether the binder has been closed. (US Only)


                          Flat name: CLOSED

                          Hierarchical name: BINDER.CLOSED'
                        example: false
                        type: boolean
                      DOCKETS:
                        properties:
                          COURT:
                            properties:
                              AREA:
                                description: 'The legal area this court is part of.


                                  Flat name: DOCKET_COURT_AREA

                                  Hierarchical name: BINDER.DOCKETS.COURT.AREA'
                                example: EUROPE
                                type: string
                              COURT_COUNTRY:
                                description: 'A two-character WIPO ST.3 code representing the country or the international organization the court is part of.


                                  Flat name: DOCKET_COURT_COUNTRY

                                  Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY'
                                example: RU
                                type: string
                              COURT_COUNTRY_DERIVED:
                                properties:
                                  COURT_COUNTRY_DERIVED_ISO_3166_ALPHA2:
                                    description: 'A two-character code mapping from the court country code to the countries belonging to the court country code


                                      Flat name: DOCKET_COURT_COUNTRY_DERIVED_ISO_3166_ALPHA2

                                      Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY_DERIVED.COURT_COUNTRY_DERIVED_ISO_3166_ALPHA2'
                                    example: AD
                                    type: string
                                  COURT_COUNTRY_DERIVED_ISO_3166_ALPHA3:
                                    description: 'A three-character code mapping from the court country code to the countries belonging to the court country code


                                      Flat name: DOCKET_COURT_COUNTRY_DERIVED_ISO_3166_ALPHA3

                                      Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY_DERIVED.COURT_COUNTRY_DERIVED_ISO_3166_ALPHA3'
                                    example: AND
                                    type: string
                                  COURT_COUNTRY_DERIVED_TEXT:
                                    description: 'The country name mapping from the court country code to the countries belonging to the country code


                                      Flat name: DOCKET_COURT_COUNTRY_DERIVED_TEXT

                                      Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY_DERIVED.COURT_COUNTRY_DERIVED_TEXT'
                                    example: ALBANIA
                                    type: string
                                type: object
                              COURT_COUNTRY_TEXT:
                                description: 'The country or the international organization the court is part of.


                                  Flat name: DOCKET_COURT_COUNTRY_TEXT

                                  Hierarchical name: BINDER.DOCKETS.COURT.COURT_COUNTRY_TEXT'
                                example: AFRICAN INTELLECTUAL PROPERTY ORGANIZATION
                                type: string
                              NAME:
                                description: 'The English name of the Court.


                                  Flat name: DOCKET_COURT_NAME

                                  Hierarchical name: BINDER.DOCKETS.COURT.NAME'
                                example: FEDERAL SERVICE FOR IP - WIPO
                                type: string
                              PATH:
                                description: 'Information about the Court in which this Docket was handled.


                                  Flat name: DOCKET_COURT_PATH

[...]
