openapi: 3.2.0
info:
  contact:
    email: Derwent.support@clarivate.com
    name: Derwent API
  description: Derwent APIs provide seamless access to enriched patent data, enabling users to enhance their research capabilities and make faster, more informed decisions.
  termsOfService: https://clarivate.com/legal-center/terms-of-business/product-service-terms/
  title: Intellectual Property (IP) Data Patents API
  version: 1.0.7
servers:
- url: https://api.clarivate.com
security:
- key: []
tags:
- name: Patents
paths:
  /patents/document/abstract/availability:
    post:
      description: Query the availability of abstract journals
      operationId: checkPatentAbstractAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document_availability_request_patent'
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  available:
                  - pn: US3201444A
                    url: https://docdelivery.derwentinnovation.com/get-file/00631877000165440003967700307006/US3201444(A).pdf
                  unavailable:
                  - JP51021981B
                properties:
                  results:
                    items:
                      properties:
                        available:
                          description: patent with PDFs
                          type: string
                        unavailable:
                          description: patent do not have PDFs
                          type: string
                      required:
                      - available
                      - unavailable
                      type: object
                    type: array
                type: object
          description: Success
        '400':
          content:
            application/json:
              example:
                code: 1200
                error: Invalid request. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Invalid request
        '401':
          content:
            application/json:
              example:
                code: 1100
                error: Insufficient permissions to access this resources. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                code: 10200
                error: Insufficient permissions to use attribute values in the resources request. Please contact support if you believe this is an error
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                code: 1201
                error: Endpoint not found
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Not found
        '500':
          content:
            application/json:
              example:
                code: 1300
                error: Something went wrong. Please try again, and contact support if error persists.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Internal server error
      summary: Check Abstract availability and get URLS for download
      tags:
      - Patents
  /patents/document/availability:
    post:
      description: Query the availability of patents
      operationId: checkPatentDocumentAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document_availability_request_patent'
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  available:
                  - pn: US8326177B2
                    url: https://docdelivery.derwentinnovation.com/get-file/00531747006127410038365200136292/US8326177(X601).pdf
                  unavailable:
                  - US99470720B2
                properties:
                  results:
                    items:
                      properties:
                        available:
                          description: patent with PDFs
                          type: string
                        unavailable:
                          description: patent do not have PDFs
                          type: string
                      required:
                      - available
                      - unavailable
                      type: object
                    type: array
                type: object
          description: Success
        '400':
          content:
            application/json:
              example:
                code: 1200
                error: Invalid request. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Invalid request
        '401':
          content:
            application/json:
              example:
                code: 1100
                error: Insufficient permissions to access this resources. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                code: 10200
                error: Insufficient permissions to use attribute values in the resources request. Please contact support if you believe this is an error
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                code: 1201
                error: Endpoint not found
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Not found
        '500':
          content:
            application/json:
              example:
                code: 1300
                error: Something went wrong. Please try again, and contact support if error persists.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Internal server error
      summary: Check Patent availability and get URLS for download
      tags:
      - Patents
  /patents/document/images/{document_guid}:
    get:
      description: Fetch a list of the images associated with this document, as URLs
      operationId: getPatentImages
      parameters:
      - description: Unique document ID
        in: path
        name: document_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image_url_list_patent'
          description: Success
        '400':
          content:
            application/json:
              example:
                code: 1200
                error: Invalid request. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Invalid request
        '401':
          content:
            application/json:
              example:
                code: 1100
                error: Insufficient permissions to access this resources. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                code: 10200
                error: Insufficient permissions to use attribute values in the resources request. Please contact support if you believe this is an error
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                code: 1201
                error: Endpoint not found
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Not found
        '500':
          content:
            application/json:
              example:
                code: 1300
                error: Something went wrong. Please try again, and contact support if error persists.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Internal server error
      summary: API to retrieve images for patents
      tags:
      - Patents
  /patents/document/json:
    post:
      description: Call to fetch one or more full patent documents by GUID, with possibile filters.
      operationId: getPatentDocuments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/records_request_patent'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  result:
                    description: Page of results
                    items:
                      properties:
                        APPLICATION_DATE:
                          description: 'The date (YYYY-MM-DD) an application was filed. This is not the same as the Publication Date, which is the date the application is finally published.

                            This field is of type date but will be serialized to type string.


                            Flat name: APPLICATION_DATE

                            Hierarchical name: APPLICATION_DATE'
                          example: '2012-11-21'
                          format: date
                          type: string
                        APPLICATION_NUMBER:
                          description: 'A unique number assigned to an application when it is filed. This is not the same as the Publication Number, which is assigned when the application is published. For many authorities, the first four digits of the application number (following the country code) indicate the year the application was filed.

                            This field will be normalized to uppercase.


                            Flat name: APPLICATION_NUMBER

                            Hierarchical name: APPLICATION_NUMBER'
                          example: WO2012EP73219A
                          type: string
                        APPLICATION_NUMBER_ORIGINAL:
                          description: '


                            Flat name: _APPLICATION_NUMBER_ORIGINAL

                            Hierarchical name: APPLICATION_NUMBER_ORIGINAL'
                          type: string
                        APPLICATION_REGISTRATION_OFFICE:
                          description: 'The country / region in which an application was filed.

                            This field will be normalized to uppercase.


                            Flat name: APPLICATION_REGISTRATION_OFFICE

                            Hierarchical name: APPLICATION_REGISTRATION_OFFICE'
                          example: EP
                          type: string
                        ASSIGNEES_CURRENT_US:
                          items:
                            description: 'Entity to which this patent is currently assigned (who owns the patent currently), based on US Reassignment data. For more information see [Assignee Current US](https://www.derwentinnovation.com/tip-innovation/support/help/patent_fields.htm#assignee-current_us)


                              Flat name: ASSIGNEE_CURRENT_US

                              Hierarchical name: ASSIGNEES_CURRENT_US'
                            example: CONOPCO, INC., D/B/A UNILEVER
                            type: string
                          type: array
                        ASSIGNEES_ORIGINAL:
                          items:
                            description: 'The legal person or entity who owned the patent property right at the time of grant. This may or may not be the inventor and is also known as the applicant by some authorities.


                              Flat name: _ASSIGNEES_ORIGINAL

                              Hierarchical name: ASSIGNEES_ORIGINAL'
                            properties:
                              TYPE:
                                description: 'A single character representing the type of publication. I = Main invention publication;  T = Translation;  R = Reissued patent;  U = Utility Model;  S = Statutory Invention Publication;  P = NTIS Publication;  V = Trial Voluntary Protest Program.


                                  Flat name: ASSIGNEE_ORIGINAL_TYPE

                                  Hierarchical name: ASSIGNEES_ORIGINAL.TYPE'
                                example: P
                                type: string
                            type: object
                          type: array
                        ASSIGNEE_NAMES:
                          items:
                            description: 'The person or entity who owned/owns the patent. See [Optimized Assignee and Ultimate Parent](https://www.derwentinnovation.com/tip-innovation/support/help/predictive_data/optimized_assignee.htm) on how we determine the owners.

                              This field will be normalized to uppercase.


                              Flat name: ASSIGNEE_NAME

                              Hierarchical name: ASSIGNEE_NAMES'
                            example: GOOGLE INC.
                            type: string
                          type: array
                        AUTHOR_ABSTRACTS:
                          items:
                            description: 'The front page abstracts as written by the author.


                              Flat name: _AUTHOR_ABSTRACTS

                              Hierarchical name: AUTHOR_ABSTRACTS'
                            example: The French author's abstract text in xml
                            properties: {}
                            type: object
                          type: array
                        BACKWARD_CITATION:
                          items:
                            description: '


                              Flat name: _BACKWARD_CITATION

                              Hierarchical name: BACKWARD_CITATION'
                            properties:
                              APPLICATION_DATE:
                                description: '

                                  This field is of type date but will be serialized to type string.


                                  Flat name: _BACKWARD_CITATION.APPLICATION_DATE

                                  Hierarchical name: BACKWARD_CITATION.APPLICATION_DATE'
                                format: date
                                type: string
                              ASSIGNEE:
                                description: '


                                  Flat name: _BACKWARD_CITATION.ASSIGNEE

                                  Hierarchical name: BACKWARD_CITATION.ASSIGNEE'
                                type: string
                              COUNTRY_CODE:
                                description: '


                                  Flat name: _BACKWARD_CITATION.COUNTRY_CODE

                                  Hierarchical name: BACKWARD_CITATION.COUNTRY_CODE'
                                type: string
                              DWPI_INVENTOR_NAMES:
                                description: '


                                  Flat name: _BACKWARD_CITATION.DWPI_INVENTOR_NAMES

                                  Hierarchical name: BACKWARD_CITATION.DWPI_INVENTOR_NAMES'
                                type: string
                              DWPI_TITLE:
                                description: '


                                  Flat name: _BACKWARD_CITATION.DWPI_TITLE

                                  Hierarchical name: BACKWARD_CITATION.DWPI_TITLE'
                                type: string
                              EARLIEST_PRIORITY_DATE:
                                description: '

                                  This field is of type date but will be serialized to type string.


                                  Flat name: _BACKWARD_CITATION.EARLIEST_PRIORITY_DATE

                                  Hierarchical name: BACKWARD_CITATION.EARLIEST_PRIORITY_DATE'
                                format: date
                                type: string
                              KIND_CODE:
                                description: '


                                  Flat name: _BACKWARD_CITATION.KIND_CODE

                                  Hierarchical name: BACKWARD_CITATION.KIND_CODE'
                                type: string
                              MEMBERS:
                                properties:
                                  RELEVANCE_CATEGORY:
                                    description: '


                                      Flat name: _BACKWARD_CITATION.MEMBERS.RELEVANCE_CATEGORY

                                      Hierarchical name: BACKWARD_CITATION.MEMBERS.RELEVANCE_CATEGORY'
                                    type: string
                                type: object
                              PUBLICATION_NUMBER:
                                description: '


                                  Flat name: _BACKWARD_CITATION.PUBLICATION_NUMBER

                                  Hierarchical name: BACKWARD_CITATION.PUBLICATION_NUMBER'
                                type: string
                            type: object
                          type: array
                        CLAIMS:
                          items:
                            description: 'Defines the boundaries of an invention, and therefore lays down what the patent does and does not cover.


                              Flat name: _CLAIMS

                              Hierarchical name: CLAIMS'
                            example: 1. A headgear apparatus I claim , wherein said eye shield member is adjustable with respect to said headband member.
                            properties: {}
                            type: object
                          type: array
                        CORRESPONDENTS:
                          items:
                            description: 'The correspondent acting on behalf of the patent applicant.


                              Flat name: _CORRESPONDENTS

                              Hierarchical name: CORRESPONDENTS'
                            properties: {}
                            type: object
                          type: array
                        CPCS:
                          items:
                            description: 'Cooperative Patent Classifications (CPC) are an extension of the IPC. They are divided into nine sections, A-H and Y presenting an identifier made up of letter and numbers, which in turn are sub-divided into classes, sub-classes, groups and sub-groups.


                              Flat name: _CPCS

                              Hierarchical name: CPCS'
                            properties: {}
                            type: object
                          type: array
                        CPCS_CURRENT:
                          items:
                            description: 'These are the most recent CPC symbols and they overwrite/replace any earlier classifications. They can come from the Front Page or from the EPO (DocDB, through its weekly updates, or MCD quarterly update).  For more information see [CPC symbol](https://www.derwentinnovation.com/tip-innovation/support/help/patent_fields.htm#cpc)

                              This field will be normalized to uppercase.


                              Flat name: CPC_CURRENT

                              Hierarchical name: CPCS_CURRENT'
                            example: G06N001000
                            type: string
                          type: array
                        DEAD_ALIVE_STATUS:
                          description: 'Patent and family status, dead (D) or alive (A) quickly shows you whether a patent or patent family is currently enforceable. Patent status uses a machine-learning algorithm to examine crucial patent data to determine the vitality status of a single patent or a patent family. The factors considered to predict patent status include: expiration date, legal status data, inherited status. If a record does not have an expiration date, filing date, and/or relevant legal status data, its status may be classified as Indeterminate (I). When a true/false is required, indeterminate should be considered as alive. [See the detailed process used to determine the status](https://www.derwentinnovation.com/tip-innovation/support/help/predictive_data/pat_fam_status_doa.htm)

                            This field will be normalized to uppercase.


                            Flat name: DEAD_ALIVE_STATUS

                            Hierarchical name: DEAD_ALIVE_STATUS'
                          example: D
                          type: string
                        DERWENT_BACKWARD_CITATION_COUNT:
                          description: 'Number of patents citing the DWPI family.

                            This field will be normalized to number.


                            Flat name: DERWENT_BACKWARD_CITATION_COUNT

                            Hierarchical name: DERWENT_BACKWARD_CITATION_COUNT'
                          example: 15
                          type: number
                        DERWENT_FORWARD_CITATION_COUNT:
                          description: 'Number of patents cited by at least one member of the DWPI family.

                            This field will be normalized to number.


                            Flat name: DERWENT_FORWARD_CITATION_COUNT

                            Hierarchical name: DERWENT_FORWARD_CITATION_COUNT'
                          example: 17
                          type: number
                        DESCRIPTIONS:
                          items:
                            description: 'Part of a patent application or specification. Discloses the invention as claimed, specifies the technical field to which the invention relates and indicates any prior art the applicant is aware of.


                              Flat name: _DESCRIPTIONS

                              Hierarchical name: DESCRIPTIONS'
                            example: characterised by ingredients other than fatty acid triglycerides
                            properties: {}
                            type: object
                          type: array
                        DESIGNATED_OFFICES:
                          items:
                            description: 'The designated states are the countries/regions in which an invention is protected in addition to the country/region, in which the patent for the invention is filed. Filings under the PCT are identified by filing region XX. Other filing regions are EP (European Patent Office), EA (Eurasian Patent Organization), AP (African Regional IP Organization) or OA (African Intellectual Property Organization).


                              Flat name: _DESIGNATED_OFFICES

                              Hierarchical name: DESIGNATED_OFFICES'
                            properties: {}
                            type: object
                          type: array
                        DOCDB_SIMPLE_FAMILY_ID:
                          description: 'A unique identifier for the simple family (a patent family identified/defined by INPADOC using INPADOC methodology.

                            This field will be normalized to number.


                            Flat name: DOCDB_SIMPLE_FAMILY_ID

                            Hierarchical name: DOCDB_SIMPLE_FAMILY_ID'
                          example: 7843694
                          type: number
                        DPCI_CITED_COUNTS:
                          properties:
                            ACCESSION_NUMBERS_TOTAL:
                              description: 'The number of unique Accession Numbers (showing the number of inventions) from the cited patents from any citation source

                                This field will be normalized to number.


                                Flat name: DPCI_CITED_COUNTS_ACCESSION_NUMBERS_TOTAL

                                Hierarchical name: DPCI_CITED_COUNTS.ACCESSION_NUMBERS_TOTAL'
                              example: 3
                              type: number
                            AUTHORITIES_TOTAL:
                              description: 'The number of unique patenting authorities (country codes) from the cited patents from any citation source. This shows the number of distinct regions where the cited patents are originating from.

                                This field will be normalized to number.


                                Flat name: DPCI_CITED_COUNTS_AUTHORITIES_TOTAL

                                Hierarchical name: DPCI_CITED_COUNTS.AUTHORITIES_TOTAL'
                              example: 3
                              type: number
                            NON_PATENTS_TOTAL:
                              description: 'The number of unique articles from the cited non-patents from any citation source

                                This field will be normalized to number.


                                Flat name: DPCI_CITED_COUNTS_NON_PATENTS_TOTAL

                                Hierarchical name: DPCI_CITED_COUNTS.NON_PATENTS_TOTAL'
                              example: 8
                              type: number
                            PATENTS_TOTAL:
                              description: 'The number of unique patent numbers from the cited patents from any citation source

                                This field will be normalized to number.


                                Flat name: DPCI_CITED_COUNTS_PATENTS_TOTAL

                                Hierarchical name: DPCI_CITED_COUNTS.PATENTS_TOTAL'
                              example: 4
                              type: number
                          type: object
                        DPCI_CITED_NON_PATENTS:
                          items:
                            description: 'Non-patent citation sources including abstracts and articles from scientific and technical literature.


                              Flat name: _DPCI_CITED_NON_PATENTS

                              Hierarchical name: DPCI_CITED_NON_PATENTS'
                            properties:
                              MEMBERS:
                                properties:
                                  FAMILY_MEMBER:
                                    description: 'Patent number of  the family member where the non-patent citation originally populated from.


                                      Flat name: _DPCI_CITED_NON_PATENTS.MEMBERS.FAMILY_MEMBER

                                      Hierarchical name: DPCI_CITED_NON_PATENTS.MEMBERS.FAMILY_MEMBER'
                                    example: US8178699B2
                                    type: string
                                  RELEVANCE_CATEGORY:
                                    description: 'Examiner-applied relevance codes of  the family member where the non-patent citation originally populated from.


                                      Flat name: _DPCI_CITED_NON_PATENTS.MEMBERS.RELEVANCE_CATEGORY

                                      Hierarchical name: DPCI_CITED_NON_PATENTS.MEMBERS.RELEVANCE_CATEGORY'
                                    example: A
                                    type: string
                                  SOURCE:
                                    description: 'Patent source of  the family member where the non-patent citation originally populated from.


                                      Flat name: _DPCI_CITED_NON_PATENTS.MEMBERS.SOURCE

                                      Hierarchical name: DPCI_CITED_NON_PATENTS.MEMBERS.SOURCE'
                                    example: 1 (Applicant)
                                    type: string
                                type: object
                              TEXT:
                                description: 'A detailed description of the non-patent property rights.


                                  Flat name: _DPCI_CITED_NON_PATENTS.TEXT

                                  Hierarchical name: DPCI_CITED_NON_PATENTS.TEXT'
                                example: 'J. C. LANCELOT ET AL.: A Facile Synthesis of New .beta.-Lactams, J. HETEROCYCL. CHEM., vol. 33, no. 2, 1996, pages 427 - 430, XP002220247,relevantClaims[1-5],relevantPassages[<compound>2</compound>]'
                                type: string
                            type: object
                          type: array
                        DPCI_CITED_PATENTS:
                          items:
                            description: 'Backward citing patents


                              Flat name: _DPCI_CITED_PATENTS

                              Hierarchical name: DPCI_CITED_PATENTS'
                            properties:
                              DWPI_INVENTOR_NAMES:
                                description: 'DWPI Inventor names of the cited patent.


                                  Flat name: _DPCI_CITED_PATENTS.DWPI_INVENTOR_NAMES

                                  Hierarchical name: DPCI_CITED_PATENTS.DWPI_INVENTOR_NAMES'
                                example: ALMENDAREZ M E|BUDZIK P J|BUDZIK P J H|JACKSON L K|LUDWIG C J|SHAH M
                                type: string
                              MEMBERS:
                                properties:
                                  RELEVANCE_CATEGORY:
                                    description: 'Examiner-applied relevance codes of  the family member where the patent citation originally populated from.


                                      Flat name: _DPCI_CITED_PATENTS.MEMBERS.RELEVANCE_CATEGORY

                                      Hierarchical name: DPCI_CITED_PATENTS.MEMBERS.RELEVANCE_CATEGORY'
                                    example: A
                                    type: string
                                type: object
                            type: object
                          type: array
                        DPCI_CITING_COUNTS:
                          properties:
                            ACCESSION_NUMBERS_TOTAL:
                              description: 'The number of unique Accession Numbers (showing the number of inventions) from the citing patents from any citation source

                                This field will be normalized to number.


                                Flat name: DPCI_CITING_COUNTS_ACCESSION_NUMBERS_TOTAL

                                Hierarchical name: DPCI_CITING_COUNTS.ACCESSION_NUMBERS_TOTAL'
                              example: 3
                              type: number
                            AUTHORITIES_TOTAL:
                              description: 'The number of unique patenting authorities (country codes) from the citing patents from any citation source. This shows the number of distinct regions where the citing patents are originating from.

                                This field will be normalized to number.


                                Flat name: DPCI_CITING_COUNTS_AUTHORITIES_TOTAL

                                Hierarchical name: DPCI_CITING_COUNTS.AUTHORITIES_TOTAL'
                              example: 2
                              type: number
                            PATENTS_TOTAL:
                              description: 'The number of unique patent numbers from the citing patents from any citation source

                                This field will be normalized to number.


                                Flat name: DPCI_CITING_COUNTS_PATENTS_TOTAL

                                Hierarchical name: DPCI_CITING_COUNTS.PATENTS_TOTAL'
                              example: 4
                              type: number
                          type: object
                        DPCI_CITING_PATENTS:
                          items:
                            description: 'Forward citing patents.


                              Flat name: _DPCI_CITING_PATENTS

                              Hierarchical name: DPCI_CITING_PATENTS'
                            properties:
                              DWPI_ACCESSION_NUMBER:
                                description: 'DWPI Accession Number of the citing patent.


                                  Flat name: _DPCI_CITING_PATENTS.DWPI_ACCESSION_NUMBER

                                  Hierarchical name: DPCI_CITING_PATENTS.DWPI_ACCESSION_NUMBER'
                                example: 2018-43413E
                                type: string
                              DWPI_ASSIGNEES:
                                items:
                                  description: 'DWPI Assignee names and codes of the citing patent.


                                    Flat name: _DPCI_CITING_PATENTS.DWPI_ASSIGNEES

                                    Hierarchical name: DPCI_CITING_PATENTS.DWPI_ASSIGNEES'
                                  properties:
                                    CODE:
                                      description: 'DWPI Assignee codes of the citing patent.


                                        Flat name: _DPCI_CITING_PATENTS.DWPI_ASSIGNEES.CODE

                                        Hierarchical name: DPCI_CITING_PATENTS.DWPI_ASSIGNEES.CODE'
                                      example: ITHI-N
                                      type: string
                                    NAME:
                                      description: 'DWPI Assignee names of the citing patent.


                                        Flat name: _DPCI_CITING_PATENTS.DWPI_ASSIGNEES.NAME

                                        Hierarchical name: DPCI_CITING_PATENTS.DWPI_ASSIGNEES.NAME'
                                      example: ITH IMMUNE THERAPY HOLDINGS AB
                                      type: string
                                  type: object
                                type: array
                              DWPI_INVENTOR_NAMES:
                                items:
                                  description: 'DWPI Inventor names of the citing patent.


                                    Flat name: _DPCI_CITING_PATENTS.DWPI_INVENTOR_NAMES

                                    Hierarchical name: DPCI_CITING_PATENTS.DWPI_INVENTOR_NAMES'
                                  example: HU X
                                  type: string
                                type: array
                              MEMBERS:
                                items:
                                  description: 'Patent number, relevance, & source of  the family member where the non-patent citation originally populated from.


                                    Flat name: _DPCI_CITING_PATENTS.MEMBERS

                                    Hierarchical name: DPCI_CITING_PATENTS.MEMBERS'
                                  properties: {}
                                  type: object
                                type: array
                              PUBLICATION_NUMBER:
                                description: 'Publication number of the citing patent.


                                  Flat name: _DPCI_CITING_PATENTS.PUBLICATION_NUMBER

                                  Hierarchical name: DPCI_CITING_PATENTS.PUBLICATION_NUMBER'
                                example: CN108084062A
                                type: string
                            type: object
                          type: array
                        DWPI_ABSTRACT:
                          description: 'Enhanced abstract curated by the DWPI editorial technology experts. For more information see [DWPI-Abstract] (https://www.derwentinnovation.com/tip-innovation/support/help/patent_fields.htm#abstract_dwpi)

                            This field is of type composite but will be serialized to type object.


                            Flat name: _DWPI_ABSTRACT

                            Hierarchical name: DWPI_ABSTRACT'
                          example:
                            value: 'A method of diagnosing and treating systemic Human Papilloma Virus (HPV) in particular \"viral colonies\" is disclosed. This method involves covering the skin of the feet and legs of a suspected infected human with topical applications selected from povidine iodine, potassium permanganate, aspirin, salicylic acid, natural salicin, lactic acid, alcohol, ether and any combination or mixture of them, and detecting \"HPV colony centres\" or lesions. The method of treatment of the detected HPV colony centres on the infected human includes topically administering any combination, mixture or percentage of aspirin, salicylic acid, natural salicin, paracetamol, phenacetin, whole natural grapefruit, povidine iodine and alcohol. These ingredients may be pureed, crushed, powered and or dissolved in water or grapefruit puree/juice, iodine or alcohol. The method optionally may contain the following further steps: a) initial intestinal cleansing with grapefruit seed extract(GSE) and /or Epsom salts, b) stretching and exercising the core infected area, c) i)treatment of the core infected area with firstly a topical treatment of any combination mixture or percentage of pureed whole potato and /or aloe vera stems mixed with either aspirin, salicylic acid, natural salicin, paracetamol, phenacetin, podivine iodine, alcohol, and/or epsom salts, then the core infected area is wrapped tightly in a sealed layer of plastic sheeting, and ii) secondly treating with another and final topical application consisting of any combinations, mixes and percentages of powdered Tobacco/nicotine, paracetamol, alcohol, Epsom salts, phenacetin, salicylic acid, salicin and/or aspirin. The method is supported or underpinned by a healthy lifestyle, a specified restrictive diet which avoids sugars and wheat products and certain vegetables and restricts the type and amounts of carbohydrates, a regime of daily specified supplements including salt, kelp, GSE, vitamin C, cod liver oil and Epsom salts and daily unprotected exposure to the sun."'
                          properties:
                            ACTIVITY:
                              description: 'Covers the physiological or agrochemical action of chemical or biological entities using keywords selected from a closed list.


                                Flat name: _DWPI_ABSTRACT.ACTIVITY

                                Hierarchical name: DWPI_ABSTRACT.ACTIVITY'
                              example: Cytostatic. The cytostatic activity of the composition was tested against human breast cancer cell line MDA-MB-231 using in vitro tests. The results showed that the composition exhibited an IC50 value of 0.013%.
                              type: string
                            ADVANTAGE:
                              description: 'Covers the advantages of the invention that relate to the novel aspect, as described by the author.


                                Flat name: _DWPI_ABSTRACT.ADVANTAGE

                                Hierarchical name: DWPI_ABSTRACT.ADVANTAGE'
                              example: The structure is provided on a cover for connection of a drain tube rather than allowing the drain tube to dangle or otherwise move in an uncontrolled manner behind the cover. This positioning allows for controlled drainage in a manner that is preselected and retains the drain tubes in a desired position.
                              type: string
                            DETAILED_DESCRIPTION:
                              description: 'Detailed Description may contain a full description of the main independent claim of the invention.


                                Flat name: _DWPI_ABSTRACT.DETAILED_DESCRIPTION

                                Hierarchical name: DWPI_ABSTRACT.DETAILED_DESCRIPTION'
                              example: 'A new isolated nucleic acid molecule comprises at least 700 contiguous nucleotides from SEQ ID NO. 1, or comprises coding regions encoding SEQ ID NO. 2 selected from: a polynucleotide encoding amino acids 1-373 of SEQ ID NO. 2; a polynucleotide encoding amino acids 2-373 of SEQ ID NO. 2: a polynucleotide encoding amino acids 1-197 and 236-373 of SEQ ID NO. 2, where the amino acids 197 and 236 are joined by a peptide bond;'
                              type: string
                            USE:
                              description: 'Covers all claimed and disclosed uses (applications) of the invention. If there are no disclosed uses, this is stated.


                                Flat name: _DWPI_ABSTRACT.USE

                                Hierarchical name: DWPI_ABSTRACT.USE'
                              example: Vent cover for use in a recreational vehicle (RV) i.e. all-terrain vehicle (ATV), during camping and travel trips.
                              type: string
                          type: object
                        DWPI_ABSTRACT_EXT:
                          description: 'Additional patent details about chemical or pharmaceutical patents. Examples include experimental details, drug administration, or lists of specific compounds used. For more information see [Abastract-Extension-DWPI](https://www.derwentinnovation.com/tip-innovation/support/help/patent_fields.htm#abx)

                            This field is of type composite but will be serialized to type object.


                            Flat name: _DWPI_ABSTRACT_EXT

                            Hierarchical name: DWPI_ABSTRACT_EXT'
                          properties:
                            ADMINISTRATION:
                              description: 'Provides details of dosages and methods of administration for pharmaceutical/ veterinary patents, or application rates and methods in agrochemical patents.


                                Flat name: _DWPI_ABSTRACT_EXT.ADMINISTRATION

                                Hierarchical name: DWPI_ABSTRACT_EXT.ADMINISTRATION'
                              example: Dosage is 0.01-50 mg/kg, preferably 0.05-10 mg/kg. Administration can be through subcutaneous, intraperitoneal, intravenous, intramuscular, oral, pulmonary, suppository, and transdermal route.
                              type: string
                            DEFINITION:
                              description: 'Covers the Markush chemical formula definitions from the main and other independent claims if their inclusion in the Detailed Description field causes the field character limits to be exceeded. It also covers the narrower Markush formulae definitions given in the Dependent Claims.


                                Flat name: _DWPI_ABSTRACT_EXT.DEFINITION

                                Hierarchical name: DWPI_ABSTRACT_EXT.DEFINITION'
                              example: 'Full Definition: Fossil fuels includes waste plastics such as polyolefins and other combustible solid and semi-solid wastes are pre-treated with non-toxic auxiliary materials, mixed, molded, and then stacked in stoves that are limited to non-mandatory combustion uses, and molded fuel static'
                              type: string
                            DOCUMENTATION:
                              description: 'DWPI abstract data from 1994 to 1998. Includes the complete text from the DWPI Abstract, and includes a number of possible section headings. For more information see [DWDOC](https://www.derwentinnovation.com/tip-innovation/support/help/patent_fields.htm#abstract_dwpi)


                                Flat name: _DWPI_ABSTRACT_EXT.DOCUMENTATION

                                Hierarchical name: DWPI_ABSTRACT_EXT.DOCUMENTATION'
                              example: USE The process is useful for releasing salmon eggs, anise, blood, dairy products, molluscs, fish or crustacean parts or other materials that will attract when dispersed as particulates in water. ADVANTAGE The dried fish attracting powder coating the lure dissolves slowly to release the attractant. EXAMPLE The volume ratio of powdered mix (the attractant and carrier) to the blend of adhesive and gel-forming component was 1:1-20.
                              type: string
                            EXAMPLE:
                              description: 'A summary of a full patent example which provides experimental data in support of the claimed invention, or details about how the invention is carried out in practice.


                                Flat name: _DWPI_ABSTRACT_EXT.EXAMPLE

                                Hierarchical name: DWPI_ABSTRACT_EXT.EXAMPLE'
                              example: 'A dietary supplement comprising (g): purified water (19.29), ascorbyl palmitate (0.2), sorbic acid (0.16), sucrose (25), glycerin (5), xanthan gum (0.3), concentrated borage oil (40% γ-linolenic acid) (20), concentrated marine oil (33% eicosapentaenoic acid) (15), flavor (orange/peach) (15) and colorant (orange) (0.05) was prepared.'
                              type: string
                            PRIOR_ART:
                              description: 'This field usually does not contain information and is not currently populated.


                                Flat name: _DWPI_ABSTRACT_EXT.PRIOR_ART

                                Hierarchical name: DWPI_ABSTRACT_EXT.PRIOR_ART'
                              example: When electronic apparatuses using a tin-lead solder are disposed of as general industrial wastes and exposed to the atmospheric environment, a lead component in the solder elutes to give adverse effects to human bodies; this has accelerated the development of a tin-zinc unleaded solder.
                              type: string
                            SPECIFIC_COMPOUND:
                              description: 'Specific substances which relate to, or exemplify, the novel features of the invention.


                                Flat name: _DWPI_ABSTRACT_EXT.SPECIFIC_COMPOUND

                                Hierarchical name: DWPI_ABSTRACT_EXT.SPECIFIC_COMPOUND'
                              example: SPECIFIC SEQUENCES- Specifically claimed is stress-phosphorylated endoplasmic reticulum protein, Nogo B, comprising 373 amino acids (SEQ ID NO. 2), and encoded by a nucleic acid comprising 2240 bp (SEQ ID NO. 1). All sequences are fully defined in the specification.
                              type: string
                            WIDER_DISCLOSURE:
                              description: 'Identifies areas where the scope and/or novelty of the invention, as defined in the body of the specification, is broader than that of the main independent claim(s).


                                Flat name: _DWPI_ABSTRACT_EXT.WIDER_DISCLOSURE

                                Hierarchical name: DWPI_ABSTRACT_EXT.WIDER_DISCLOSURE'
                              example: 'Also disclosed are: antibodies, including monoclonal and polyclonal antibodies, that recognize all or part of the Nogo protein; a method of identifying the Nogo proteins using the antibodies; a method of identifying or quantifying expression products of the gene encoding the Nogo of the invention; a method of detecting cell stress, where the phosphorylation of the protein of the invention is detected or measured;'
                              type: string
                          type: object
                        DWPI_ACCESSION_NUMBER:
                          description: 'The DWPI Primary Accession number (also known as PAN) is a unique identifier for the whole DWPI family representing a single invention. The first four digits represent the year the record was created. DWPI has a strict family definition in which each member shares exact priorities (except for non-convention equivalents) with each and every other family member. INPADOC, in contrast, has a very broad family definition that includes divisions, continuations and continuations in part. All that is needed is a shared priority of any one member to another.

                            This field will be normalized to uppercase.


                            Flat name: DWPI_ACCESSION_NUMBER

                            Hierarchical name: DWPI_ACCESSION_NUMBER'
                          example: '2018741525'
                          type: string
                        DWPI_APPLICATION_NUMBER_BASIC:
                          description: 'The application number of the first member of the DWPI family.

                            This field will be normalized to uppercase.


                            Flat name: DWPI_APPLICATION_NUMBER_BASIC

                            Hierarchical name: DWPI_APPLICATION_NUMBER_BASIC'
                          example: WO2012EP73219A
                          type: string
                        DWPI_APPLICATION_REGISTRATION_OFFICE_BASIC:
                          description: 'Country code that is part of the application number of the basic publication for a given DWPI family and represents the first instance of the invention ex. (US).

                            This field will be normalized to uppercase.


                            Flat name: DWPI_APPLICATION_REGISTRATION_OFFICE_BASIC

                            Hierarchical name: DWPI_APPLICATION_REGISTRATION_OFFICE_BASIC'
                          example: EP
                          type: string
                        DWPI_ASSIGNEES:
                          items:
                            description: 'Standardized version of the assignee/applicant, as assigned during the review performed by DWPI editors. This standardized version is matched to our database of assignees to ensure that names are applied consistently.


                              Flat name: _DWPI_ASSIGNEES

                              Hierarchical name: DWPI_ASSIGNEES'
                            properties: {}
                            type: object
                          type: array
                        DWPI_CLASSES:
                          items:
                            description: 'The DWPI collection categorizes patent documents using two classification systems, [DWPI Class](https://www.derwentinnovation.com/tip-innovation/support/help/patent_fields/details/DWPI_Class_Details.htm) and DWPI Manual Codes. Subject specialists consistently apply these unique classification systems to the DWPI patent documents. DWPI Class is a broad, simple system, whereas DWPI Manual Codes are more detailed and granular. Both DWPI Class and DWPI Manual Codes cover all technologies within 20 subject areas, identified by Section letters A-X which are grouped into three broad categories for Chemistry, Engineering and Electronics.


                              Flat name: _DWPI_CLASSES

                              Hierarchical name: DWPI_CLASSES'
                            properties: {}
                            type: object
                          type: array
                        DWPI_DESIGNATED_OFFICE_COUNT:
                          description: 'The number of countries/regions within which protection of the DWPI family members was sought.

                            This field will be normalized to number.


                            Flat name: DWPI_DESIGNATED_OFFICE_COUNT

                            Hierarchical name: DWPI_DESIGNATED_OFFICE_COUNT'
                          example: 117
                          type: number
                        DWPI_EARLIEST_PRIORITY_DATE:
                          description: 'The earliest date for the DWPI family when the priority application was filed.

                            This field is of type date but will be serialized to type string.


                            Flat name: DWPI_EARLIEST_PRIORITY_DATE

                            Hierarchical name: DWPI_EARLIEST_PRIORITY_DATE'
                          example: '2017-04-21'
                          format: date
                          type: string
                        DWPI_FAMILY_MEMBER_COUNT:
                          description: 'The number of DWPI family members within a given family.

                            This field will be normalized to number.


                            Flat name: DWPI_FAMILY_MEMBER_COUNT

                            Hierarchical name: DWPI_FAMILY_MEMBER_COUNT'
                          example: 13
                          type: number
                        DWPI_FAMILY_STATUS:
                          description: 'DWPI Family status, dead (D) or alive (A) quickly shows you whether a DWPI patent family is currently enforceable. Patent status uses a machine-learning algorithm to examine crucial patent data to determine the vitality status of a single patent or a patent family. The factors considered to predict patent status include: expiration date, legal status data, inherited status. If a record does not have an expiration date, filing date, and/or relevant legal status data, its status may be classified as Indeterminate (I). A DWPI Family remains alive as long as at least one patent in the family is still active. When a true/false is required, indeterminate should be considered as alive. [See the detailed process used to determine the status](https://www.derwentinnovation.com/tip-innovation/support/help/predictive_data/pat_fam_status_doa.htm)

                            This field will be normalized to uppercase.


                            Flat name: DWPI_FAMILY_STATUS

                            Hierarchical name: DWPI_FAMILY_STATUS'
                          example: D
                          type: string
                        DWPI_INVENTORS:
                          items:
                            description: 'The DWPI Inventor information within a patent record.


                              Flat name: _DWPI_INVENTORS

                              Hierarchical name: DWPI_INVENTORS'
                            properties: {}
                            type: object
                          type: array
                        DWPI_KIND_CODE_BASIC:
                          description: 'Indicates the version or level of a patent document, also known as publication stage. See the list of [DWPI Kind Codes](https://www.derwentinnovation.com/tip-innovation/support/help/reference_docs/dwpi_kinds.htm)

                            This field will be normalized to uppercase.


                            Flat name: DWPI_KIND_CODE_BASIC

                            Hierarchical name: DWPI_KIND_CODE_BASIC'
                          example: A1
                          type: string
                        DWPI_MANUAL_CODES:
                          items:
                            description: 'A hierarchical indexing system to index the inventive and significant aspects of an invention, plus its commercial applications. The [DWPI Manual Codes](https://clarivate.com/derwent/dwpi-reference-center/dwpi-manual-code/) are consistently applied by specialist teams and divided into 20 technology sections.


                              Flat name: _DWPI_MANUAL_CODES

                              Hierarchical name: DWPI_MANUAL_CODES'
                            properties: {}
                            type: object
                          type: array
                        DWPI_PUBLICATION_NUMBER_BASIC:
                          description: 'The publication number of the first member of the DWPI family.

                            This field will be normalized to uppercase.


                            Flat name: DWPI_PUBLICATION_NUMBER_BASIC

                            Hierarchical name: DWPI_PUBLICATION_NUMBER_BASIC'
                          example: WO2018169585A1
                          type: string
                        DWPI_REGISTRATION_OFFICE_BASIC:
                          description: 'The registration office code (country code) of the first member of the DWPI family.

                            This field will be normalized to uppercase.


                            Flat name: DWPI_REGISTRATION_OFFICE_BASIC

                            Hierarchical name: DWPI_REGISTRATION_OFFICE_BASIC'
                          example: WO
                          type: string
                        DWPI_TITLE:
                          description: 'Provides more information than the original patent title, written specifically to enable easy review of large lists of records and covers brief details of the scope, use and novelty of the invention. For more information see [Derwent World Patents Index](https://support.clarivate.com/Patents/s/article/Derwent-World-Patents-Index-Derwent-value-added-information?language=en_US)

                            This field will be normalized to mixed-case.


                            Flat name: DWPI_TITLE

                            Hierarchical name: DWPI_TITLE'
                          example: Stacked quantum computing device, includes shielding layer which covers dielectric layer which covers control wire on dielectric substrate of second chip
                          type: string
                        DWPI_UPDATE:
                          description: 'This is a unique identification number assigned to each DWPI database update and comprises a 4-digit year followed by a 2-digit serial number (for updates before 1 Jan. 2020) or a 3-digit serial number (for updates on or after 1 Jan. 2020). The 4-digit year and 2- or 3-digit serial number the  represent the year of the update and the number of the update, respectively.

                            This field will be normalized to number.


                            Flat name: DWPI_UPDATE

                            Hierarchical name: DWPI_UPDATE'
                          example: 2021045
                          type: number
                        DWPI_UPDATE_BASIC:
                          description: 'The DWPI update number for the first member of the patent family. Find out more about the  [DWPI Data](https://www.derwentinnovation.com/tip-innovation/support/help/dwpi.htm).

                            This field will be normalized to number.


                            Flat name: DWPI_UPDATE_BASIC

                            Hierarchical name: DWPI_UPDATE_BASIC'
                          example: 199945
                          type: number
                        DW_KEYWORDS:
                          items:
                            description: 'Derwent Manual Code keywords list (multi-valued).


                              Flat name: DW_KEYWORDS

                              Hierarchical name: DW_KEYWORDS'
                            type: string
                          type: array
                        EARLIEST_PRIORITY_COUNTRY:
                          description: 'The earliest data of all the priority countries/regions on the record.

                            This field will be normalized to uppercase.


                            Flat name: EARLIEST_PRIORITY_COUNTRY

                            Hierarchical name: EARLIEST_PRIORITY_COUNTRY'
                          example: US
                          type: string
                        EARLIEST_PRIORITY_DATE:
                          description: 'The earliest data of all the priority dates on the record.

                            This field is of type date but will be serialized to type string.


                            Flat name: EARLIEST_PRIORITY_DATE

                            Hierarchical name: EARLIEST_PRIORITY_DATE'
                          example: '2017-03-13'
                          format: date
                          type: string
                        EARLIEST_PRIORITY_NUMBER:
                          description: 'The earliest data of all the priority numbers on the record.

                            This field will be normalized to uppercase.


                            Flat name: EARLIEST_PRIORITY_NUMBER

                            Hierarchical name: EARLIEST_PRIORITY_NUMBER'
                          example: US62470694P
                          type: string
                        EARLIEST_PRIORITY_YEAR:
                          description: 'The earliest data of all the priority years on the record.

                            This field will be normalized to number.


                            Flat name: EARLIEST_PRIORITY_YEAR

                            Hierarchical name: EARLIEST_PRIORITY_YEAR'
                          example: 2011
                          type: number
                        ESTIMATED_EXPIRATION:
                          description: 'Estimated expiration information.

                            This field is of type composite but will be serialized to type object.


                            Flat name: _ESTIMATED_EXPIRATION

                            Hierarchical name: ESTIMATED_EXPIRATION'
                          properties: {}
                          type: object
                        EXAMINERS:
                          description: 'The examiner(s) at the patent office who examined the patent.

                            This field is of type composite but will be serialized to type object.


                            Flat name: _EXAMINERS

                            Hierarchical name: EXAMINERS'
                          properties: {}
                          type: object
                        FIRST_CLAIM:
                          description: 'Defines the boundaries first instance of an invention, and therefore lays down what the patent does and does not cover.

                            This field is of type composite but will be serialized to type object.


                            Flat name: _FIRST_CLAIM

                            Hierarchical name: FIRST_CLAIM'
                          example:
                            value: "\"en\":\"<tsip:claimTsxm xmlns=\\\"http://schemas.thomson.com/ts/20041221/tsxm\\\" xmlns:tsip=\\\"http://schemas.thomson.com/ts/20041221/tsip\\\" tsip:no=\\\"1\\\" tsip:type=\\\"main\\\" id=\\\"cl0001\\\" num=\\\"0001\\\">1. A mould opening mechanism, comprising a static panel (4), stripper plate (6), A plate (7), plate B (8) and locating rod (5), a stripper plate (6) is connected with the A plate (7) are fixed together; plastic waste between the static panel (4) and between the stripper plate (6), plastic product located between plate A (7) and the B plate (8), a fixed panel (4) and stripper plate (6) through a locating pull rod (5) to adjust the separation distance between the two and ensure that both without departing from. wherein it further comprises a static mould opening-closing driving block (1), a movable mould inverted hook block (3) and a reverse hook (2), the static mould opening-closing driving block (1) and the static panel (4) are fixedly connected; the movable mould inverted hook block (3) and the B plate (8) is fixedly connected with the static mould opening-closing driving block (1) and the movable mould inverted hook block (3) located on the same side of the mould; the inverted hook (2) of the inner space between the stripper plate (6) and the A plate (7) to move. pulling the inverted hook (2) on the movable mould inverted hook block (3) in the process of moving downwards inverted hook block by the movable mould (3) and the static mould opening-closing driving block (1) and pressed and retracted inside space ensured in panel (4) and the stripper plate (6) of the separating plate A (7) and B plate (8) for separating, the static mould opening-closing driving block (1) is inverted \\\" L \\\" - shaped structure, the upper part and the static panel (4) is fixedly connected with the inner side of the lower end is provided with a bump structure; the bump structure is provided with a first wedge surface (11); the movable mould inverted hook block (3) is L-shaped structure, and the lower part and the B plate (8) is fixedly connected with the inner side of the upper end is provided with a barb (31) form space M; the inverted hook (2) is set on the A plate (7) sliding in slide left and right along the chute, the inverse hook mechanism (2) comprises a reversed hook the small sliding block (21) and a spring (23), the spring (23) is set on the bottom of the A plate (7) of the chute. said converse hook small slide block (21) and one end of the spring (23) is connected, the other end of the inverted hook of the slide block (21) is provided with a second oblique wedge surface (211), B plate (8) and a movable mould inverted hook block (3) moves upwards; A plate (7) and the B plate (8) firstly assembling mould and drives the plate A (7) and stripper plate (6) continues to move upwards, the inversed hooks are small slide block (21) by a spring (23) to reset force side do pop-up movement to the left, the inversed hooks are small sliding block (21) enters the space M of the moving die inverted hook block (3); the B plate (8) and the movable mould inverted hook block (3) continues to move upwards to finish the static panel (4) and the stripper plate (6), the locating pull rod (5) passes through the panel (4) is stepped hole (41) and the stripper plate (6), said plate A (7) are fixedly connected together; the locating pull rod (5) can move up and down along the step hole (41); the inverted hook (2) further comprises a limiting pin (22); the limiting pin (22) passes through the stripper plate (6) is inserted in the small barb sliding block (21) on the upper surface of the long groove (212).</tsip:claimTsxm>\",_x000D_\n_x000D_\n                 \"ZH\":\"<tsip:claimTsxm xmlns=\\\"http://schemas.thomson.com/ts/20041221/tsxm\\\" xmlns:tsip=\\\"http://schemas.thomson.com/ts/20041221/tsip\\\" id=\\\"cl0001\\\" num=\\\"0001\\\" tsip:no=\\\"1\\\" tsip:type=\\\"main\\\">1.一种三板模具开模机构，包括静模面板（4）、脱料板（6）、A板（7）、B板（8）和定位拉杆（5），脱料板（6）与A板（7）固定在一起，塑料废料位于静模面板（4）和脱料板（6）之间，塑料成品位于A板（7）和B板（8）之间，静模面板（4）和脱料板（6）通过定位拉杆（5）调节两者之间的分离距离并确保两者_x000D_\n不脱离，其特征在于：还包括静模开模驱动块（1）、动模倒钩拉块（3）和倒勾机构（2），所述静模开模驱动块（1）与所述静模面板（4）固定连接，所述动模倒钩拉块（3）与所述B板（8）固定连接，所述静模开_x000D_\n模驱动块（1）和所述动模倒钩拉块（3）位于模具的同一侧；所述倒勾机构（2）在所述脱料板（6）和所述A板（7）之间的内侧空间中移动，所述倒勾机构（2）在动模倒钩拉块（3）向下移动过程中受到所述动模倒_x000D_\n钩拉块（3）和所述静模开模驱动块（1）的拉动和挤压并缩进内侧空间中确保静模面板（4）与脱料板（6）的分离先于A板（7）和B板（8）的分离；   <br type=\\\"required\\\"/>所述静模开模驱动块（1）是倒“L” 状结构，其上部和所述静模面板（4）固定连接，其下端内侧设置有突起结构，所述突起结构上设置有第一斜楔面（11）；   <br type=\\\"required\\\"/>所述动模倒钩拉块（3）是“L”状结构，其下部和所述B板（8）固定连接，其上端内侧设置有一倒钩（31）形成倒扣空间M；   <br type=\\\"required\\\"/>所述倒勾机构（2）设置在所述A板（7）上的滑槽内沿所述滑槽左右滑动，所述倒勾机构（2）包括倒勾小滑块（21）和弹簧(23)，所述弹簧(23)设置在所述A板（7）上的滑槽的底部，所述倒勾小滑块（21）的一端和所述弹簧(23)连接，所述倒勾小滑块（21）的另一端设置有第二斜楔面（211）；   <br type=\\\"required\\\"/>合模时，B板（8）和动模倒钩拉块（3）向上移动，B板（8）和A板（7）先合模并带动A板（7）和脱料板（6）继续向上移动，倒勾小滑块（21）受弹簧（23）复位力向左边做弹出运动，倒勾小滑块（21）外端进入动模倒钩拉块（3）的倒扣空间M，B板（8）和动模倒钩拉块（3）继续向上移动完成静模面板（4）与脱料板（6）的合模；   <br type=\\\"required\\\"/>所述定位拉杆（5）穿过所述静模面板（4）上的阶梯孔（41）和所述脱料板（6）、所述A板（7）固连在一起，所述定位拉杆（5）可沿着所述阶梯孔（41）上下移动；   <br type=\\\"required\\\"/>所述倒勾机构（2）还包括限位销（22），所述限位销（22）穿过所述脱料板（6）插在所述倒勾小滑块（21）上表面的长形凹槽（212）内。</tsip:claimTsxm>\""
                          properties: {}
                          type: object
                        FORWARD_CITATION:
                          items:
                            description: '


                              Flat name: _FORWARD_CITATION

                              Hierarchical name: FORWARD_CITATION'
                            properties:
                              APPLICATION_DATE:
                                description: '

                                  This field is of type date but will be serialized to type string.


                                  Flat name: _FORWARD_CITATION.APPLICATION_DATE

                                  Hierarchical name: FORWARD_CITATION.APPLICATION_DATE'
                                format: date
                                type: string
                              ASSIGNEE:
                                description: '


                                  Flat name: _FORWARD_CITATION.ASSIGNEE

                                  Hierarchical name: FORWARD_CITATION.ASSIGNEE'
                                type: string
                              DWPI_ACCESSION_NUMBER:
                                description: '


                                  Flat name: _FORWARD_CITATION.DWPI_ACCESSION_NUMBER

                                  Hierarchical name: FORWARD_CITATION.DWPI_ACCESSION_NUMBER'
                                type: string
                              DWPI_INVENTOR_NAMES:
                                description: '


                                  Flat name: _FORWARD_CITATION.DWPI_INVENTOR_NAMES

                                  Hierarchical name: FORWARD_CITATION.DWPI_INVENTOR_NAMES'
                                type: string
                              DWPI_TITLE:
                                description: '


                                  Flat name: _FORWARD_CITATION.DWPI_TITLE

                                  Hierarchical name: FORWARD_CITATION.DWPI_TITLE'
                                type: string
                              KIND_CODE:
                                description: '


                                  Flat name: _FORWARD_CITATION.KIND_CODE

                                  Hierarchical name: FORWARD_CITATION.KIND_CODE'
                                type: string
                              PUBLICATION_DATE:
                                description: '

                                  This field is of type date but will be serialized to type string.


                                  Flat name: _FORWARD_CITATION.PUBLICATION_DATE

                                  Hierarchical name: FORWARD_CITATION.PUBLICATION_DATE'
                                format: date
                                type: string
                              PUBLICATION_NUMBER:
                                description: '


                                  Flat name: _FORWARD_CITATION.PUBLICATION_NUMBER

                                  Hierarchical name: FORWARD_CITATION.PUBLICATION_NUMBER'
                                type: string
                            type: object
                          type: array
                        FORWARD_CITATIONS:
                          properties:
                            MEMBERS:
                              properties:
                                SOURCE:
                                  description: '


                                    Flat name: _FORWARD_CITATIONS.MEMBERS.SOURCE

                                    Hierarchical name: FORWARD_CITATIONS.MEMBERS.SOURCE'
                                  type: string
                              type: object
                          type: object
                        GRANTED:
                          description: 'A flag  indicating whether the document is granted. Once a patent is granted, the patent holder has been granted the right to restrict others from using, making, selling, and importing his invention without his express permission.

                            This field will be normalized to boolean.


                            Flat name: GRANTED

                            Hierarchical name: GRANTED'
                          example: true
                          type: boolean
                        GRANT_DATE:
                          description: 'The date (YYYY-MM-DD) on which the patent office grants the patent.

                            This field is of type date but will be serialized to type string.


                            Flat name: GRANT_DATE

                            Hierarchical name: GRANT_DATE'
                          example: '2017-04-17'
                          format: date
                          type: string
                        GUID:
                          description: 'A unique document identifier for this particular publication.

                            This field will be normalized to uppercase.


                            Flat name: DOCUMENT_GUID

                            Hierarchical name: GUID'
                          example: WO2021243294A120211202
                          type: string
                        INDEPENDENT_CLAIMS:
                          items:
                            description: 'A claim on a patent record that is determined to not rely on any other claims in the patent.


                              Flat name: _INDEPENDENT_CLAIMS

                              Hierarchical name: INDEPENDENT_CLAIMS'
                            properties:
                              SOURCE:
                                description: 'Indicator showing the origin of the data.


                                  Flat name: _INDEPENDENT_CLAIMS.SOURCE

                                  Hierarchical name: INDEPENDENT_CLAIMS.SOURCE'
                                example: ORIG
                                type: string
                            type: object
                          type: array
                        INPADOC_FAMILY:
                          items:
                            description: '


                              Flat name: _INPADOC_FAMILY

                              Hierarchical name: INPADOC_FAMILY'
                            properties:
                              ASSIGNEE:
                                description: '


                                  Flat name: _INPADOC_FAMILY.ASSIGNEE

                                  Hierarchical name: INPADOC_FAMILY.ASSIGNEE'
                                type: string
                              COUNTRY_CODE:
                                description: '


                                  Flat name: _INPADOC_FAMILY.COUNTRY_CODE

                                  Hierarchical name: INPADOC_FAMILY.COUNTRY_CODE'
                                type: string
                              DEAD_ALIVE_STATUS:
                                description: '


                                  Flat name: _INPADOC_FAMILY.DEAD_ALIVE_STATUS

                                  Hierarchical name: INPADOC_FAMILY.DEAD_ALIVE_STATUS'
                                type: string
                              DERWENT_ASSIGNEES:
                                items:
                                  description: '


                                    Flat name: _INPADOC_FAMILY.DERWENT_ASSIGNEES

                                    Hierarchical name: INPADOC_FAMILY.DERWENT_ASSIGNEES'
                                  properties: {}
                                  type: object
                                type: array
                              DERWENT_INVENTOR:
                                description: '


                                  Flat name: _INPADOC_FAMILY.DERWENT_INVENTOR

                                  Hierarchical name: INPADOC_FAMILY.DERWENT_INVENTOR'
                                type: string
                              DERWENT_TITLE:
                                description: '


                                  Flat name: _INPADOC_FAMILY.DERWENT_TITLE

                                  Hierarchical name: INPADOC_FAMILY.DERWENT_TITLE'
                                type: string
                              INVENTOR:
                                description: '


                                  Flat name: _INPADOC_FAMILY.INVENTOR

                                  Hierarchical name: INPADOC_FAMILY.INVENTOR'
                                type: string
                              KIND_CODE:
                                description: '


                                  Flat name: _INPADOC_FAMILY.KIND_CODE

                                  Hierarchical name: INPADOC_FAMILY.KIND_CODE'
                                type: string
                              PUBLICATION_DATE:
                                description: '

                                  This field is of type date but will be serialized to type string.


                                  Flat name: _INPADOC_FAMILY.PUBLICATION_DATE

                                  Hierarchical name: INPADOC_FAMILY.PUBLICATION_DATE'
                                format: date
                                type: string
                              TITLES:
                                properties:
                                  TITLE_ENGLISH:
                                    description: '


                                      Flat name: _INPADOC_FAMILY.TITLES.TITLE_ENGLISH

                                      Hierarchical name: INPADOC_FAMILY.TITLES.TITLE_ENGLISH'
                                    type: string
                                  TITLE_FRENCH:
                                    description: '


                                      Flat name: _INPADOC_FAMILY.TITLES.TITLE_FRENCH

                                      Hierarchical name: INPADOC_FAMILY.TITLES.TITLE_FRENCH'
                                    type: string
                                  TITLE_GERMAN:
                                    description: '


                                      Flat name: _INPADOC_FAMILY.TITLES.TITLE_GERMAN

                                      Hierarchical name: INPADOC_FAMILY.TITLES.TITLE_GERMAN'
                                    type: string
                                  TITLE_OTHERS:
                                    description: '


                                      Flat name: _INPADOC_FAMILY.TITLES.TITLE_OTHERS

                                      Hierarchical name: INPADOC_FAMILY.TITLES.TITLE_OTHERS'
                                    type: string
                                  TITLE_SPANISH:
                                    description: '


                                      Flat name: _INPADOC_FAMILY.TITLES.TITLE_SPANISH

                                      Hierarchical name: INPADOC_FAMILY.TITLES.TITLE_SPANISH'
                                    type: string
                                type: object
                            type: object
                          type: array
                        INPADOC_FAMILY_ID:
                          description: 'Internal unique identifier for the Inpadoc family


                            Flat name: _INPADOC_FAMILY_ID

                            Hierarchical name: INPADOC_FAMILY_ID'
                          example: 20131211EP2671741A1
                          type: string
                        INPADOC_FAMILY_STATUS:
                          description: 'Dead (D) / Alive (A) status of the Inpadoc family quickly shows whether an INPADOC Patent Family is currently enforceable. If a record does not have relevant legal status data, its status may be classified as Indeterminate (I) or None (N). An INPADOC Family remains alive as long as at least one patent in the family is still active

                            This field will be normalized to uppercase.


                            Flat name: INPADOC_FAMILY_STATUS

                            Hierarchical name: INPADOC_FAMILY_STATUS'
                          example: D
                          type: string
                        INPADOC_LEGAL_STATUS_EVENTS:
                          items:
                            description: 'The entries made or procedural steps or events taken during the patent-granting process and throughout the lifetime of the patent.

                              This field will be normalized to can there be multiple ones?.


                              Flat name: _INPADOC_LEGAL_STATUS_EVENTS

                              Hierarchical name: INPADOC_LEGAL_STATUS_EVENTS'
                            properties:
                              CODE:
                                description: 'INPADOC Legal Status Codes (LSC) and their meanings are country/region-specific


                                  Flat name: _INPADOC_LEGAL_STATUS_EVENTS.CODE

                                  Hierarchical name: INPADOC_LEGAL_STATUS_EVENTS.CODE'
                                example: REG
                                type: string
                              DESCRIPTION:
                                description: 'Detailed text description of the code.


                                  Flat name: _INPADOC_LEGAL_STATUS_EVENTS.DESCRIPTION

                                  Hierarchical name: INPADOC_LEGAL_STATUS_EVENTS.DESCRIPTION'
                                example: 'REFERENCE TO NATIONAL CODE DE 8642 PROCEDURE RELATING TO PCT APPLICATION: CEASED TO HAVE EFFECT FOR DE'
                                type: string
                              GAZETTE_DATE:
                                description: 'The date which the status was officially published.

                                  This field is of type date but will be serialized to type string.


                                  Flat name: _INPADOC_LEGAL_STATUS_EVENTS.GAZETTE_DATE

                                  Hierarchical name: INPADOC_LEGAL_STATUS_EVENTS.GAZETTE_DATE'
                                example: '2004-04-22'
                                format: date
                                type: string
                              IMPACT:
                                description: 'INPADOC Legal Status Impact (LSI) indicates whether a legal status change has a positive (+), negative (-), or neutral (no symbol) impact on a patent.


                                  Flat name: _INPADOC_LEGAL_STATUS_EVENTS.IMPACT

                                  Hierarchical name: INPADOC_LEGAL_STATUS_EVENTS.IMPACT'
                                example: '-'
                                type: string
                            type: object
                          type: array
                        INVENTORS:
                          items:
                            description: 'The inventor information on a patent or application.


                              Flat name: _INVENTORS

                              Hierarchical name: INVENTORS'
                            properties: {}
                            type: object
                          type: array
                        IPCS:
                          items:
                            description: 'International patent classifications (IPC or IC) are Classification symbols or codes that can be allotted to patent documents. IPC classification symbols are made up of a letter denoting the IPC section (ex. A), followed by a number (two digits) denoting the IPC class (ex. A63), then a letter denoting the IPC subclass (ex. A63B). A number (variable, 1-4 digits) denotes the IPC main group (ex. A63B49).


                              Flat name: _IPCS

                              Hierarchical name: IPCS'
                            properties: {}
                            type: object
                          type: array
                        IPCS_CURRENT:
                          items:
                            description: 'The most recent IPC classifications. They overwrite/replace any earlier classifications. They can come from Front Page or EPO (DocDB, through its weekly updates, or MCD quarterly update). For more information see [IPC classification]§

                              This field will be normalized to uppercase.


                              Flat name: IPC_CURRENT

                              Hierarchical name: IPCS_CURRENT'
                            example: A23D0007005
                            type: string
                          type: array
                        JP_CLASSES:
                          description: 'A patent classifications applied by the Japanese patent office.

                            This field is of type composite but will be serialized to type object.


                            Flat name: _JP_CLASSES

                            Hierarchical name: JP_CLASSES'
                          properties: {}
                          type: object
                        KIND_CODE:
                          description: 'A one-or two-character code (one alpha plus one optional numeric) that always follows the publication number. Kind Codes indicate the version or level of examination of a patent document. [Kind codes](https://clarivate.com/derwent/wp-content/uploads/sites/3/dlm_uploads/2019/08/Kind-Code-Summary.pdf]) and their meanings are country/region specific.

                            This field will be normalized to uppercase.


                            Flat name: KIND_CODE

                            Hierarchical name: KIND_CODE'
                          example: A1
                          type: string
                        LAST_UPDATED_DATE:
                          description: 'A date that symbolizes the last update in the database.

                            This field is of type timestamp but will be serialized to type string.


                            Flat name: LAST_UPDATED_DATE

                            Hierarchical name: LAST_UPDATED_DATE'
                          example: '2022-05-05'
                          format: date
                          type: string
                        LEGAL_STATUS_FACTOR:
                          description: 'The legal status factors used in the calculation of the derived data.

                            This field is of type composite but will be serialized to type object.


                            Flat name: _LEGAL_STATUS_FACTOR

                            Hierarchical name: LEGAL_STATUS_FACTOR'
                          properties:
                            CODE:
                              description: 'INPADOC Legal Status Codes (LSC) and their meanings are country/region-specific


                                Flat name: _LEGAL_STATUS_FACTOR.CODE

                                Hierarchical name: LEGAL_STATUS_FACTOR.CODE'
                              example: C12
                              type: string
                            COUNTRY:
                              description: 'State, nation or territory considered as an organized political community under one government where application was filed.


                                Flat name: _LEGAL_STATUS_FACTOR.COUNTRY

                                Hierarchical name: LEGAL_STATUS_FACTOR.COUNTRY'
                              example: CN
                              type: string
                            DESCRIPTION:
                              description: 'Detailed text description of the code.


                                Flat name: _LEGAL_STATUS_FACTOR.DESCRIPTION

                                Hierarchical name: LEGAL_STATUS_FACTOR.DESCRIPTION'
                              example: REJECTION OF A PATENT APPLICATION AFTER ITS PUBLICATION
                              type: string
                          type: object
                        PATENT_TYPE:
                          description: 'An indicator of whether a patent is an application (A), a granted patent (G) or a utility model (U). Utility models supplement the patent system by providing protection for innovations which are not regarded as inventive enough to warrant a patent grant. 90% of the Utility Models in the database originate from China, Japan, Germany and South Korea.

                            This field will be normalized to uppercase.


                            Flat name: PATENT_TYPE

                            Hierarchical name: PATENT_TYPE'
                          example: A
                          type: string
                        PREDICTIVE:
                          items:
                            description: 'Evaluation metrics, which indicate the probability of future occurrences, relative strength, and importance of a patent


                              Flat name: _PREDICTIVE

                              Hierarchical name: PREDICTIVE'
                            properties:
                              DOMAIN_INFLUENCE:
                                description: 'How important/influential is this patent to the technical domain that it sits in?


                                  Flat name: _PREDICTIVE.DOMAIN_INFLUENCE

                                  Hierarchical name: PREDICTIVE.DOMAIN_INFLUENCE'
                                example: 5.65
                                type: number
                              PATENT_STRENGTH:
                                description: 'Aggregates the scores above to indicate how important is this patent compared to others.


                                  Flat name: _PREDICTIVE.PATENT_STRENGTH

                                  Hierarchical name: PREDICTIVE.PATENT_STRENGTH'
                                example: 4.88
                                type: number
                              STRATEGIC_IMPORTANCE:
                                description: 'How important is this patent to the people that own it


                                  Flat name: _PREDICTIVE.STRATEGIC_IMPORTANCE

                                  Hierarchical name: PREDICTIVE.STRATEGIC_IMPORTANCE'
                                example: 2.62
                                type: number
                            type: object
                          type: array
                        PRIORITIES:
                          items:
                            description: 'A list of any previously filed applications from which this application had claimed priority.


                              Flat name: _PRIORITIES

                              Hierarchical name: PRIORITIES'
                            properties:
                              COUNTRY:
                                description: 'The country/region in which the priority application was filed.

                                  This field will be normalized to uppercase.


                                  Flat name: _PRIORITIES.COUNTRY

                                  Hierarchical name: PRIORITIES.COUNTRY'
                                example: US
                                type: string
                              NUMBER:
                                description: 'The application number of a previously filed application ( the priority application)  from which a patent application claims priority.

                                  This field will be normalized to uppercase.


                                  Flat name: _PRIORITIES.NUMBER

                                  Hierarchical name: PRIORITIES.NUMBER'
                                example: US62470694P
                                type: string
                            type: object
                          type: array
                        PUBLICATION_DATE:
                          description: 'The date a patent or application was officially published.

                            This field is of type date but will be serialized to type string.


                            Flat name: PUBLICATION_DATE

                            Hierarchical name: PUBLICATION_DATE'
                          example: '2021-07-21'
                          format: date
                          type: string
                        PUBLICATION_LANGUAGE:
                          description: 'The publication language of a record. See [language codes (ISO 639-2)](https://www.derwentinnovation.com/tip-innovation/support/help/reference_docs/iso_639.htm).

                            This field will be normalized to uppercase.


                            Flat name: PUBLICATION_LANGUAGE

                            Hierarchical name: PUBLICATION_LANGUAGE'
                          example: EN
                          type: string
                        PUBLICATION_NUMBER:
                          description: 'A unique identifier assigned to a patent publication which can represent a published application, a published grant or a utility model. A publication number will always be preceded by a country code and followed by a kind code. For more information see [Publication number formats](https://support.clarivate.com/Patents/s/article/Derwent-Innovation-Publication-Number-PN-Formats?language=en_US).

                            This field will be normalized to uppercase.


                            Flat name: PUBLICATION_NUMBER

                            Hierarchical name: PUBLICATION_NUMBER'
                          example: EP3852021A1
                          type: string
                        PUBLICATION_TYPE:
                          description: 'A single character representing the type of publication. I = Main invention publication;  T = Translation;  R = Reissued patent;  U = Utility Model;  S = Statutory Invention Publication;  P = NTIS Publication;  V = Trial Voluntary Protest Program.

                            This field will be normalized to uppercase.


                            Flat name: PUBLICATION_TYPE

                            Hierarchical name: PUBLICATION_TYPE'
                          example: I
                          type: string
                        PUBLICATION_YEAR:
                          description: 'The year a patent or application was officially published.

                            This field will be normalized to number.


                            Flat name: PUBLICATION_YEAR

                            Hierarchical name: PUBLICATION_YEAR'
                          example: 2013
                          type: number
                        REGISTRATION_OFFICE:
                          description: 'The registration office code, also known as the country code, is a [two-character code (WIPO ST.3)](https://www.derwentinnovation.com/tip-innovation/support/help/reference_docs/patent_country_codes.htm) indicating the country/region where the application has been made or the patent has been granted.

                            This field will be normalized to uppercase.


                            Flat name: REGISTRATION_OFFICE

                            Hierarchical name: REGISTRATION_OFFICE'
                          example: EP
                          type: string
                        REPRESENTATIVES:
                          items:
                            description: 'The legal representative of a patent application is the person or entity who is legally able to work on, file, and initiate applications for clients who are interested in acquiring a patent.


[...]
