openapi: 3.2.0
info:
  title: Converis Web Services Data - Tree API
  description: This API Specification describes how to read data from Converis in order to use it in other systems.
  contact:
    email: converis-info@clarivate.com
  version: '2.0'
servers:
- url: https://api.clarivate.com/converisreadapi
tags:
- name: Data - Tree
  description: Get the links between entity data
paths:
  /data/tree/{link_type}/root:
    get:
      tags:
      - Data - Tree
      summary: Get the root object from the tree structure of the given link entity type
      description: Get the root node of the Given link entity type
      parameters:
      - name: link_type
        in: path
        description: Name of the link entity type
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ORGA_has_child_ORGA
      - name: language
        in: query
        description: Return only labels or attribute data of specific configured language. Display all configured languages if null, eg. en_GB
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: en_GB
      - name: Converis-attribute-definition
        in: header
        description: "The CSV list of attributes to be returned. Possible values BASIC, ALL, csv list of attributes comma separated\n\nBASIC includes\n  * Created by\n  * Created on\n  * Updated by\n  * Updated on\n  * Status\n  * Short description\n  * Public visible\n  * Left sequence (only for link entitites)\n  * Right sequence (only for link entities)\n"
        required: false
        style: simple
        explode: false
        schema:
          example: cfName,email
          oneOf:
          - type: string
            default: BASIC
            enum:
            - BASIC
            - ALL
          - type: string
            example: publYear, srcAuthors
      - name: Converis-linkentity-references
        in: header
        description: Set true if link entity references (href) should be returned
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
          example: false
          default: false
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityData'
        default:
          description: Error response 400+
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
      security:
      - BasicAuth: []
      operationId: getDataTreeByLinkTypeRoot
      x-operation-id-source: derived
  /data/tree/{link_type}/{start_node}:
    get:
      tags:
      - Data - Tree
      summary: Get tree information by traversing it
      description: 'Get tree nodes for a given Data Entity type starting from the

        given start node and a traverse path.


        In case of ___traverse=ANCESTORS___ the order of returned entity objects represents the path to the root node, i.e. the first entry in the response represents __start_node__ itself, the second entry is then the parent of parent of __start_node__ etc.'
      parameters:
      - name: link_type
        in: path
        description: Name of the link entity type
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: ORGA_has_child_ORGA
      - name: start_node
        in: path
        description: The id of data object and the starting node by traversing the tree
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: traverse
        in: query
        description: 'Traverse method which determines the level of data to be returned

          * __ANCESTORS__ Path to root, starting from start_node

          * __SIBLINGS__  Siblings,

          * __CHILDREN__  Immediate Children,'
        required: true
        explode: false
        schema:
          type: string
          default: SIBLINGS
          enum:
          - ANCESTORS
          - SIBLINGS
          - CHILDREN
      - name: startRecord
        in: query
        description: record to start for pagination
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: count
        in: query
        description: maximum number of records to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          format: int32
          default: 10
      - name: Converis-attribute-definition
        in: header
        description: "The CSV list of attributes to be returned. Possible values BASIC, ALL, csv list of attributes comma separated\n\nBASIC includes\n  * Created by\n  * Created on\n  * Updated by\n  * Updated on\n  * Status\n  * Short description\n  * Public visible\n  * Left sequence (only for link entitites)\n  * Right sequence (only for link entities)\n"
        required: false
        style: simple
        explode: false
        schema:
          example: publYear,srcAuthors
          oneOf:
          - type: string
            default: BASIC
            enum:
            - BASIC
            - ALL
          - type: string
            example: publYear, srcAuthors
      - name: Converis-linkentity-references
        in: header
        description: Set true if link entity references (href) should be returned.
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
          example: false
          default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityDataList'
        default:
          description: Error response 400+
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
      security:
      - BasicAuth: []
      operationId: getDataTreeByLinkTypeByStartNode
      x-operation-id-source: derived
components:
  schemas:
    AttributeData:
      required:
      - attributeName
      - attributeType
      - value
      type: object
      properties:
        attributeName:
          type: string
          description: Attribute name
          example: cfTitle
        attributeType:
          type: string
          description: Data type of the Attribute
          example: STRING
          enum:
          - STRING
          - TEXT
          - CGV
          - NUMBER
          - DATE
          - BOOLEAN
        language:
          type: string
          description: language code of this attribute. Empty if not translatable
          example: en_GB
        value:
          type: string
          description: The value of the attribute data
          example: An example Publication title
        choiceGroupData:
          $ref: '#/components/schemas/ChoiceGroupData'
    LabelDefinition:
      required:
      - language
      - value
      type: object
      properties:
        language:
          type: string
          description: The system language abbreviation
          example: en_US
        value:
          type: string
          description: The value of the label
          example: Publication
    EntityData:
      required:
      - createdBy
      - createdOn
      - entityName
      - id
      - intern
      - public
      - shortDescription
      - status
      - updatedBy
      - updatedOn
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Converis ID of the data entity
          example: 56893426
        entityName:
          type: string
          description: Entity name of this data
          example: Publication
        status:
          type: integer
          description: Status of the given data
          example: 3
        statusLabels:
          type: array
          description: list of short descriptions in different languages
          example:
          - language: en_GB
            value: Validated
          - language: de_DE
            value: Validiert
          items:
            $ref: '#/components/schemas/LabelDefinition'
        public:
          type: boolean
          description: Is the data visible for public
          example: true
        intern:
          type: boolean
          description: Is the data visible for intern
          example: true
        createdBy:
          type: string
          description: User who created this data
          example: configadmin
        createdOn:
          type: string
          description: Creation date of this data
          format: date-time
        updatedBy:
          type: string
          description: User who last updated this data
          example: configadmin
        updatedOn:
          type: string
          description: Last updation date of this data
          format: date-time
        shortDescription:
          type: array
          description: list of short descriptions in different languages
          example:
          - language: en_GB
            value: Some short description
          items:
            $ref: '#/components/schemas/LabelDefinition'
        attributes:
          type: array
          description: list of attributes data for this entity data
          items:
            $ref: '#/components/schemas/AttributeData'
        links:
          type: array
          example:
          - rel: Card
            href: /converis-api/ws/v2/data/entities/Card/linked/PUBL_has_CARD/56893426
          - rel: Organisation
            href: /converis-api/ws/v2/data/entities/Card/linked/PUBL_has_ORGA/56893426
          - rel: Publication
            href: /converis-api/ws/v2/data/entities/Publication/linked/PUBL_has_PUBL/56893426?directon=r2l
          - rel: Publication
            href: /converis-api/ws/v2/data/entities/Publication/linked/PUBL_has_PUBL/56893426?directon=l2r
          items:
            $ref: '#/components/schemas/LinkReference'
    ChoiceGroupData:
      type: object
      properties:
        choiceGroupName:
          type: string
          description: If the attribute is of type ChoiceGroup, then this should be filled.
          example: Publication type
        choiceGroupValue:
          type: string
          description: default value
          example: Journal article
        choiceGroupValueLabels:
          type: array
          example:
          - language: de_DE
            value: Zeitschrift
          items:
            $ref: '#/components/schemas/LabelDefinition'
    DefaultResponse:
      required:
      - statusDescirption
      - message
      - path
      - status
      - timestamp
      type: object
      properties:
        timestamp:
          type: string
          description: The date-time notation as defined by RFC 3339, section 5.6, e.g. "2017-07-21T17:32:28Z"
          format: date-time
        path:
          type: string
          description: The path which is used by user, e.g./converis-apis/ws/v2/data/entities/Publication
          format: uri
        status:
          type: integer
          description: HTTP Status code,e.g. 400+
          example: 400
        statusDescription:
          type: string
          description: Description of HTTP Status code, e.g. Bad Request
          example: Bad Request
        message:
          type: string
          description: The detailed description of the error
    LinkReference:
      required:
      - rel
      - href
      type: object
      properties:
        rel:
          type: string
          description: Describes the type of relationship.
          example: Publication
        href:
          type: string
          description: is the complete endpoint path that uniquely defines the resource.
          example: /converis-apis/ws/v2/data/Publication/linked/PUBL_has_JOUR/1234
    EntityDataList:
      required:
      - count
      - nrRecordsAll
      - nrRecordsFound
      - startRecord
      type: object
      properties:
        startRecord:
          type: integer
          example: 1
        count:
          type: integer
          example: 50
        nrRecordsAll:
          type: integer
          example: 1540
        nrRecordsFound:
          type: integer
          example: 50
        data:
          type: array
          items:
            $ref: '#/components/schemas/EntityData'
  securitySchemes:
    BasicAuth:
      type: http
      description: The authentication information has to be provided by the client application as Basic authentication header. This can be configured by an admin in Converis under Configuration -> API Authentication Info.
      scheme: basic
