openapi: 3.2.0
info:
  version: 1.0.0
  title: Converis Additional Data Integration API
  description: This documentation is for viewing purposes only.
servers:
- url: https://api.clarivate.com/converisadditionalapi
tags:
- name: Data Integration
  description: Data integration uses Kettle Transformation with Servlets as output steps.
paths:
  /{version}/pdiprocess/{wsEndpoint}:
    get:
      summary: Get data from a data integration process
      operationId: getDataFromPdiProcess
      tags:
      - Data Integration
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v2
      - name: wsEndpoint
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Request is not correct
        '403':
          description: Your account does not have permissions to access the requested data
        '404':
          description: Requested data is not found
        '500':
          description: Unknown Internal error occurred. Try again or contact the system administrator
    post:
      summary: Submit data to a data integration process
      operationId: submitDataToPdiProcess
      tags:
      - Data Integration
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v2
      - name: wsEndpoint
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
          application/xml: {}
      responses:
        '201':
          description: Data submitted successfully
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Request is not correct
        '403':
          description: Your account does not have permissions to access the requested data
        '404':
          description: Requested data is not found
        '500':
          description: Unknown Internal error occurred. Try again or contact the system administrator
