openapi: 3.2.0
info:
  contact:
    email: Derwent.support@clarivate.com
    name: Derwent API
  description: Derwent APIs provide seamless access to enriched patent data, enabling users to enhance their research capabilities and make faster, more informed decisions.
  termsOfService: https://clarivate.com/legal-center/terms-of-business/product-service-terms/
  title: Intellectual Property (IP) Data Trademarks API
  version: 1.0.7
servers:
- url: https://api.clarivate.com
security:
- key: []
tags:
- name: Trademarks
paths:
  /trademarks/document/json:
    post:
      description: Call to fetch one or more full trademark documents by GUID, with possibile filters.
      operationId: getTrademarkDocuments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/records_request_trademark'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  result:
                    description: Page of results
                    items:
                      properties:
                        APPLICANTS:
                          items:
                            description: '


                              Flat name: _APPLICANTS

                              Hierarchical name: APPLICANTS'
                            properties: {}
                            type: object
                          type: array
                        APPLICATION_LANGUAGE_CODE:
                          description: 'Application language code


                            Flat name: APPLICATION_LANGUAGE_CODE

                            Hierarchical name: APPLICATION_LANGUAGE_CODE'
                          example: EN
                          type: string
                        DESIGNATED_COUNTRY_CODE:
                          items:
                            description: 'Designated country code for International or ARIPO trademarks; or US State for US State trademarks


                              Flat name: DESIGNATED_COUNTRY_CODE

                              Hierarchical name: DESIGNATED_COUNTRY_CODE'
                            example: '["CN", "EM", "IN", "US"]'
                            type: string
                          type: array
                        DESIGNATION_BASIS:
                          description: 'Either MADRID_AGREEMENT, MADRID_PROTOCOL, ARIPO or USA_STATE


                            Flat name: DESIGNATION_BASIS

                            Hierarchical name: DESIGNATION_BASIS'
                          example: MADRID_PROTOCOL
                          type: string
                        DISCLAIMERS:
                          description: 'Disclaimers


                            Flat name: DISCLAIMERS

                            Hierarchical name: DISCLAIMERS'
                          example: '["BUSINESS FINANCE"]'
                          type: string
                        FIGURATIVE_ELEMENTS:
                          description: '

                            This field is of type composite but will be serialized to type object.


                            Flat name: _FIGURATIVE_ELEMENTS

                            Hierarchical name: FIGURATIVE_ELEMENTS'
                          properties: {}
                          type: object
                        GOODS_SERVICES:
                          description: '

                            This field is of type composite but will be serialized to type object.


                            Flat name: _GOODS_SERVICES

                            Hierarchical name: GOODS_SERVICES'
                          properties:
                            NAT_CLASS_DESCRIPTIONS:
                              items:
                                description: '


                                  Flat name: _GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS

                                  Hierarchical name: GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS'
                                properties: {}
                                type: object
                              type: array
                          type: object
                        GUID:
                          description: 'Trademark record unique global identifier


                            Flat name: GUID

                            Hierarchical name: GUID'
                          example: USAFI65E053B1C87611DEB9C6000D609921FB
                          type: string
                        ID:
                          description: 'Deprecated, use GUID. Trademark record unique global identifier


                            Flat name: ID

                            Hierarchical name: ID'
                          example: INTEIF1B28495161911E58373A272ECEBA1B7
                          type: string
                        IMAGES_TOTAL_QUANTITY:
                          description: 'Image available for the trademark record


                            Flat name: IMAGES_TOTAL_QUANTITY

                            Hierarchical name: IMAGES_TOTAL_QUANTITY'
                          example: 1
                          type: number
                        IMAGE_KIND:
                          description: 'Kind of available image. None or PUBLICATION_COPY.


                            Flat name: IMAGE_KIND

                            Hierarchical name: IMAGE_KIND'
                          example: PUBLICATION_COPY
                          type: string
                        LAST_UPDATED_DATE:
                          description: 'A date that symbolizes the last update in the database

                            This field is of type timestamp but will be serialized to type string.


                            Flat name: LAST_UPDATED_DATE

                            Hierarchical name: LAST_UPDATED_DATE'
                          example: '2022-05-05'
                          format: date
                          type: string
                        MARK_FEATURE:
                          description: 'Type of trademark


                            Flat name: MARK_FEATURE

                            Hierarchical name: MARK_FEATURE'
                          example: WORD AND DESIGN
                          type: string
                        PRIORITIES:
                          items:
                            description: '


                              Flat name: _PRIORITIES

                              Hierarchical name: PRIORITIES'
                            properties: {}
                            type: object
                          type: array
                        REGISTRATION_OFFICE_CODE:
                          description: 'Office code


                            Flat name: REGISTRATION_OFFICE_CODE

                            Hierarchical name: REGISTRATION_OFFICE_CODE'
                          example: WO
                          type: string
                        REPRESENTATIVES:
                          items:
                            description: '


                              Flat name: _REPRESENTATIVES

                              Hierarchical name: REPRESENTATIVES'
                            properties: {}
                            type: object
                          type: array
                        REPRESENTATIVE_CORRESPONDENTS:
                          items:
                            description: '


                              Flat name: _REPRESENTATIVE_CORRESPONDENTS

                              Hierarchical name: REPRESENTATIVE_CORRESPONDENTS'
                            properties: {}
                            type: object
                          type: array
                        SECOND_LANGUAGE_CODE:
                          description: 'Application second language code


                            Flat name: SECOND_LANGUAGE_CODE

                            Hierarchical name: SECOND_LANGUAGE_CODE'
                          example: FR
                          type: string
                        STATUS:
                          description: '

                            This field is of type composite but will be serialized to type object.


                            Flat name: _STATUS

                            Hierarchical name: STATUS'
                          properties: {}
                          type: object
                        WORD_MARK_SPECIFICATION:
                          description: '

                            This field is of type composite but will be serialized to type object.


                            Flat name: _WORD_MARK_SPECIFICATION

                            Hierarchical name: WORD_MARK_SPECIFICATION'
                          properties: {}
                          type: object
                      type: object
                    type: array
                  total_count:
                    description: Total number of results
                    type: number
                type: object
          description: Success
        '400':
          content:
            application/json:
              example:
                code: 1200
                error: Invalid request. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Invalid request
        '401':
          content:
            application/json:
              example:
                code: 1100
                error: Insufficient permissions to access this resources. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                code: 10200
                error: Insufficient permissions to use attribute values in the resources request. Please contact support if you believe this is an error
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                code: 1201
                error: Endpoint not found
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Not found
        '500':
          content:
            application/json:
              example:
                code: 1300
                error: Something went wrong. Please try again, and contact support if error persists.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Internal server error
      summary: Call to fetch one or more full trademark documents by GUID, with possibile…
      tags:
      - Trademarks
  /trademarks/document/json/{document_guid}:
    get:
      description: Call to fetch a full trademark document by GUID.
      operationId: getTrademarkDocument
      parameters:
      - description: Unique ID of trademark document to retrieve
        in: path
        name: document_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  APPLICANTS:
                    items:
                      description: '


                        Flat name: _APPLICANTS

                        Hierarchical name: APPLICANTS'
                      properties: {}
                      type: object
                    type: array
                  APPLICATION_LANGUAGE_CODE:
                    description: 'Application language code


                      Flat name: APPLICATION_LANGUAGE_CODE

                      Hierarchical name: APPLICATION_LANGUAGE_CODE'
                    example: EN
                    type: string
                  DESIGNATED_COUNTRY_CODE:
                    items:
                      description: 'Designated country code for International or ARIPO trademarks; or US State for US State trademarks


                        Flat name: DESIGNATED_COUNTRY_CODE

                        Hierarchical name: DESIGNATED_COUNTRY_CODE'
                      example: '["CN", "EM", "IN", "US"]'
                      type: string
                    type: array
                  DESIGNATION_BASIS:
                    description: 'Either MADRID_AGREEMENT, MADRID_PROTOCOL, ARIPO or USA_STATE


                      Flat name: DESIGNATION_BASIS

                      Hierarchical name: DESIGNATION_BASIS'
                    example: MADRID_PROTOCOL
                    type: string
                  DISCLAIMERS:
                    description: 'Disclaimers


                      Flat name: DISCLAIMERS

                      Hierarchical name: DISCLAIMERS'
                    example: '["BUSINESS FINANCE"]'
                    type: string
                  FIGURATIVE_ELEMENTS:
                    description: '

                      This field is of type composite but will be serialized to type object.


                      Flat name: _FIGURATIVE_ELEMENTS

                      Hierarchical name: FIGURATIVE_ELEMENTS'
                    properties: {}
                    type: object
                  GOODS_SERVICES:
                    description: '

                      This field is of type composite but will be serialized to type object.


                      Flat name: _GOODS_SERVICES

                      Hierarchical name: GOODS_SERVICES'
                    properties:
                      NAT_CLASS_DESCRIPTIONS:
                        items:
                          description: '


                            Flat name: _GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS

                            Hierarchical name: GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS'
                          properties: {}
                          type: object
                        type: array
                    type: object
                  GUID:
                    description: 'Trademark record unique global identifier


                      Flat name: GUID

                      Hierarchical name: GUID'
                    example: USAFI65E053B1C87611DEB9C6000D609921FB
                    type: string
                  ID:
                    description: 'Deprecated, use GUID. Trademark record unique global identifier


                      Flat name: ID

                      Hierarchical name: ID'
                    example: INTEIF1B28495161911E58373A272ECEBA1B7
                    type: string
                  IMAGES_TOTAL_QUANTITY:
                    description: 'Image available for the trademark record


                      Flat name: IMAGES_TOTAL_QUANTITY

                      Hierarchical name: IMAGES_TOTAL_QUANTITY'
                    example: 1
                    type: number
                  IMAGE_KIND:
                    description: 'Kind of available image. None or PUBLICATION_COPY.


                      Flat name: IMAGE_KIND

                      Hierarchical name: IMAGE_KIND'
                    example: PUBLICATION_COPY
                    type: string
                  LAST_UPDATED_DATE:
                    description: 'A date that symbolizes the last update in the database

                      This field is of type timestamp but will be serialized to type string.


                      Flat name: LAST_UPDATED_DATE

                      Hierarchical name: LAST_UPDATED_DATE'
                    example: '2022-05-05'
                    format: date
                    type: string
                  MARK_FEATURE:
                    description: 'Type of trademark


                      Flat name: MARK_FEATURE

                      Hierarchical name: MARK_FEATURE'
                    example: WORD AND DESIGN
                    type: string
                  PRIORITIES:
                    items:
                      description: '


                        Flat name: _PRIORITIES

                        Hierarchical name: PRIORITIES'
                      properties: {}
                      type: object
                    type: array
                  REGISTRATION_OFFICE_CODE:
                    description: 'Office code


                      Flat name: REGISTRATION_OFFICE_CODE

                      Hierarchical name: REGISTRATION_OFFICE_CODE'
                    example: WO
                    type: string
                  REPRESENTATIVES:
                    items:
                      description: '


                        Flat name: _REPRESENTATIVES

                        Hierarchical name: REPRESENTATIVES'
                      properties: {}
                      type: object
                    type: array
                  REPRESENTATIVE_CORRESPONDENTS:
                    items:
                      description: '


                        Flat name: _REPRESENTATIVE_CORRESPONDENTS

                        Hierarchical name: REPRESENTATIVE_CORRESPONDENTS'
                      properties: {}
                      type: object
                    type: array
                  SECOND_LANGUAGE_CODE:
                    description: 'Application second language code


                      Flat name: SECOND_LANGUAGE_CODE

                      Hierarchical name: SECOND_LANGUAGE_CODE'
                    example: FR
                    type: string
                  STATUS:
                    description: '

                      This field is of type composite but will be serialized to type object.


                      Flat name: _STATUS

                      Hierarchical name: STATUS'
                    properties: {}
                    type: object
                  WORD_MARK_SPECIFICATION:
                    description: '

                      This field is of type composite but will be serialized to type object.


                      Flat name: _WORD_MARK_SPECIFICATION

                      Hierarchical name: WORD_MARK_SPECIFICATION'
                    properties: {}
                    type: object
                type: object
          description: Success
        '400':
          content:
            application/json:
              example:
                code: 1200
                error: Invalid request. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Invalid request
        '401':
          content:
            application/json:
              example:
                code: 1100
                error: Insufficient permissions to access this resources. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                code: 10200
                error: Insufficient permissions to use attribute values in the resources request. Please contact support if you believe this is an error
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                code: 1201
                error: Endpoint not found
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Not found
        '500':
          content:
            application/json:
              example:
                code: 1300
                error: Something went wrong. Please try again, and contact support if error persists.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Internal server error
      summary: Call to fetch a full trademark document by GUID
      tags:
      - Trademarks
  /trademarks/search:
    post:
      description: Call to fetch one or more full trademark documents by GUID, with possibile filters.
      operationId: searchTrademarks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search_request_trademark'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  result:
                    description: Page of results
                    items:
                      properties:
                        APPLICANT_ADDRESS_COUNTRY_CODE:
                          description: 'Applicant country code


                            Flat name: APPLICANT_ADDRESS_COUNTRY_CODE

                            Hierarchical name: APPLICANTS.ADDRESS_COUNTRY_CODE'
                          example: CN
                          type: string
                        APPLICANT_ADDRESS_LINE_TEXT:
                          description: 'Applicant address


                            Flat name: APPLICANT_ADDRESS_LINE_TEXT

                            Hierarchical name: APPLICANTS.ADDRESS_LINE_TEXT'
                          example: PEKING
                          type: string
                        APPLICANT_ADDRESS_NATIVE_LINE_TEXT:
                          description: 'Applicant address in the language of the publication


                            Flat name: APPLICANT_ADDRESS_NATIVE_LINE_TEXT

                            Hierarchical name: APPLICANTS.ADDRESS_NATIVE_LINE_TEXT'
                          example: 云南省迪庆藏族自治州香格里拉市建塘镇香巴拉小镇
                          type: string
                        APPLICANT_NAME:
                          description: 'Applicant name


                            Flat name: APPLICANT_NAME

                            Hierarchical name: APPLICANTS.NAME'
                          example: LA DAWA CITY BIOTECHNOLOGY CO., LTD.
                          type: string
                        APPLICANT_NAME_NATIVE:
                          description: 'Applicant name in the language of the publication


                            Flat name: APPLICANT_NAME_NATIVE

                            Hierarchical name: APPLICANTS.NAME_NATIVE'
                          example: 香格里拉市达娃生物科技有限公司
                          type: string
                        APPLICATION_ABANDONED_DATE:
                          description: 'Abandonment date

                            This field is of type date but will be serialized to type string.


                            Flat name: APPLICATION_ABANDONED_DATE

                            Hierarchical name: STATUS.APPLICATION_ABANDONED_DATE'
                          example: '2009-05-21'
                          format: date
                          type: string
                        APPLICATION_DATE:
                          description: 'Application date

                            This field is of type date but will be serialized to type string.


                            Flat name: APPLICATION_DATE

                            Hierarchical name: STATUS.APPLICATION_DATE'
                          example: '2002-05-21'
                          format: date
                          type: string
                        APPLICATION_LANGUAGE_CODE:
                          description: 'Application language code


                            Flat name: APPLICATION_LANGUAGE_CODE

                            Hierarchical name: APPLICATION_LANGUAGE_CODE'
                          example: EN
                          type: string
                        APPLICATION_NUMBER_TEXT:
                          description: 'Application number


                            Flat name: APPLICATION_NUMBER_TEXT

                            Hierarchical name: STATUS.APPLICATION_NUMBER_TEXT'
                          type: string
                        CANCELLATION_DATE:
                          description: 'Cancellation date

                            This field is of type date but will be serialized to type string.


                            Flat name: CANCELLATION_DATE

                            Hierarchical name: STATUS.CANCELLATION_DATE'
                          example: '2009-05-21'
                          format: date
                          type: string
                        CLASSIFICATION:
                          description: 'Figurative classification system. Either VIENNA_CLASSIFICATION, MARK_IMAGE_EU_CLASSIFICATION_ENRICHED or MARK_IMAGE_US_CLASSIFICATION_ENRICHED


                            Flat name: CLASSIFICATION

                            Hierarchical name: FIGURATIVE_ELEMENTS.CLASSIFICATION'
                          example: VIENNA_CLASSIFICATION
                          type: string
                        CLASSIFICATION_CODE_ENRICHED:
                          description: 'Figurative code


                            Flat name: CLASSIFICATION_CODE_ENRICHED

                            Hierarchical name: FIGURATIVE_ELEMENTS.CLASSIFICATION_CODES_ENRICHED'
                          example: '["26.11.12", "25.07.22"]'
                          type: string
                        COUNTRY_ISO_3166_ALPHA2:
                          description: Country ISO 3166 Alpha-2
                          example: IN
                          type: string
                        COUNTRY_ISO_3166_ALPHA3:
                          description: Country ISO 3166 Alpha-3
                          example: IND
                          type: string
                        COUNTRY_TEXT:
                          description: Country Text
                          example: INDIA
                          type: string
                        CURRENT_STATUS:
                          description: 'Trademark record status (office specific)


                            Flat name: CURRENT_STATUS

                            Hierarchical name: STATUS.CURRENT_STATUS'
                          example: UNPUBLISHED APPLICATION
                          type: string
                        CURRENT_STATUS_DERIVED:
                          description: 'Harmonized trademark record status


                            Flat name: CURRENT_STATUS_DERIVED

                            Hierarchical name: STATUS.CURRENT_STATUS_DERIVED'
                          example: PENDING
                          type: string
                        DESIGNATED_COUNTRY_CODE:
                          description: 'Designated country code for International or ARIPO trademarks; or US State for US State trademarks


                            Flat name: DESIGNATED_COUNTRY_CODE

                            Hierarchical name: DESIGNATED_COUNTRY_CODE'
                          example: '["CN", "EM", "IN", "US"]'
                          type: string
                        DESIGNATION_BASIS:
                          description: 'Either MADRID_AGREEMENT, MADRID_PROTOCOL, ARIPO or USA_STATE


                            Flat name: DESIGNATION_BASIS

                            Hierarchical name: DESIGNATION_BASIS'
                          example: MADRID_PROTOCOL
                          type: string
                        DISCLAIMERS:
                          description: 'Disclaimers


                            Flat name: DISCLAIMERS

                            Hierarchical name: DISCLAIMERS'
                          example: '["BUSINESS FINANCE"]'
                          type: string
                        EXPIRY_DATE:
                          description: 'Exipiry date

                            This field is of type date but will be serialized to type string.


                            Flat name: EXPIRY_DATE

                            Hierarchical name: STATUS.EXPIRY_DATE'
                          example: '2012-05-21'
                          format: date
                          type: string
                        FILING_DATE_DERIVED:
                          description: 'Harmonized filing date

                            This field is of type date but will be serialized to type string.


                            Flat name: FILING_DATE_DERIVED

                            Hierarchical name: STATUS.FILING_DATE_DERIVED'
                          example: '2002-05-21'
                          format: date
                          type: string
                        GUID:
                          description: 'Trademark record unique global identifier


                            Flat name: GUID

                            Hierarchical name: GUID'
                          example: USAFI65E053B1C87611DEB9C6000D609921FB
                          type: string
                        GUID_DERIVED:
                          description: Trademark record unique global identifier on designated country level for International marks
                          example: CNINTEIF1B28495161911E58373A272ECEBA1B7
                          type: string
                        ID:
                          description: 'Deprecated, use GUID. Trademark record unique global identifier


                            Flat name: ID

                            Hierarchical name: ID'
                          example: INTEIF1B28495161911E58373A272ECEBA1B7
                          type: string
                        ID_DERIVED:
                          description: Deprecated, use GUID_DERIVED. Trademark record unique global identifier on designated country level for International marks
                          example: CNINTEIF1B28495161911E58373A272ECEBA1B7
                          type: string
                        IMAGES_TOTAL_QUANTITY:
                          description: 'Image available for the trademark record


                            Flat name: IMAGES_TOTAL_QUANTITY

                            Hierarchical name: IMAGES_TOTAL_QUANTITY'
                          example: 1
                          type: number
                        IMAGE_KIND:
                          description: 'Kind of available image. None or PUBLICATION_COPY.


                            Flat name: IMAGE_KIND

                            Hierarchical name: IMAGE_KIND'
                          example: PUBLICATION_COPY
                          type: string
                        INITIAL_APPLICATION_DATE:
                          description: 'Initial application date

                            This field is of type date but will be serialized to type string.


                            Flat name: INITIAL_APPLICATION_DATE

                            Hierarchical name: STATUS.INITIAL_APPLICATION_DATE'
                          example: '2002-05-21'
                          format: date
                          type: string
                        INITIAL_REGISTRATION_DATE:
                          description: 'Initial registration date

                            This field is of type date but will be serialized to type string.


                            Flat name: INITIAL_REGISTRATION_DATE

                            Hierarchical name: STATUS.INITIAL_REGISTRATION_DATE'
                          example: '2003-03-21'
                          format: date
                          type: string
                        INT_CLASS_HEADING_DERIVED:
                          description: Shortened Nice class heading
                          example: PHARMACEUTICALS
                          type: string
                        INT_CLASS_NUMBER:
                          description: 'Nice class number


                            Flat name: INT_CLASS_NUMBER

                            Hierarchical name: GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_CLASS_NUMBER'
                          example: '05'
                          type: string
                        INT_CLASS_TYPE_DERIVED:
                          description: Class type
                          example: GOODS
                          type: string
                        INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION:
                          description: 'Machine translated goods and service description


                            Flat name: INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION

                            Hierarchical name: GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION'
                          example: ONLY TEST STRIPS FOR EXAMS.
                          type: string
                        INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE:
                          description: 'Machine translated goods and service description language code


                            Flat name: INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE

                            Hierarchical name: GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE'
                          example: EN
                          type: string
                        INT_GOODS_SERVICES_DESCRIPTION:
                          description: 'Goods and service description


                            Flat name: INT_GOODS_SERVICES_DESCRIPTION

                            Hierarchical name: GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_GOODS_SERVICES_DESCRIPTION'
                          example: SOLAMENTE TIRAS REACTIVAS PARA EXAMENES.
                          type: string
                        INT_GOODS_SERVICES_LANGUAGE_CODE:
                          description: 'Goods and service description language code


                            Flat name: INT_GOODS_SERVICES_LANGUAGE_CODE

                            Hierarchical name: GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_GOODS_SERVICES_LANGUAGE_CODE'
                          example: ES
                          type: string
                        LAST_PUBLICATION_DATE:
                          description: 'Last publication date

                            This field is of type date but will be serialized to type string.


                            Flat name: LAST_PUBLICATION_DATE

                            Hierarchical name: STATUS.LAST_PUBLICATION_DATE'
                          example: '2002-01-21'
                          format: date
                          type: string
                        LAST_UPDATED_DATE:
                          description: 'A date that symbolizes the last update in the database

                            This field is of type timestamp but will be serialized to type string.


                            Flat name: LAST_UPDATED_DATE

                            Hierarchical name: LAST_UPDATED_DATE'
                          example: '2022-05-05'
                          format: date
                          type: string
                        MARK_FEATURE:
                          description: 'Type of trademark


                            Flat name: MARK_FEATURE

                            Hierarchical name: MARK_FEATURE'
                          example: WORD AND DESIGN
                          type: string
                        MARK_TRANSLATION_TEXT:
                          description: 'Verbal element translation


                            Flat name: MARK_TRANSLATION_TEXT

                            Hierarchical name: WORD_MARK_SPECIFICATION.MARK_TRANSLATION_TEXT'
                          example: BUTTERFLY
                          type: string
                        MARK_TRANSLITERATION_TEXT:
                          description: 'Verbal element transliteration


                            Flat name: MARK_TRANSLITERATION_TEXT

                            Hierarchical name: WORD_MARK_SPECIFICATION.MARK_TRANSLITERATION_TEXT'
                          example: LAO YAO LANG
                          type: string
                        MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED:
                          description: '=


                            Flat name: MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED

                            Hierarchical name: WORD_MARK_SPECIFICATION.MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED'
                          example: ZOSPREGA FOR YOU
                          type: string
                        MARK_VERBAL_ELEMENT_TEXT:
                          description: 'Verbal element


                            Flat name: MARK_VERBAL_ELEMENT_TEXT

                            Hierarchical name: WORD_MARK_SPECIFICATION.MARK_VERBAL_ELEMENT_TEXT'
                          example: ZOSPREGA 4U
                          type: string
                        NAT_CLASS_NUMBER:
                          description: 'National class number


                            Flat name: NAT_CLASS_NUMBER

                            Hierarchical name: GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS.NAT_CLASS_NUMBER'
                          example: 36F01
                          type: string
                        NAT_GOODS_SERVICES_DESCRIPTION:
                          description: 'National goods and service description


                            Flat name: NAT_GOODS_SERVICES_DESCRIPTION

                            Hierarchical name: GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS.NAT_GOODS_SERVICES_DESCRIPTION'
                          example: APPRAISAL OF ANTIQUES, ART, JEWELRY
                          type: string
                        NAT_GOODS_SERVICES_LANGUAGE_CODE:
                          description: 'National goods and service description language


                            Flat name: NAT_GOODS_SERVICES_LANGUAGE_CODE

                            Hierarchical name: GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS.NAT_GOODS_SERVICES_LANGUAGE_CODE'
                          example: JA
                          type: string
                        PRIORITY_COUNTRY_CODE:
                          description: 'Country or territory of filing the application for which priority is claimed


                            Flat name: PRIORITY_COUNTRY_CODE

                            Hierarchical name: PRIORITIES.COUNTRY_CODE'
                          example: BX
                          type: string
                        PRIORITY_DATE:
                          description: 'Filing date of the application for which priority is claimed

                            This field is of type date but will be serialized to type string.


                            Flat name: PRIORITY_DATE

                            Hierarchical name: PRIORITIES.PRIORITY_DATE'
                          example: '2010-03-17'
                          format: date
                          type: string
                        PRIORITY_NUMBER_TEXT:
                          description: 'Filing number of the application for which priority is claimed


                            Flat name: PRIORITY_NUMBER_TEXT

                            Hierarchical name: PRIORITIES.NUMBER_TEXT'
                          example: 85/535,907
                          type: string
                        PUBLICATION_DATE:
                          description: 'Publication date

                            This field is of type date but will be serialized to type string.


                            Flat name: PUBLICATION_DATE

                            Hierarchical name: STATUS.PUBLICATION_DATE'
                          example: '2002-01-21'
                          format: date
                          type: string
                        PUBLICATION_YEAR:
                          description: 'Publication year


                            Flat name: PUBLICATION_YEAR

                            Hierarchical name: STATUS.PUBLICATION_YEAR'
                          example: 2002
                          type: number
                        REGISTRATION_DATE:
                          description: 'Registration date

                            This field is of type date but will be serialized to type string.


                            Flat name: REGISTRATION_DATE

                            Hierarchical name: STATUS.REGISTRATION_DATE'
                          example: '2003-03-21'
                          format: date
                          type: string
                        REGISTRATION_NUMBER_TEXT:
                          description: 'Registration number


                            Flat name: REGISTRATION_NUMBER_TEXT

                            Hierarchical name: STATUS.REGISTRATION_NUMBER_TEXT'
                          example: '1256107'
                          type: string
                        REGISTRATION_OFFICE_CODE:
                          description: 'Office code


                            Flat name: REGISTRATION_OFFICE_CODE

                            Hierarchical name: REGISTRATION_OFFICE_CODE'
                          example: WO
                          type: string
                        REGISTRATION_OFFICE_CODE_DERIVED:
                          description: Office code of national/regional filing or of expanded designated office for International trademarks or Aripo trademarks
                          example: CN
                          type: string
                        RENEWAL_DATE:
                          description: 'Renewal date

                            This field is of type date but will be serialized to type string.


                            Flat name: RENEWAL_DATE

                            Hierarchical name: STATUS.RENEWAL_DATE'
                          example: '2012-05-21'
                          format: date
                          type: string
                        RENEWAL_PUBLISHED_DATE:
                          description: 'Renewal published date

                            This field is of type date but will be serialized to type string.


                            Flat name: RENEWAL_PUBLISHED_DATE

                            Hierarchical name: STATUS.RENEWAL_PUBLISHED_DATE'
                          example: '2012-05-21'
                          format: date
                          type: string
                        REPRESENTATIVE_ADDRESS_COUNTRY_CODE:
                          description: 'Representative country code


                            Flat name: REPRESENTATIVE_ADDRESS_COUNTRY_CODE

                            Hierarchical name: REPRESENTATIVES.ADDRESS_COUNTRY_CODE'
                          example: US
                          type: string
                        REPRESENTATIVE_ADDRESS_LINE_TEXT:
                          description: 'Representative address


                            Flat name: REPRESENTATIVE_ADDRESS_LINE_TEXT

                            Hierarchical name: REPRESENTATIVES.ADDRESS_LINE_TEXT'
                          example: 1717 K STREET NW WASHINGTON DC 20006 UNITED STATES OF AMERICA
                          type: string
                        REPRESENTATIVE_ADDRESS_NATIVE_LINE_TEXT:
                          description: 'Representative address in the language of the publication


                            Flat name: REPRESENTATIVE_ADDRESS_NATIVE_LINE_TEXT

                            Hierarchical name: REPRESENTATIVES.ADDRESS_NATIVE_LINE_TEXT'
                          example: 11000 БЕОГРАД, ВЕЛЕ НИГРИНОВЕ 16А
                          type: string
                        REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE:
                          description: 'Representative correspondent country code


                            Flat name: REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE

                            Hierarchical name: REPRESENTATIVE_CORRESPONDENTS.ADDRESS_COUNTRY_CODE'
                          example: NZ
                          type: string
                        REPRESENTATIVE_CORRESPONDENT_ADDRESS_LINE_TEXT:
                          description: 'Representative correspondent address


                            Flat name: REPRESENTATIVE_CORRESPONDENT_ADDRESS_LINE_TEXT

                            Hierarchical name: REPRESENTATIVE_CORRESPONDENTS.ADDRESS_LINE_TEXT'
                          example: AON CENTRE PO BOX 949 LEVEL 22 WELLINGTON 1 WILLIS STREET 6140
                          type: string
                        REPRESENTATIVE_CORRESPONDENT_NAME:
                          description: 'Representative correspondent name


                            Flat name: REPRESENTATIVE_CORRESPONDENT_NAME

                            Hierarchical name: REPRESENTATIVE_CORRESPONDENTS.NAME'
                          example: AJ PARK
                          type: string
                        REPRESENTATIVE_NAME:
                          description: 'Representative name


                            Flat name: REPRESENTATIVE_NAME

                            Hierarchical name: REPRESENTATIVES.NAME'
                          example: LUNA M. SAMMAN ARENT FOX LLP
                          type: string
                        REPRESENTATIVE_NAME_NATIVE:
                          description: 'Representative name in the language of the publication


                            Flat name: REPRESENTATIVE_NAME_NATIVE

                            Hierarchical name: REPRESENTATIVES.NAME_NATIVE'
                          example: PETOŠEVIĆ SLOBODAN, ADVOKAT
                          type: string
                        SECOND_LANGUAGE_CODE:
                          description: 'Application second language code


                            Flat name: SECOND_LANGUAGE_CODE

                            Hierarchical name: SECOND_LANGUAGE_CODE'
                          example: FR
                          type: string
                      type: object
                    type: array
                  total_count:
                    description: Total number of results
                    type: number
                type: object
          description: Success
        '400':
          content:
            application/json:
              example:
                code: 1200
                error: Invalid request. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Invalid request
        '401':
          content:
            application/json:
              example:
                code: 1100
                error: Insufficient permissions to access this resources. Please contact support if you believe this is an error.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                code: 10200
                error: Insufficient permissions to use attribute values in the resources request. Please contact support if you believe this is an error
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                code: 1201
                error: Endpoint not found
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Not found
        '500':
          content:
            application/json:
              example:
                code: 1300
                error: Something went wrong. Please try again, and contact support if error persists.
              schema:
                properties:
                  code:
                    description: Application error code
                    type: integer
                  error:
                    description: Error message
                    type: string
                required:
                - code
                - error
                type: object
          description: Internal server error
      summary: Search trademarks, analytic format
      tags:
      - Trademarks
components:
  schemas:
    records_request_trademark:
      properties:
        FIELDS:
          description: Fields to fetch
          items:
            description: Fields to fetch
            enum:
            - STATUS.PUBLICATION_DATE
            - SECOND_LANGUAGE_CODE
            - REPRESENTATIVES.NAME
            - APPLICANTS.ADDRESS_LINE_TEXT
            - GOODS_SERVICES.INT_CLASS_DESCRIPTIONS
            - STATUS.CURRENT_STATUS
            - WORD_MARK_SPECIFICATION.MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED
            - STATUS.APPLICATION_NUMBER_TEXT
            - GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS.NAT_GOODS_SERVICES_DESCRIPTION
            - GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE
            - FIGURATIVE_ELEMENTS
            - FIGURATIVE_ELEMENTS.CLASSIFICATION
            - APPLICANTS.NAME_NATIVE
            - REPRESENTATIVES.NAME_NATIVE
            - PRIORITIES.PRIORITY_DATE
            - GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_GOODS_SERVICES_DESCRIPTION
            - STATUS.INITIAL_APPLICATION_DATE
            - DESIGNATION_BASIS
            - STATUS.REGISTRATION_NUMBER_TEXT
            - WORD_MARK_SPECIFICATION
            - STATUS.CURRENT_STATUS_DERIVED
            - STATUS.INITIAL_REGISTRATION_DATE
            - GOODS_SERVICES
            - IMAGE_KIND
            - APPLICANTS
            - GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_GOODS_SERVICES_LANGUAGE_CODE
            - GUID
            - WORD_MARK_SPECIFICATION.MARK_TRANSLATION_TEXT
            - REPRESENTATIVE_CORRESPONDENTS
            - IMAGES_TOTAL_QUANTITY
            - WORD_MARK_SPECIFICATION.MARK_TRANSLITERATION_TEXT
            - PRIORITIES.COUNTRY_CODE
            - DISCLAIMERS
            - REPRESENTATIVE_CORRESPONDENTS.NAME
            - PRIORITIES.NUMBER_TEXT
            - APPLICANTS.NAME
            - STATUS.RENEWAL_DATE
            - STATUS.APPLICATION_DATE
            - STATUS.PUBLICATION_YEAR
            - STATUS.APPLICATION_ABANDONED_DATE
            - MARK_FEATURE
            - STATUS
            - PRIORITIES
            - GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION
            - APPLICANTS.ADDRESS_COUNTRY_CODE
            - APPLICATION_LANGUAGE_CODE
            - FIGURATIVE_ELEMENTS.CLASSIFICATION_CODES_ENRICHED
            - REGISTRATION_OFFICE_CODE
            - REPRESENTATIVES.ADDRESS_COUNTRY_CODE
            - STATUS.EXPIRY_DATE
            - STATUS.CANCELLATION_DATE
            - REPRESENTATIVE_CORRESPONDENTS.ADDRESS_COUNTRY_CODE
            - ID
            - GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS
            - STATUS.LAST_PUBLICATION_DATE
            - REPRESENTATIVES
            - REPRESENTATIVES.ADDRESS_NATIVE_LINE_TEXT
            - REPRESENTATIVES.ADDRESS_LINE_TEXT
            - LAST_UPDATED_DATE
            - STATUS.REGISTRATION_DATE
            - APPLICANTS.ADDRESS_NATIVE_LINE_TEXT
            - GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS.NAT_GOODS_SERVICES_LANGUAGE_CODE
            - GOODS_SERVICES.NAT_CLASS_DESCRIPTIONS.NAT_CLASS_NUMBER
            - STATUS.RENEWAL_PUBLISHED_DATE
            - WORD_MARK_SPECIFICATION.MARK_VERBAL_ELEMENT_TEXT
            - STATUS.FILING_DATE_DERIVED
            - REPRESENTATIVE_CORRESPONDENTS.ADDRESS_LINE_TEXT
            - DESIGNATED_COUNTRY_CODE
            - GOODS_SERVICES.INT_CLASS_DESCRIPTIONS.INT_CLASS_NUMBER
            type: string
          type: array
        GUIDS:
          description: Document(s) to retrieve
          items:
            description: Unique ID of trademark document
            example: USAFI65E053B1C87611DEB9C6000D609921FB
            type: string
          type: array
      required:
      - GUIDS
      type: object
    query_body_trademark:
      description: Query objects of this type may be freely interleaved with boolean operators, as strings. Available boolean operators are AND and OR
      properties:
        ALG:
          description: Algorithm to use.
          enum:
          - BASIC
          type: string
        FIELD:
          description: Field to query
          enum:
          - SECOND_LANGUAGE_CODE
          - APPLICANT_NAME
          - CLASSIFICATION_CODE_ENRICHED
          - ID_DERIVED
          - PUBLICATION_YEAR
          - PUBLICATION_DATE
          - LAST_PUBLICATION_DATE
          - REGISTRATION_NUMBER_TEXT
          - COUNTRY_ISO_3166_ALPHA2
          - RENEWAL_DATE
          - APPLICANT_ADDRESS_COUNTRY_CODE
          - DESIGNATION_BASIS
          - PRIORITY_NUMBER_TEXT
          - NAT_GOODS_SERVICES_LANGUAGE_CODE
          - INITIAL_REGISTRATION_DATE
          - APPLICANT_ADDRESS_NATIVE_LINE_TEXT
          - IMAGE_KIND
          - REPRESENTATIVE_ADDRESS_NATIVE_LINE_TEXT
          - REPRESENTATIVE_ADDRESS_LINE_TEXT
          - GUID
          - INT_CLASS_NUMBER
          - NAT_GOODS_SERVICES_DESCRIPTION
          - REGISTRATION_OFFICE_CODE_DERIVED
          - INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE
          - APPLICATION_NUMBER_TEXT
          - REGISTRATION_DATE
          - INT_CLASS_HEADING_DERIVED
          - REPRESENTATIVE_CORRESPONDENT_NAME
          - APPLICANT_ADDRESS_LINE_TEXT
          - IMAGES_TOTAL_QUANTITY
          - CANCELLATION_DATE
          - EXPIRY_DATE
          - GUID_DERIVED
          - DISCLAIMERS
          - CLASSIFICATION
          - FILING_DATE_DERIVED
          - MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED
          - APPLICATION_ABANDONED_DATE
          - REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE
          - COUNTRY_TEXT
          - INITIAL_APPLICATION_DATE
          - COUNTRY_ISO_3166_ALPHA3
          - APPLICATION_DATE
          - CURRENT_STATUS_DERIVED
          - APPLICATION_LANGUAGE_CODE
          - REGISTRATION_OFFICE_CODE
          - ID
          - MARK_VERBAL_ELEMENT_TEXT
          - INT_GOODS_SERVICES_DESCRIPTION
          - INT_CLASS_TYPE_DERIVED
          - PRIORITY_DATE
          - REPRESENTATIVE_NAME
          - PRIORITY_COUNTRY_CODE
          - REPRESENTATIVE_CORRESPONDENT_ADDRESS_LINE_TEXT
          - CURRENT_STATUS
          - INT_GOODS_SERVICES_LANGUAGE_CODE
          - REPRESENTATIVE_ADDRESS_COUNTRY_CODE
          - RENEWAL_PUBLISHED_DATE
          - LAST_UPDATED_DATE
          - MARK_TRANSLATION_TEXT
          - REPRESENTATIVE_NAME_NATIVE
          - MARK_TRANSLITERATION_TEXT
          - INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION
          - NAT_CLASS_NUMBER
          - MARK_FEATURE
          - DESIGNATED_COUNTRY_CODE
          - APPLICANT_NAME_NATIVE
          example: GUID
          type: string
        OP:
          description: Operator
          enum:
          - LE
          - GE
          - NE
          - GT
          - IS
          - LT
          - EQ
          - IN
          type: string
        VALUE:
          description: Field value to match (based on operator)
          example: USAFI65E053B1C87611DEB9C6000D609921FB
          type: string
      required:
      - OP
      - VALUE
      type: object
    search_request_trademark:
      properties:
        AGG:
          description: A list of aggregations
          items:
            properties:
              ALIAS:
                description: Field name alias
                example: NUM_GUIDS
                type: string
              FIELD:
                description: Field to query
                enum:
                - SECOND_LANGUAGE_CODE
                - APPLICANT_NAME
                - CLASSIFICATION_CODE_ENRICHED
                - ID_DERIVED
                - PUBLICATION_YEAR
                - PUBLICATION_DATE
                - LAST_PUBLICATION_DATE
                - REGISTRATION_NUMBER_TEXT
                - COUNTRY_ISO_3166_ALPHA2
                - RENEWAL_DATE
                - APPLICANT_ADDRESS_COUNTRY_CODE
                - DESIGNATION_BASIS
                - PRIORITY_NUMBER_TEXT
                - NAT_GOODS_SERVICES_LANGUAGE_CODE
                - INITIAL_REGISTRATION_DATE
                - APPLICANT_ADDRESS_NATIVE_LINE_TEXT
                - IMAGE_KIND
                - REPRESENTATIVE_ADDRESS_NATIVE_LINE_TEXT
                - REPRESENTATIVE_ADDRESS_LINE_TEXT
                - GUID
                - INT_CLASS_NUMBER
                - NAT_GOODS_SERVICES_DESCRIPTION
                - REGISTRATION_OFFICE_CODE_DERIVED
                - INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE
                - APPLICATION_NUMBER_TEXT
                - REGISTRATION_DATE
                - INT_CLASS_HEADING_DERIVED
                - REPRESENTATIVE_CORRESPONDENT_NAME
                - APPLICANT_ADDRESS_LINE_TEXT
                - IMAGES_TOTAL_QUANTITY
                - CANCELLATION_DATE
                - EXPIRY_DATE
                - GUID_DERIVED
                - DISCLAIMERS
                - CLASSIFICATION
                - FILING_DATE_DERIVED
                - MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED
                - APPLICATION_ABANDONED_DATE
                - REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE
                - COUNTRY_TEXT
                - INITIAL_APPLICATION_DATE
                - COUNTRY_ISO_3166_ALPHA3
                - APPLICATION_DATE
                - CURRENT_STATUS_DERIVED
                - APPLICATION_LANGUAGE_CODE
                - REGISTRATION_OFFICE_CODE
                - ID
                - MARK_VERBAL_ELEMENT_TEXT
                - INT_GOODS_SERVICES_DESCRIPTION
                - INT_CLASS_TYPE_DERIVED
                - PRIORITY_DATE
                - REPRESENTATIVE_NAME
                - PRIORITY_COUNTRY_CODE
                - REPRESENTATIVE_CORRESPONDENT_ADDRESS_LINE_TEXT
                - CURRENT_STATUS
                - INT_GOODS_SERVICES_LANGUAGE_CODE
                - REPRESENTATIVE_ADDRESS_COUNTRY_CODE
                - RENEWAL_PUBLISHED_DATE
                - LAST_UPDATED_DATE
                - MARK_TRANSLATION_TEXT
                - REPRESENTATIVE_NAME_NATIVE
                - MARK_TRANSLITERATION_TEXT
                - INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION
                - NAT_CLASS_NUMBER
                - MARK_FEATURE
                - DESIGNATED_COUNTRY_CODE
                - APPLICANT_NAME_NATIVE
                example: GUID
                type: string
              FUNC:
                description: Aggregation function
                example: COUNT
                type: string
            required:
            - FIELD
            - FUNC
            type: object
          type: array
        FIELDS:
          oneOf:
          - description: Fields to fetch. This may also be a structure of type field_aliases_trademark, rather than an array, in which case the fields will be renamed.
            items:
              default: GUID
              description: Fields to fetch. This may also be a structure of type field_aliases_trademark, rather than an array, in which case the fields will be renamed.
              enum:
              - SECOND_LANGUAGE_CODE
              - APPLICANT_NAME
              - CLASSIFICATION_CODE_ENRICHED
              - ID_DERIVED
              - PUBLICATION_YEAR
              - PUBLICATION_DATE
              - LAST_PUBLICATION_DATE
              - REGISTRATION_NUMBER_TEXT
              - COUNTRY_ISO_3166_ALPHA2
              - RENEWAL_DATE
              - APPLICANT_ADDRESS_COUNTRY_CODE
              - DESIGNATION_BASIS
              - PRIORITY_NUMBER_TEXT
              - NAT_GOODS_SERVICES_LANGUAGE_CODE
              - INITIAL_REGISTRATION_DATE
              - APPLICANT_ADDRESS_NATIVE_LINE_TEXT
              - IMAGE_KIND
              - REPRESENTATIVE_ADDRESS_NATIVE_LINE_TEXT
              - REPRESENTATIVE_ADDRESS_LINE_TEXT
              - GUID
              - INT_CLASS_NUMBER
              - NAT_GOODS_SERVICES_DESCRIPTION
              - REGISTRATION_OFFICE_CODE_DERIVED
              - INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE
              - APPLICATION_NUMBER_TEXT
              - REGISTRATION_DATE
              - INT_CLASS_HEADING_DERIVED
              - REPRESENTATIVE_CORRESPONDENT_NAME
              - APPLICANT_ADDRESS_LINE_TEXT
              - IMAGES_TOTAL_QUANTITY
              - CANCELLATION_DATE
              - EXPIRY_DATE
              - GUID_DERIVED
              - DISCLAIMERS
              - CLASSIFICATION
              - FILING_DATE_DERIVED
              - MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED
              - APPLICATION_ABANDONED_DATE
              - REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE
              - COUNTRY_TEXT
              - INITIAL_APPLICATION_DATE
              - COUNTRY_ISO_3166_ALPHA3
              - APPLICATION_DATE
              - CURRENT_STATUS_DERIVED
              - APPLICATION_LANGUAGE_CODE
              - REGISTRATION_OFFICE_CODE
              - ID
              - MARK_VERBAL_ELEMENT_TEXT
              - INT_GOODS_SERVICES_DESCRIPTION
              - INT_CLASS_TYPE_DERIVED
              - PRIORITY_DATE
              - REPRESENTATIVE_NAME
              - PRIORITY_COUNTRY_CODE
              - REPRESENTATIVE_CORRESPONDENT_ADDRESS_LINE_TEXT
              - CURRENT_STATUS
              - INT_GOODS_SERVICES_LANGUAGE_CODE
              - REPRESENTATIVE_ADDRESS_COUNTRY_CODE
              - RENEWAL_PUBLISHED_DATE
              - LAST_UPDATED_DATE
              - MARK_TRANSLATION_TEXT
              - REPRESENTATIVE_NAME_NATIVE
              - MARK_TRANSLITERATION_TEXT
              - INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION
              - NAT_CLASS_NUMBER
              - MARK_FEATURE
              - DESIGNATED_COUNTRY_CODE
              - APPLICANT_NAME_NATIVE
              example: GUID
              type: string
            type: array
          - $ref: '#/components/schemas/field_aliases_trademark'
        GROUPBY:
          description: Group by fields (for aggregation)
          items:
            description: Group by fields (for aggregation)
            enum:
            - SECOND_LANGUAGE_CODE
            - APPLICANT_NAME
            - CLASSIFICATION_CODE_ENRICHED
            - ID_DERIVED
            - PUBLICATION_YEAR
            - PUBLICATION_DATE
            - LAST_PUBLICATION_DATE
            - REGISTRATION_NUMBER_TEXT
            - COUNTRY_ISO_3166_ALPHA2
            - RENEWAL_DATE
            - APPLICANT_ADDRESS_COUNTRY_CODE
            - DESIGNATION_BASIS
            - PRIORITY_NUMBER_TEXT
            - NAT_GOODS_SERVICES_LANGUAGE_CODE
            - INITIAL_REGISTRATION_DATE
            - IMAGE_KIND
            - GUID
            - INT_CLASS_NUMBER
            - REGISTRATION_OFFICE_CODE_DERIVED
            - INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE
            - APPLICATION_NUMBER_TEXT
            - REGISTRATION_DATE
            - INT_CLASS_HEADING_DERIVED
            - REPRESENTATIVE_CORRESPONDENT_NAME
            - IMAGES_TOTAL_QUANTITY
            - EXPIRY_DATE
            - CANCELLATION_DATE
            - GUID_DERIVED
            - CLASSIFICATION
            - FILING_DATE_DERIVED
            - MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED
            - APPLICATION_ABANDONED_DATE
            - REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE
            - COUNTRY_TEXT
            - INITIAL_APPLICATION_DATE
            - COUNTRY_ISO_3166_ALPHA3
            - APPLICATION_DATE
            - CURRENT_STATUS_DERIVED
            - APPLICATION_LANGUAGE_CODE
            - REGISTRATION_OFFICE_CODE
            - ID
            - MARK_VERBAL_ELEMENT_TEXT
            - PRIORITY_DATE
            - INT_GOODS_SERVICES_DESCRIPTION
            - INT_CLASS_TYPE_DERIVED
            - REPRESENTATIVE_NAME
            - PRIORITY_COUNTRY_CODE
            - CURRENT_STATUS
            - INT_GOODS_SERVICES_LANGUAGE_CODE
            - REPRESENTATIVE_ADDRESS_COUNTRY_CODE
            - RENEWAL_PUBLISHED_DATE
            - LAST_UPDATED_DATE
            - MARK_TRANSLATION_TEXT
            - REPRESENTATIVE_NAME_NATIVE
            - MARK_TRANSLITERATION_TEXT
            - NAT_CLASS_NUMBER
            - MARK_FEATURE
            - DESIGNATED_COUNTRY_CODE
            - APPLICANT_NAME_NATIVE
            example: GUID
            type: string
          type: array
        LIMIT:
          default: 10
          description: Maximum documents to retrieve
          example: 10
          type: number
        OFFSET:
          default: 0
          description: How many items to skip at the beginning (for pagination)
          example: 0
          type: number
        ORDERBY:
          description: Order by fields (for aggregation)
          items:
            example:
              GUID: ASC
            properties:
              APPLICANT_ADDRESS_COUNTRY_CODE:
                enum:
                - DESC
                - ASC
                type: string
              APPLICANT_ADDRESS_LINE_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              APPLICANT_ADDRESS_NATIVE_LINE_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              APPLICANT_NAME:
                enum:
                - DESC
                - ASC
                type: string
              APPLICANT_NAME_NATIVE:
                enum:
                - DESC
                - ASC
                type: string
              APPLICATION_ABANDONED_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              APPLICATION_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              APPLICATION_LANGUAGE_CODE:
                enum:
                - DESC
                - ASC
                type: string
              APPLICATION_NUMBER_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              CANCELLATION_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              CLASSIFICATION:
                enum:
                - DESC
                - ASC
                type: string
              CLASSIFICATION_CODE_ENRICHED:
                enum:
                - DESC
                - ASC
                type: string
              COUNTRY_ISO_3166_ALPHA2:
                enum:
                - DESC
                - ASC
                type: string
              COUNTRY_ISO_3166_ALPHA3:
                enum:
                - DESC
                - ASC
                type: string
              COUNTRY_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              CURRENT_STATUS:
                enum:
                - DESC
                - ASC
                type: string
              CURRENT_STATUS_DERIVED:
                enum:
                - DESC
                - ASC
                type: string
              DESIGNATED_COUNTRY_CODE:
                enum:
                - DESC
                - ASC
                type: string
              DESIGNATION_BASIS:
                enum:
                - DESC
                - ASC
                type: string
              DISCLAIMERS:
                enum:
                - DESC
                - ASC
                type: string
              EXPIRY_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              FILING_DATE_DERIVED:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              GUID:
                enum:
                - DESC
                - ASC
                type: string
              GUID_DERIVED:
                enum:
                - DESC
                - ASC
                type: string
              ID:
                enum:
                - DESC
                - ASC
                type: string
              ID_DERIVED:
                enum:
                - DESC
                - ASC
                type: string
              IMAGES_TOTAL_QUANTITY:
                enum:
                - DESC
                - ASC
                type: string
              IMAGE_KIND:
                enum:
                - DESC
                - ASC
                type: string
              INITIAL_APPLICATION_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              INITIAL_REGISTRATION_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              INT_CLASS_HEADING_DERIVED:
                enum:
                - DESC
                - ASC
                type: string
              INT_CLASS_NUMBER:
                enum:
                - DESC
                - ASC
                type: string
              INT_CLASS_TYPE_DERIVED:
                enum:
                - DESC
                - ASC
                type: string
              INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION:
                enum:
                - DESC
                - ASC
                type: string
              INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE:
                enum:
                - DESC
                - ASC
                type: string
              INT_GOODS_SERVICES_DESCRIPTION:
                enum:
                - DESC
                - ASC
                type: string
              INT_GOODS_SERVICES_LANGUAGE_CODE:
                enum:
                - DESC
                - ASC
                type: string
              LAST_PUBLICATION_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              LAST_UPDATED_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              MARK_FEATURE:
                enum:
                - DESC
                - ASC
                type: string
              MARK_TRANSLATION_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              MARK_TRANSLITERATION_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED:
                enum:
                - DESC
                - ASC
                type: string
              MARK_VERBAL_ELEMENT_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              NAT_CLASS_NUMBER:
                enum:
                - DESC
                - ASC
                type: string
              NAT_GOODS_SERVICES_DESCRIPTION:
                enum:
                - DESC
                - ASC
                type: string
              NAT_GOODS_SERVICES_LANGUAGE_CODE:
                enum:
                - DESC
                - ASC
                type: string
              PRIORITY_COUNTRY_CODE:
                enum:
                - DESC
                - ASC
                type: string
              PRIORITY_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              PRIORITY_NUMBER_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              PUBLICATION_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              PUBLICATION_YEAR:
                enum:
                - DESC
                - ASC
                type: string
              REGISTRATION_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              REGISTRATION_NUMBER_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              REGISTRATION_OFFICE_CODE:
                enum:
                - DESC
                - ASC
                type: string
              REGISTRATION_OFFICE_CODE_DERIVED:
                enum:
                - DESC
                - ASC
                type: string
              RENEWAL_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              RENEWAL_PUBLISHED_DATE:
                enum:
                - DESC
                - ASC
                format: date
                type: string
              REPRESENTATIVE_ADDRESS_COUNTRY_CODE:
                enum:
                - DESC
                - ASC
                type: string
              REPRESENTATIVE_ADDRESS_LINE_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              REPRESENTATIVE_ADDRESS_NATIVE_LINE_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE:
                enum:
                - DESC
                - ASC
                type: string
              REPRESENTATIVE_CORRESPONDENT_ADDRESS_LINE_TEXT:
                enum:
                - DESC
                - ASC
                type: string
              REPRESENTATIVE_CORRESPONDENT_NAME:
                enum:
                - DESC
                - ASC
                type: string
              REPRESENTATIVE_NAME:
                enum:
                - DESC
                - ASC
                type: string
              REPRESENTATIVE_NAME_NATIVE:
                enum:
                - DESC
                - ASC
                type: string
              SECOND_LANGUAGE_CODE:
                enum:
                - DESC
                - ASC
                type: string
            type: object
          type: array
        QUERY:
          description: Either a query_body_trademark object or an array of one or more query_body_trademark objects separated by strings consisting of boolean operators.
          oneOf:
          - items:
              anyOf:
              - description: boolean operator
                type: string
              - $ref: '#/components/schemas/query_body_trademark'
            type: array
          - $ref: '#/components/schemas/query_body_trademark'
      type: object
    field_aliases_trademark:
      properties:
        APPLICANT_ADDRESS_COUNTRY_CODE:
          description: Alias for APPLICANT_ADDRESS_COUNTRY_CODE
          example: APPLICANT_ADDRESS_COUNTRY_CODE_ALIAS
          type: string
        APPLICANT_ADDRESS_LINE_TEXT:
          description: Alias for APPLICANT_ADDRESS_LINE_TEXT
          example: APPLICANT_ADDRESS_LINE_TEXT_ALIAS
          type: string
        APPLICANT_ADDRESS_NATIVE_LINE_TEXT:
          description: Alias for APPLICANT_ADDRESS_NATIVE_LINE_TEXT
          example: APPLICANT_ADDRESS_NATIVE_LINE_TEXT_ALIAS
          type: string
        APPLICANT_NAME:
          description: Alias for APPLICANT_NAME
          example: APPLICANT_NAME_ALIAS
          type: string
        APPLICANT_NAME_NATIVE:
          description: Alias for APPLICANT_NAME_NATIVE
          example: APPLICANT_NAME_NATIVE_ALIAS
          type: string
        APPLICATION_ABANDONED_DATE:
          description: Alias for APPLICATION_ABANDONED_DATE
          example: APPLICATION_ABANDONED_DATE_ALIAS
          type: string
        APPLICATION_DATE:
          description: Alias for APPLICATION_DATE
          example: APPLICATION_DATE_ALIAS
          type: string
        APPLICATION_LANGUAGE_CODE:
          description: Alias for APPLICATION_LANGUAGE_CODE
          example: APPLICATION_LANGUAGE_CODE_ALIAS
          type: string
        APPLICATION_NUMBER_TEXT:
          description: Alias for APPLICATION_NUMBER_TEXT
          example: APPLICATION_NUMBER_TEXT_ALIAS
          type: string
        CANCELLATION_DATE:
          description: Alias for CANCELLATION_DATE
          example: CANCELLATION_DATE_ALIAS
          type: string
        CLASSIFICATION:
          description: Alias for CLASSIFICATION
          example: CLASSIFICATION_ALIAS
          type: string
        CLASSIFICATION_CODE_ENRICHED:
          description: Alias for CLASSIFICATION_CODE_ENRICHED
          example: CLASSIFICATION_CODE_ENRICHED_ALIAS
          type: string
        COUNTRY_ISO_3166_ALPHA2:
          description: Alias for COUNTRY_ISO_3166_ALPHA2
          example: COUNTRY_ISO_3166_ALPHA2_ALIAS
          type: string
        COUNTRY_ISO_3166_ALPHA3:
          description: Alias for COUNTRY_ISO_3166_ALPHA3
          example: COUNTRY_ISO_3166_ALPHA3_ALIAS
          type: string
        COUNTRY_TEXT:
          description: Alias for COUNTRY_TEXT
          example: COUNTRY_TEXT_ALIAS
          type: string
        CURRENT_STATUS:
          description: Alias for CURRENT_STATUS
          example: CURRENT_STATUS_ALIAS
          type: string
        CURRENT_STATUS_DERIVED:
          description: Alias for CURRENT_STATUS_DERIVED
          example: CURRENT_STATUS_DERIVED_ALIAS
          type: string
        DESIGNATED_COUNTRY_CODE:
          description: Alias for DESIGNATED_COUNTRY_CODE
          example: DESIGNATED_COUNTRY_CODE_ALIAS
          type: string
        DESIGNATION_BASIS:
          description: Alias for DESIGNATION_BASIS
          example: DESIGNATION_BASIS_ALIAS
          type: string
        DISCLAIMERS:
          description: Alias for DISCLAIMERS
          example: DISCLAIMERS_ALIAS
          type: string
        EXPIRY_DATE:
          description: Alias for EXPIRY_DATE
          example: EXPIRY_DATE_ALIAS
          type: string
        FILING_DATE_DERIVED:
          description: Alias for FILING_DATE_DERIVED
          example: FILING_DATE_DERIVED_ALIAS
          type: string
        GUID:
          description: Alias for GUID
          example: GUID_ALIAS
          type: string
        GUID_DERIVED:
          description: Alias for GUID_DERIVED
          example: GUID_DERIVED_ALIAS
          type: string
        ID:
          description: Alias for ID
          example: ID_ALIAS
          type: string
        ID_DERIVED:
          description: Alias for ID_DERIVED
          example: ID_DERIVED_ALIAS
          type: string
        IMAGES_TOTAL_QUANTITY:
          description: Alias for IMAGES_TOTAL_QUANTITY
          example: IMAGES_TOTAL_QUANTITY_ALIAS
          type: string
        IMAGE_KIND:
          description: Alias for IMAGE_KIND
          example: IMAGE_KIND_ALIAS
          type: string
        INITIAL_APPLICATION_DATE:
          description: Alias for INITIAL_APPLICATION_DATE
          example: INITIAL_APPLICATION_DATE_ALIAS
          type: string
        INITIAL_REGISTRATION_DATE:
          description: Alias for INITIAL_REGISTRATION_DATE
          example: INITIAL_REGISTRATION_DATE_ALIAS
          type: string
        INT_CLASS_HEADING_DERIVED:
          description: Alias for INT_CLASS_HEADING_DERIVED
          example: INT_CLASS_HEADING_DERIVED_ALIAS
          type: string
        INT_CLASS_NUMBER:
          description: Alias for INT_CLASS_NUMBER
          example: INT_CLASS_NUMBER_ALIAS
          type: string
        INT_CLASS_TYPE_DERIVED:
          description: Alias for INT_CLASS_TYPE_DERIVED
          example: INT_CLASS_TYPE_DERIVED_ALIAS
          type: string
        INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION:
          description: Alias for INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION
          example: INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_DESCRIPTION_ALIAS
          type: string
        INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE:
          description: Alias for INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE
          example: INT_GOODS_SERVICES_COMPUTER_TRANSLATION_ENRICHED_LANGUAGE_CODE_ALIAS
          type: string
        INT_GOODS_SERVICES_DESCRIPTION:
          description: Alias for INT_GOODS_SERVICES_DESCRIPTION
          example: INT_GOODS_SERVICES_DESCRIPTION_ALIAS
          type: string
        INT_GOODS_SERVICES_LANGUAGE_CODE:
          description: Alias for INT_GOODS_SERVICES_LANGUAGE_CODE
          example: INT_GOODS_SERVICES_LANGUAGE_CODE_ALIAS
          type: string
        LAST_PUBLICATION_DATE:
          description: Alias for LAST_PUBLICATION_DATE
          example: LAST_PUBLICATION_DATE_ALIAS
          type: string
        LAST_UPDATED_DATE:
          description: Alias for LAST_UPDATED_DATE
          example: LAST_UPDATED_DATE_ALIAS
          type: string
        MARK_FEATURE:
          description: Alias for MARK_FEATURE
          example: MARK_FEATURE_ALIAS
          type: string
        MARK_TRANSLATION_TEXT:
          description: Alias for MARK_TRANSLATION_TEXT
          example: MARK_TRANSLATION_TEXT_ALIAS
          type: string
        MARK_TRANSLITERATION_TEXT:
          description: Alias for MARK_TRANSLITERATION_TEXT
          example: MARK_TRANSLITERATION_TEXT_ALIAS
          type: string
        MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED:
          description: Alias for MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED
          example: MARK_VERBAL_ELEMENT_CROSS_REFERENCES_ENRICHED_ALIAS
          type: string
        MARK_VERBAL_ELEMENT_TEXT:
          description: Alias for MARK_VERBAL_ELEMENT_TEXT
          example: MARK_VERBAL_ELEMENT_TEXT_ALIAS
          type: string
        NAT_CLASS_NUMBER:
          description: Alias for NAT_CLASS_NUMBER
          example: NAT_CLASS_NUMBER_ALIAS
          type: string
        NAT_GOODS_SERVICES_DESCRIPTION:
          description: Alias for NAT_GOODS_SERVICES_DESCRIPTION
          example: NAT_GOODS_SERVICES_DESCRIPTION_ALIAS
          type: string
        NAT_GOODS_SERVICES_LANGUAGE_CODE:
          description: Alias for NAT_GOODS_SERVICES_LANGUAGE_CODE
          example: NAT_GOODS_SERVICES_LANGUAGE_CODE_ALIAS
          type: string
        PRIORITY_COUNTRY_CODE:
          description: Alias for PRIORITY_COUNTRY_CODE
          example: PRIORITY_COUNTRY_CODE_ALIAS
          type: string
        PRIORITY_DATE:
          description: Alias for PRIORITY_DATE
          example: PRIORITY_DATE_ALIAS
          type: string
        PRIORITY_NUMBER_TEXT:
          description: Alias for PRIORITY_NUMBER_TEXT
          example: PRIORITY_NUMBER_TEXT_ALIAS
          type: string
        PUBLICATION_DATE:
          description: Alias for PUBLICATION_DATE
          example: PUBLICATION_DATE_ALIAS
          type: string
        PUBLICATION_YEAR:
          description: Alias for PUBLICATION_YEAR
          example: PUBLICATION_YEAR_ALIAS
          type: string
        REGISTRATION_DATE:
          description: Alias for REGISTRATION_DATE
          example: REGISTRATION_DATE_ALIAS
          type: string
        REGISTRATION_NUMBER_TEXT:
          description: Alias for REGISTRATION_NUMBER_TEXT
          example: REGISTRATION_NUMBER_TEXT_ALIAS
          type: string
        REGISTRATION_OFFICE_CODE:
          description: Alias for REGISTRATION_OFFICE_CODE
          example: REGISTRATION_OFFICE_CODE_ALIAS
          type: string
        REGISTRATION_OFFICE_CODE_DERIVED:
          description: Alias for REGISTRATION_OFFICE_CODE_DERIVED
          example: REGISTRATION_OFFICE_CODE_DERIVED_ALIAS
          type: string
        RENEWAL_DATE:
          description: Alias for RENEWAL_DATE
          example: RENEWAL_DATE_ALIAS
          type: string
        RENEWAL_PUBLISHED_DATE:
          description: Alias for RENEWAL_PUBLISHED_DATE
          example: RENEWAL_PUBLISHED_DATE_ALIAS
          type: string
        REPRESENTATIVE_ADDRESS_COUNTRY_CODE:
          description: Alias for REPRESENTATIVE_ADDRESS_COUNTRY_CODE
          example: REPRESENTATIVE_ADDRESS_COUNTRY_CODE_ALIAS
          type: string
        REPRESENTATIVE_ADDRESS_LINE_TEXT:
          description: Alias for REPRESENTATIVE_ADDRESS_LINE_TEXT
          example: REPRESENTATIVE_ADDRESS_LINE_TEXT_ALIAS
          type: string
        REPRESENTATIVE_ADDRESS_NATIVE_LINE_TEXT:
          description: Alias for REPRESENTATIVE_ADDRESS_NATIVE_LINE_TEXT
          example: REPRESENTATIVE_ADDRESS_NATIVE_LINE_TEXT_ALIAS
          type: string
        REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE:
          description: Alias for REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE
          example: REPRESENTATIVE_CORRESPONDENT_ADDRESS_COUNTRY_CODE_ALIAS
          type: string
        REPRESENTATIVE_CORRESPONDENT_ADDRESS_LINE_TEXT:
          description: Alias for REPRESENTATIVE_CORRESPONDENT_ADDRESS_LINE_TEXT
          example: REPRESENTATIVE_CORRESPONDENT_ADDRESS_LINE_TEXT_ALIAS
          type: string
        REPRESENTATIVE_CORRESPONDENT_NAME:
          description: Alias for REPRESENTATIVE_CORRESPONDENT_NAME
          example: REPRESENTATIVE_CORRESPONDENT_NAME_ALIAS
          type: string
        REPRESENTATIVE_NAME:
          description: Alias for REPRESENTATIVE_NAME
          example: REPRESENTATIVE_NAME_ALIAS
          type: string
        REPRESENTATIVE_NAME_NATIVE:
          description: Alias for REPRESENTATIVE_NAME_NATIVE
          example: REPRESENTATIVE_NAME_NATIVE_ALIAS
          type: string
        SECOND_LANGUAGE_CODE:
          description: Alias for SECOND_LANGUAGE_CODE
          example: SECOND_LANGUAGE_CODE_ALIAS
          type: string
      type: object
  securitySchemes:
    key:
      type: apiKey
      in: header
      name: X-ApiKey
x-api-category: DERWENT API
