{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Converis Additional APIs","description":"This documentation is for viewing purposes only. Therefore, no actual result is displayed even though you can click on “Try it out” button. Generating the actual URL from this documentation is not possible because it depends on the host and port, which are different for customers.\n\nThis consolidates five additional APIs: AuditInfoWs, Cache Management API, PentahoParamTokenScheduler API, Components Version API, and Data Integration Process as a Web Service API. \n\n## Access and Credentials \nThe URL of API has the following pattern ___https://{host}:{port}/converis/ws/___ where *{host}* is the IP or the Hostname of your Converis installation. *{port}* must be provided only if it differs from 443.\n\n___Eg___: ___https://your_converis_system_url/converis/ws___  . Here port is not used as per request.\n\nTo use these endpoints (except Version API), an API authentication token needs to be issued by the Converis administrator from the configuration screen (Configuration --> API Authentication Info). \n\nThe table below specifies which type of endpoints require which ___type of service___ permission for the  Converis API authentication.\n\n| Type of endpoint | Type of service permission |\n| ---------------- | -------------------------- |\n| Audit             | CONVERIS_AUDIT      |\n| Cache Invalidator Resource   |   CONVERIS_DATA_SERVICE    |\n| Pentaho Param Token Schedular    |  CONVERIS_CONFIG_SERVICE  |\n| Version   | -------------Not Required------------   |\n| Data Integration   | CONVERIS_CONFIG_SERVICE  | \nThe generated API authentication token must then be provided per basic authentication with each request to the API (username = app name and password = generated token). \n\nThe URL needs to be adapted to the Converis instance’s specific domain.\n\n## Limits and Security \n- All requests are secured through https (secure, TLS 1.2)."},"servers":[{"url":"https://api.clarivate.com/converisadditionalapi"}],"tags":[{"name":"Audit Info","description":"Get audit info for actions like DOWNLOAD."},{"name":"Cache Management","description":"Service invalidates cache post data erasure for direct GDPR data deletion from database."},{"name":"Configuration","description":"Access PentahoParamTokenScheduler API via HTTPS with admin credentials."},{"name":"Version","description":"Get Converis and component versions."},{"name":"Data Integration","description":"Data integration uses Kettle Transformation with Servlets as output steps."}],"paths":{"/{version}/logs/audit":{"get":{"summary":"Retrieve audit information","operationId":"getAuditInfo","tags":["Audit Info"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]},"description":"Currently supports 'v2'."},{"name":"logAction","in":"query","required":true,"schema":{"type":"string","enum":["DOWNLOAD"]},"description":"Type of log action. Currently supports 'DOWNLOAD'. Mandatory."},{"name":"count","in":"query","schema":{"type":"integer","default":10,"maximum":100},"required":true,"description":"Number of audit information to be returned. Required. Default is 10 and maximum is 100."},{"name":"dataId","in":"query","required":false,"schema":{"type":"string"},"description":"Get the audit information for a given data ID. Optional. If not given, the latest audit information will be returned."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"auditInfoList":[{"data":"13856310","description":"Research_Output.xls","logAction":"DOWNLOAD","logDate":"2017-06-19T12:53:49.110Z","logIp":"10.0.0.1","userInfo":"configadmin"},{"data":"13474479","description":"cv .pdf","logAction":"DOWNLOAD","logDate":"2017-06-19T12:30:46.793Z","logIp":"10.0.0.5","userInfo":"N/A"}]}},"text/plain":{"example":"object"}}}}}},"/{version}/cache/converisuser/{username}":{"delete":{"summary":"Remove user from cache","description":"Remove a user from the cache by their username.","operationId":"removeUserFromCache","tags":["Cache Management"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]}},{"name":"username","in":"path","required":true,"schema":{"type":"string","description":"Username of the user to remove from cache"}}],"responses":{"200":{"description":"User removed from cache successfully"}}}},"/{version}/cache/person/{id}":{"delete":{"summary":"Remove person from cache","description":"Remove a person from the cache by their ID.","operationId":"removePersonFromCache","tags":["Cache Management"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]}},{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"ID of the person to remove from cache"}}],"responses":{"200":{"description":"Person removed from cache successfully"},"400":{"description":"Person not found in cache"}}}},"/{version}/config/pentahotokenremover/scheduler/start":{"get":{"summary":"Start Pentaho parameter token scheduler","description":"Message about successful start of the scheduler or error message response.","operationId":"startPentahoScheduler","tags":["Configuration"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]}}],"responses":{"200":{"description":"ClearParamTokens is on","content":{"application/json":{"example":{"message":"Pentaho parameter token scheduler started successfully"}}}},"500":{"description":"ClearParamTokens can't be started","content":{"application/json":{"example":{"error":"Failed to start Pentaho parameter token scheduler"}}}}}}},"/{version}/config/pentahotokenremover/scheduler/status":{"get":{"summary":"Get Pentaho parameter token scheduler status","description":"Scheduler status response.","operationId":"getPentahoSchedulerStatus","tags":["Configuration"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]}}],"responses":{"200":{"description":"ClearParamTokens is running","content":{"application/json":{"example":{"status":"Pentaho parameter token scheduler is running"}}}}}}},"/{version}/config/pentahotokenremover/scheduler/stop":{"get":{"summary":"Stop Pentaho parameter token scheduler","description":"Message about successful stop of the scheduler or error message response.","operationId":"stopPentahoScheduler","tags":["Configuration"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]}}],"responses":{"200":{"description":"ClearParamTokens is off","content":{"application/json":{"example":{"message":"Pentaho parameter token scheduler stopped successfully"}}}},"500":{"description":"ClearParamTokens can't be stopped","content":{"application/json":{"example":{"error":"Failed to stop Pentaho parameter token scheduler"}}}}}}},"/version":{"get":{"summary":"Get Converis version","description":"Converis version response.","operationId":"getConverisVersion","tags":["Version"],"responses":{"200":{"description":"Converis version retrieved successfully","content":{"application/json":{"example":{"Converis":{"vendor":"Clarivate","version":"converis-version"}}}}}}}},"/version/{component}":{"get":{"summary":"Get version of a specific component","description":"All components versions response.","operationId":"getComponentVersion","tags":["Version"],"parameters":[{"name":"component","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Component version retrieved successfully","content":{"application/json":{"example":{"Java":{"vendor":"java-vendor","version":"java-version"},"Operating System":{"vendor":"OS Vendor","version":"os-version"},"WebServer":{"vendor":"webserver-vendor","version":"webserver-version"},"AppServer":{"vendor":"WildFly Full","version":"appserver-version"},"Database":{"vendor":"PostgreSQL","version":"db-version"},"Apache Kafka API":{"vendor":"unknown","version":"kafka-version"},"Pentaho Data Integration & CRA":{"vendor":"Pentaho","version":"pentaho-version"},"Converis":{"vendor":"Clarivate","version":"converis-version"},"Converis Search":{"vendor":"Clarivate","version":"converis-version"},"Apache Chemistry":{"vendor":"chemistry-vendor","version":"chemistry-version"},"Incites Metrics Updater":{"vendor":"Clarivate","version":"incites-version"},"Research-Professional Integrator":{"vendor":"Clarivate","version":"rp-version"},"Automatic Publication Importer":{"vendor":"Clarivate","version":"autopub-version"},"Converis Author Finder":{"vendor":"Clarivate","version":"author-version"}}}}}}}},"/{version}/pdiprocess/{wsEndpoint}":{"get":{"summary":"Get data from a data integration process","operationId":"getDataFromPdiProcess","tags":["Data Integration"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]}},{"name":"wsEndpoint","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Data retrieved successfully","content":{"application/json":{},"application/xml":{}}},"400":{"description":"Request is not correct"},"403":{"description":"Your account does not have permissions to access the requested data"},"404":{"description":"Requested data is not found"},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator"}}},"post":{"summary":"Submit data to a data integration process","operationId":"submitDataToPdiProcess","tags":["Data Integration"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]}},{"name":"wsEndpoint","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"application/xml":{}}},"responses":{"201":{"description":"Data submitted successfully","content":{"application/json":{},"application/xml":{}}},"400":{"description":"Request is not correct"},"403":{"description":"Your account does not have permissions to access the requested data"},"404":{"description":"Requested data is not found"},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator"}}}}}}