openapi: 3.2.0
info:
  title: Web of Science™ Researcher Researchers API
  description: This API provides researcher-level metadata from Web of Science Researcher Profiles and metrics with JSON output format and advanced search query syntax.
  version: 1.0.0
  termsOfService: https://clarivate.com/download/web-of-science-incites-apis/
  license:
    name: Clarivate Content as a Service Licence
    url: https://clarivate.com/wp-content/uploads/dlm_uploads/2019/08/Product-Service-Terms.pdf
servers:
- url: https://api.clarivate.com/apis/wos-researcher
security:
- key: []
tags:
- name: Researchers
  description: Researcher data and metrics
paths:
  /researchers:
    summary: Search researchers in Web of Science
    get:
      summary: Search researchers
      description: 'Search researchers in Web of Science Researcher Profile


        The endpoint doesn''t require any parameter to return results, although the default parameters will be used. By default, responses are sorted by relevance.'
      parameters:
      - name: q
        in: query
        required: false
        description: Query syntax for searching and filtering Researchers. The search logic is described in the section [Search](#search).
        schema:
          type: string
        examples:
          Search1:
            value: FirstName~"Eugene" AND LastName~"Garfield"
            summary: Search by firstname and lastname
          Search2:
            value: TS~"robotics"
            summary: Search by topic
          Search3:
            value: OG~"harvard"
            summary: Search by organisation enhanced name
          Search4:
            value: RID=A-1009-2008
            summary: Search by RID
          Search5:
            value: ORCID=0000-0000-000-0000
            summary: Search by ORCID
          Search6:
            value: claimStatus=false
            summary: Search by claim status
          Search7:
            value: CU~"england"
            summary: Search by country
          Search8:
            value: fullName="Benjimen"
            summary: Search by author name
          Search9:
            value: TS~"robotics" AND HCR=true
            summary: Search Highly Cited Researchers on a specific topic
      - name: page
        in: query
        required: false
        description: Specifying a page to retrieve
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        required: false
        description: Number of returned results, ranging from 1 to 50
        schema:
          type: integer
          format: int32
          default: 10
      - name: sort
        in: query
        required: false
        description: Sort by the following attributes. If the value is not provided the records will be sorted by relevance
        schema:
          type: string
          enum:
          - NumberOfDocuments
          - PrimaryAffiliation
          - LastName
      - name: sortOrder
        in: query
        required: false
        description: Sorting order. If sorting by relevance, value must be DESC.
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: DESC
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearcherList'
              examples:
                Search by Firstname and Lastname:
                  value:
                    metadata:
                      total: 1
                      page: 1
                      limit: 10
                    hits:
                    - rid:
                      - A-1009-2008
                      orcids: []
                      fullName: Garfield, Eugene
                      primaryAffiliation:
                      - University of Barcelona
                      self: /researchers/A-1009-2008
                      hIndex: 167
                      documentsCount:
                        count: 1550
                        self: /researchers/A-1009-2008/documents
                      totalTimesCited: 106024
                      matches:
                      - field: fullName
                        value:
                        - <em>Garfield</em>, <em>Eugene</em>
                Search by topic:
                  value:
                    metadata:
                      total: 188756
                      page: 1
                      limit: 10
                    hits:
                    - rid:
                      - AAF-3524-2021
                      orcids:
                      - 0000-0003-1494-2798
                      fullName: samani, Hooman
                      primaryAffiliation:
                      - University of Arts London
                      self: /researchers/AAF-3524-2021
                      hIndex: 10
                      documentsCount:
                        count: 53
                        self: /researchers/AAF-3524-2021/documents
                      totalTimesCited: 356
                      matches:
                      - field: keywords
                        value:
                        - <em>robotics</em>
                        - <em>robotics</em> for pandemics
                        - <em>robotics</em> leadership
                        - cultural <em>robotics</em>
                        - intelligent <em>robotics</em>
                      authorships:
                      - ut: WOS:000679225000055
                        matches:
                        - field: abstract
                          value:
                          - in the <em>robotics</em> platforms for
                      - ut: WOS:000517102000030
                        matches:
                        - field: abstract
                          value:
                          - and mobile <em>robotics</em>. The prototype
                      - ut: WOS:000463337300022
                        matches:
                        - field: title
                          value:
                          - Crossover of Affective Artificial Intelligence Between <em>Robotics</em> Simulator and Games
                        - field: abstract
                          value:
                          - field of <em>robotics</em> and artificial
                          - in social <em>robotics</em> and in
                      - ut: WOS:000425915900010
                        matches:
                        - field: abstract
                          value:
                          - a novel <em>robotics</em> system with
                      - ut: WOS:000387254400006
                        matches:
                        - field: abstract
                          value:
                          - Lovotics (love + <em>robotics</em>) Love Attitude
                      - ut: WOS:000380583900029
                        matches:
                        - field: abstract
                          value:
                          - and mobile <em>robotics</em>. A mobile
                      - ut: WOS:000328071900001
                        matches:
                        - field: title
                          value:
                          - 'Cultural <em>Robotics</em>: The Culture of <em>Robotics</em> and <em>Robotics</em> in Culture Regular Paper'
                        - field: abstract
                          value:
                          - of "Cultural <em>Robotics</em>" with regard
                          - of cultural <em>robotics</em>. According to
                          - of the <em>robotics</em> developers, and
                          - sustainability of <em>robotics</em> culture based
                      - ut: WOS:000332829800042
                        matches:
                        - field: title
                          value:
                          - Towards the definition of cultural <em>robotics</em>
                        - field: abstract
                          value:
                          - of "Cultural <em>Robotics</em>" for the
                          - of cultural <em>robotics</em>. Considering the
                      - ut: WOS:000318430000017
                        matches:
                        - field: title
                          value:
                          - 'Towards <em>Robotics</em> Leadership: An Analysis of Leadership Characteristics and the Roles Robots Will Inherit in Future Human Society'
                        - field: abstract
                          value:
                          - idea of <em>robotics</em> leadership. By
                      - ut: WOS:000300610200018
                        matches:
                        - field: abstract
                          value:
                          - developed a <em>robotics</em> system that
                          - neuroscience, and <em>robotics</em> to develop
                    - rid:
                      - G-7213-2012
                      orcids:
                      - 0009-0001-2008-4817
                      fullName: Koh, Jeffrey T.K.V.
                      primaryAffiliation:
                      - Chem Team Pte Ltd
                      self: /researchers/G-7213-2012
                      hIndex: 5
                      documentsCount:
                        count: 16
                        self: /researchers/G-7213-2012/documents
                      totalTimesCited: 116
                      matches:
                      - field: keywords
                        value:
                        - <em>robotics</em> leadership
                        - collaborative <em>robotics</em>
                        - creative <em>robotics</em>
                        - cultural <em>robotics</em>
                        - social <em>robotics</em>
                      authorships:
                      - ut: WOS:000389721600001
                        matches:
                        - field: title
                          value:
                          - 'Cultural <em>Robotics</em>: Robots as Participants and Creators of Culture'
                        - field: abstract
                          value:
                          - culture with <em>robotics</em> are outlined
                          - of Cultural <em>Robotics</em>. Four categories
                          - of social <em>robotics</em> as a
                      - ut: WOS:000380549300009
                        matches:
                        - field: title
                          value:
                          - FROM BOB THE BUILDER TO BAXTER THE BUILDER <i>Arguing for applying collaborative <em>robotics</em> in architecture</i>
                        - field: abstract
                          value:
                          - <em>Robotics</em> in Architecture
                      - ut: WOS:000328071900001
                        matches:
                        - field: title
                          value:
                          - 'Cultural <em>Robotics</em>: The Culture of <em>Robotics</em> and <em>Robotics</em> in Culture Regular Paper'
                        - field: abstract
                          value:
                          - of "Cultural <em>Robotics</em>" with regard
                          - of cultural <em>robotics</em>. According to
                          - of the <em>robotics</em> developers, and
                          - sustainability of <em>robotics</em> culture based
                      - ut: WOS:000318430000017
                        matches:
                        - field: title
                          value:
                          - 'Towards <em>Robotics</em> Leadership: An Analysis of Leadership Characteristics and the Roles Robots Will Inherit in Future Human Society'
                        - field: abstract
                          value:
                          - idea of <em>robotics</em> leadership. By
                    - rid:
                      - DVU-2695-2022
                      orcids:
                      - 0000-0003-1240-9228
                      fullName: Eguchi, Amy
                      primaryAffiliation:
                      - University of California San Diego
                      self: /researchers/DVU-2695-2022
                      hIndex: 9
                      documentsCount:
                        count: 37
                        self: /researchers/DVU-2695-2022/documents
                      totalTimesCited: 330
                      matches:
                      - field: keywords
                        value:
                        - <em>robotics</em> competition
                        - <em>robotics</em> education
                        - ai-powered <em>robotics</em>
                        - educational <em>robotics</em>
                        - k-12 educational <em>robotics</em>
                      authorships:
                      - ut: WOS:000881628600033
                        matches:
                        - field: title
                          value:
                          - Machine Learning Application with AI-<em>Robotics</em> Tool - What We Learned from Pilot Studies
                        - field: abstract
                          value:
                          - an AI-<em>Robotics</em> tool. This
                          - through AI-<em>Robotics</em>" [1] presented
                      - ut: WOS:000891806300005
                        matches:
                        - field: title
                          value:
                          - Understanding Machine Learning Through AI-powered Educational <em>Robotics</em> - Pilot Study with Undergraduate Students
                        - field: abstract
                          value:
                          - powered educational <em>robotics</em> projects introducing
                          - powered educational <em>robotics</em> tool and
                      - ut: WOS:000614822800038
                        matches:
                        - field: title
                          value:
                          - 'Bridging <em>Robotics</em> Education between High School and University: RoboCup@Home Education'
                        - field: abstract
                          value:
                          - school level <em>robotics</em> education leads
                          - university level <em>robotics</em> development. Our
                      - ut: WOS:000403399600039
                        matches:
                        - field: title
                          value:
                          - '<em>Robotics</em> to Promote STEM Learning: Educational <em>Robotics</em> Unit for 4th Grade Science'
                        - field: abstract
                          value:
                          - Educational <em>robotics</em> or <em>Robotics</em> in Education
                          - an educational <em>robotics</em> unit that
                          - importantly, educational <em>robotics</em> provides a
                          - tool. Educational <em>robotics</em> is an
                          - use of <em>robotics</em> as a
                      - ut: WOS:000367763400045
                        matches:
                        - field: title
                          value:
                          - RoboCupJunior for promoting STEM education, 21st century skills, and technological advancement through <em>robotics</em> competition
                        - field: abstract
                          value:
                          - international educational <em>robotics</em> initiative, aiming
                          - through educational <em>robotics</em> competition inaugurated
                          - to promote <em>robotics</em> and AI
                      - ut: WOS:000417222200016
                        matches:
                        - field: title
                          value:
                          - 'Turning Competitions into Global Collaboration through Educational <em>Robotics</em>: Case of RoboCupJunior'
                        - field: abstract
                          value:
                          - an educational <em>robotics</em> competition promoting
                          - an educational <em>robotics</em> competition, noticed
                          - students. Educational <em>robotics</em> is a
                      - ut: WOS:000352082700271
                        matches:
                        - field: title
                          value:
                          - 'A Proposal for RoboCupJunior in Africa: Promoting Educational Experience with <em>Robotics</em>'
                        - field: abstract
                          value:
                          - RoboCup, a <em>Robotics</em> initiative that
                          - an educational <em>robotics</em> initiative that
                          - promote educational <em>robotics</em> to students
                          - through educational <em>robotics</em> activities around
                          - to promote <em>Robotics</em> and AI
                      - ut: WOS:000404656700007
                        matches:
                        - field: title
                          value:
                          - 'Student Learning Experience through CoSpace Educational <em>Robotics</em>: 3D Simulation Educational <em>Robotics</em> Tool'
                        - field: abstract
                          value:
                          - CoSpace educational <em>robotics</em> is a
                          - CoSpace educational <em>robotics</em> program was
                          - CoSpace educational <em>robotics</em>, and a
                          - CoSpace educational <em>robotics</em>, the educational
                          - CoSpace educational <em>robotics</em>. During the
                          - with educational <em>robotics</em>-both are
                      - ut: WOS:000363574900014
                        matches:
                        - field: title
                          value:
                          - 'Educational <em>Robotics</em> Meets Inquiry-Based Learning: Integrating Inquiry-Based Learning into Educational <em>Robotics</em>'
                        - field: abstract
                          value:
                          - City. Educational <em>robotics</em> is a
                          - a digital <em>Robotics</em> Engineering Journal
                          - into educational <em>robotics</em> in an
                          - the educational <em>robotics</em> hands-on
                      - ut: WOS:000364153400003
                        matches:
                        - field: title
                          value:
                          - 'Educational <em>Robotics</em> Theories and Practice: Tips for how to do it Right'
                        - field: abstract
                          value:
                          - Educational <em>robotics</em> is a
                          - implementing educational <em>robotics</em> for K
                          - is educational <em>robotics</em>?" and "What
                          - of educational <em>robotics</em> - from its
                          - that educational <em>robotics</em> can provide
                          - to educational <em>robotics</em>, learning experiences
                          - years. Educational <em>robotics</em> is a
                    - rid:
                      - FOJ-7391-2022
                      orcids: []
                      fullName: Pagliarini, Luigi
                      primaryAffiliation:
                      - Technical University of Denmark
                      - Acad Fine Arts Macerata
                      self: /researchers/FOJ-7391-2022
                      hIndex: 5
                      documentsCount:
                        count: 29
                        self: /researchers/FOJ-7391-2022/documents
                      totalTimesCited: 336
                      matches:
                      - field: keywords
                        value:
                        - <em>robotics</em>
                        - ai <em>robotics</em>
                        - eco-<em>robotics</em>
                        - modular <em>robotics</em>
                        - user-friendly <em>robotics</em>
                      authorships:
                      - ut: WOS:000519247800003
                        matches:
                        - field: title
                          value:
                          - Approaching AI and <em>Robotics</em> in an Eco-friendly Way
                        - field: abstract
                          value:
                          - and Modular <em>Robotics</em>, we describe
                          - using modular <em>robotics</em> for creating
                      - ut: WOS:000525322700006
                        matches:
                        - field: title
                          value:
                          - PixelBeing - An Eco-sustainable Approach to <em>Robotics</em> and AI
                        - field: abstract
                          value:
                          - and Modular <em>Robotics</em>, we describe
                          - using modular <em>robotics</em> for creating
                      - ut: WOS:000455898900004
                        matches:
                        - field: title
                          value:
                          - User-Friendly <em>Robotics</em> 3-Playware
                        - field: abstract
                          value:
                          - user-friendly <em>robotics</em> suggests a
                          - user-friendly <em>robotics</em>. We exemplify
                      - ut: WOS:000455898900006
                        matches:
                        - field: title
                          value:
                          - User-Friendly <em>Robotics</em> 2-Interfacing <em>Robotics</em> with any user
                        - field: abstract
                          value:
                          - AI and <em>Robotics</em> with the
                          - User-Friendly <em>Robotics</em> approach leads
                          - User-Friendly <em>Robotics</em>, and we
                          - complex behaviour <em>robotics</em>. We define
                      - ut: WOS:000455898900005
                        matches:
                        - field: title
                          value:
                          - User-Friendly <em>Robotics</em> 1-AI Software
                        - field: abstract
                          value:
                          - AI and <em>Robotics</em> by highlight
                          - User-Friendly <em>Robotics</em> approach leads
                          - User-Friendly <em>Robotics</em>, and we
                          - the first <em>Robotics</em> ones to
                      - ut: WOS:000396618200012
                        matches:
                        - field: title
                          value:
                          - The future of <em>Robotics</em> Technology
                        - field: abstract
                          value:
                          - and wearable <em>robotics</em>. In short
                          - by 2020, <em>robotics</em> will be
                          - decade the <em>robotics</em> industry has
                          - next decade <em>robotics</em> will become
                      - ut: WOS:000404239000008
                        matches:
                        - field: title
                          value:
                          - The future of <em>Robotics</em> Technology
                        - field: abstract
                          value:
                          - and wearable <em>robotics</em>. In short
                          - by 2020, <em>robotics</em> will be
                          - decade the <em>robotics</em> industry has
                          - next decade <em>robotics</em> will become
                      - ut: WOS:000379120600007
                        matches:
                        - field: abstract
                          value:
                          - in rehabilitation <em>robotics</em>, a major
                          - redefinition of <em>Robotics</em> Assistive Technology
                      - ut: WOS:000448910500027
                        matches:
                        - field: title
                          value:
                          - Distributed <em>Robotics</em> Education
                        - field: abstract
                          value:
                          - Distributed <em>robotics</em> takes many
                          - for distributed <em>robotics</em> and human
                      - ut: WOS:000075926200027
                        matches:
                        - field: title
                          value:
                          - Evolutionary <em>robotics</em> - A children's game.
                        - field: abstract
                          value:
                          - The evolutionary <em>robotics</em> approach has
                          - an evolutionary <em>robotics</em> approach that
                    - rid:
                      - DJQ-4562-2022
                      orcids: []
                      fullName: Naruse, Keitaro
                      primaryAffiliation:
                      - University of Aizu
                      self: /researchers/DJQ-4562-2022
                      hIndex: 7
                      documentsCount:
                        count: 81
                        self: /researchers/DJQ-4562-2022/documents
                      totalTimesCited: 250
                      matches:
                      - field: keywords
                        value:
                        - <em>robotics</em> technology components
                        - cloud <em>robotics</em>
                        - networked cloud <em>robotics</em>
                        - swarm <em>robotics</em>
                      authorships:
                      - ut: WOS:000975272900012
                        matches:
                        - field: abstract
                          value:
                          - Internet of <em>robotics</em> things are
                      - ut: WOS:000815713600010
                        matches:
                        - field: abstract
                          value:
                          - autonomous mobile <em>robotics</em> technologies. This
                      - ut: WOS:000638399700008
                        matches:
                        - field: title
                          value:
                          - QoS-Aware Robotic Streaming Workflow Allocation in Cloud <em>Robotics</em> Systems
                        - field: abstract
                          value:
                          - for cloud <em>robotics</em> is receiving
                          - for cloud <em>robotics</em>. In this
                          - networked cloud <em>robotics</em> (NCR) (e
                      - ut: WOS:000631194800001
                        matches:
                        - field: title
                          value:
                          - Survey on Cloud <em>Robotics</em> Architecture and Model-Driven Reference Architecture for Decentralized Multicloud Heterogeneous-<em>Robotics</em> Platform
                        - field: abstract
                          value:
                          - <em>Robotics</em> engineering is
                          - for cloud <em>robotics</em>. However, most cloud <em>robotics</em> architectures are
                          - heterogeneous cloud <em>robotics</em> platforms have
                          - in heterogeneous <em>robotics</em> and their
                          - platform for <em>robotics</em>. There are
                      - ut: WOS:000481988100013
                        matches:
                        - field: title
                          value:
                          - Special Issue on Machine Learning for <em>Robotics</em> and Swarm Systems
                      - ut: WOS:000521753600027
                        matches:
                        - field: title
                          value:
                          - Data Acquisition Framework for Cloud <em>Robotics</em>
                        - field: abstract
                          value:
                          - In cloud <em>robotics</em> environments, software
                      - ut: WOS:000439698700016
                        matches:
                        - field: title
                          value:
                          - 'A Study of Robotic Cooperation in Cloud <em>Robotics</em>: Architecture and Challenges'
                        - field: abstract
                          value:
                          - Networked <em>robotics</em> involves a
                          - in cloud <em>robotics</em>. We first
                          - network. Cloud <em>robotics</em>, which allows
                          - robot, networked <em>robotics</em> has been
                          - traditional networked <em>robotics</em> have been
                      - ut: WOS:000405040600009
                        matches:
                        - field: abstract
                          value:
                          - in swarm <em>robotics</em>, has a
                      - ut: WOS:000352950900138
                        matches:
                        - field: abstract
                          value:
                          - in swarm <em>robotics</em>, has a
                    - rid:
                      - IUN-3793-2023
                      orcids: []
                      fullName: Polydorou, Doros
                      primaryAffiliation:
                      - Cyprus University of Technology
                      self: /researchers/IUN-3793-2023
                      hIndex: 3
                      documentsCount:
                        count: 7
                        self: /researchers/IUN-3793-2023/documents
                      totalTimesCited: 49
                      matches:
                      - field: keywords
                        value:
                        - <em>robotics</em> leadership
                        - cultural <em>robotics</em>
                        - interactive collaborative <em>robotics</em>
                      authorships:
                      - ut: WOS:000463337300022
                        matches:
                        - field: title
                          value:
                          - Crossover of Affective Artificial Intelligence Between <em>Robotics</em> Simulator and Games
                        - field: abstract
                          value:
                          - field of <em>robotics</em> and artificial
                          - in social <em>robotics</em> and in
                      - ut: WOS:000328071900001
                        matches:
                        - field: title
                          value:
                          - 'Cultural <em>Robotics</em>: The Culture of <em>Robotics</em> and <em>Robotics</em> in Culture Regular Paper'
                        - field: abstract
                          value:
                          - of "Cultural <em>Robotics</em>" with regard
                          - of cultural <em>robotics</em>. According to
                          - of the <em>robotics</em> developers, and
                          - sustainability of <em>robotics</em> culture based
                      - ut: WOS:000332829800042
                        matches:
                        - field: title
                          value:
                          - Towards the definition of cultural <em>robotics</em>
                        - field: abstract
                          value:
                          - of "Cultural <em>Robotics</em>" for the
                          - of cultural <em>robotics</em>. Considering the
                      - ut: WOS:000318430000017
                        matches:
                        - field: title
                          value:
                          - 'Towards <em>Robotics</em> Leadership: An Analysis of Leadership Characteristics and the Roles Robots Will Inherit in Future Human Society'
                        - field: abstract
                          value:
                          - idea of <em>robotics</em> leadership. By
                    - rid:
                      - FVF-1170-2022
                      orcids:
                      - 0000-0002-2553-854X
                      fullName: Sabanovic, Selma
                      primaryAffiliation:
                      - Indiana University Bloomington
                      self: /researchers/FVF-1170-2022
                      hIndex: 24
                      documentsCount:
                        count: 134
                        self: /researchers/FVF-1170-2022/documents
                      totalTimesCited: 1941
                      matches:
                      - field: keywords
                        value:
                        - <em>robotics</em>
                        - assistive <em>robotics</em>
                        - co-<em>robotics</em>
                        - home <em>robotics</em>
                        - social <em>robotics</em>
                      authorships:
                      - ut: WOS:000643728500223
                        matches:
                        - field: title
                          value:
                          - Exploring Creative Contents in Social <em>Robotics</em>
                      - ut: WOS:001180861500001
                        matches:
                        - field: title
                          value:
                          - 'Designing "Companion Artifacts": The Relational Construction of Culture and Technology in Social <em>Robotics</em>'
                      - ut: WOS:000435423100003
                        matches:
                        - field: title
                          value:
                          - 'Between the Social and the Technical: Negotiation of Human-Centered <em>Robotics</em> Design in a Middle School Classroom'
                        - field: abstract
                          value:
                          - human-centered <em>robotics</em> (HCR) learning
                      - ut: WOS:000494261200044
                        matches:
                        - field: title
                          value:
                          - 'Pop-up <em>Robotics</em>: Facilitating HRI in Public Spaces'
                      - ut: WOS:000390047300011
                        matches:
                        - field: title
                          value:
                          - 'Dragons, Ladybugs, and Softballs: Girls'' STEM Engagement with Human-Centered <em>Robotics</em>'
                        - field: abstract
                          value:
                          - Human-centered <em>robotics</em>, with its
                          - after-school <em>robotics</em> club can
                          - centered telepresence <em>robotics</em> design
                          - designed two <em>robotics</em> challenges. We
                      - ut: WOS:000390047300012
                        matches:
                        - field: title
                          value:
                          - 'Dragons, Ladybugs, and Softballs: Girls'' STEM Engagement with Human-Centered <em>Robotics</em> (vol 25, pg 915, 2016)'
                      - ut: WOS:000352030600017
                        matches:
                        - field: title
                          value:
                          - <em>Robotics</em> Narratives and Networks
                      - ut: WOS:000336332200002
                        matches:
                        - field: title
                          value:
                          - 'Inventing Japan''s ''<em>robotics</em> culture'': The repeated assembly of science, technology, and culture in social <em>robotics</em>'
                        - field: abstract
                          value:
                          - and kansei <em>robotics</em>' - show the
                          - construction of <em>robotics</em> and culture
                          - from current <em>robotics</em> research - the
                          - in social <em>robotics</em> discourse
                          - practices of <em>robotics</em> researchers. Three
                          - the Humanoid <em>Robotics</em> Project HRP
                      - ut: WOS:000322803100010
                        matches:
                        - field: title
                          value:
                          - Conceptual foundations for representing <em>robotics</em> history in a non-linear digital archive
                        - field: abstract
                          value:
                          - field of <em>robotics</em> over the
                      - ut: WOS:000208893600009
                        matches:
                        - field: abstract
                          value:
                          - acceptability of <em>robotics</em>, based on
                          - interaction between <em>robotics</em> and society
                          - interviews with <em>robotics</em> researchers in
                    - rid:
                      - HJL-8926-2023
                      orcids: []
                      fullName: Santos, Jose
                      primaryAffiliation:
                      - University of Nebraska Lincoln
                      self: /researchers/HJL-8926-2023
                      hIndex: 2
                      documentsCount:
                        count: 9
                        self: /researchers/HJL-8926-2023/documents
                      totalTimesCited: 26
                      matches:
                      - field: keywords
                        value:
                        - behavior-based <em>robotics</em>
                        - embedded <em>robotics</em>
                        - mobile <em>robotics</em>
                      authorships:
                      - ut: WOS:000427099000114
                        matches:
                        - field: title
                          value:
                          - Behavior-Based <em>Robotics</em> Programming for a Mobile <em>Robotics</em> ECE Course Using the CEENBoT Mobile <em>Robotics</em> Platform
                        - field: abstract
                          value:
                          - Behavior-based <em>robotics</em> is a
                          - based mobile <em>robotics</em> platform known
                          - introductory Mobile <em>Robotics</em> course at
                          - small educational <em>robotics</em> platforms usually
                    - rid:
                      - DXX-0357-2022
                      orcids:
                      - 0000-0003-0504-5227
                      fullName: Zawieska, Karolina
                      primaryAffiliation:
                      - Aarhus University
                      self: /researchers/DXX-0357-2022
                      hIndex: 4
                      documentsCount:
                        count: 13
                        self: /researchers/DXX-0357-2022/documents
                      totalTimesCited: 271
                      matches:
                      - field: keywords
                        value:
                        - <em>robotics</em>
                        - educational <em>robotics</em>
                        - responsible <em>robotics</em>
                        - social <em>robotics</em>
                      authorships:
                      - ut: WOS:001066045400041
                        matches:
                        - field: abstract
                          value:
                          - ethics in <em>robotics</em>. We argue
                      - ut: WOS:000581950700005
                        matches:
                        - field: title
                          value:
                          - From responsible <em>robotics</em> towards a human rights regime oriented to the challenges of <em>robotics</em> and artificial intelligence
                        - field: abstract
                          value:
                          - nature of <em>robotics</em> technologies from
                          - the responsible <em>robotics</em> initiative is
                      - ut: WOS:000541406700003
                        matches:
                        - field: title
                          value:
                          - Disengagement with ethics in <em>robotics</em> as a tacit form of dehumanisation
                        - field: abstract
                          value:
                          - of the <em>robotics</em> community and
                          - outside of <em>robotics</em>.
                          - related to <em>robotics</em> technologies have
                      - ut: WOS:000467295400119
                        matches:
                        - field: abstract
                          value:
                          - considerations in <em>robotics</em> research. We
                          - of the <em>robotics</em> community has
                      - ut: WOS:000719339300065
                        matches:
                        - field: abstract
                          value:
                          - and responsible <em>robotics</em>. It discusses
                          - to the <em>robotics</em> domain, through
                      - ut: WOS:000418793600024
                        matches:
                        - field: abstract
                          value:
                          - interest in <em>robotics</em> will be
                      - ut: WOS:000400259000033
                        matches:
                        - field: title
                          value:
                          - The Social Construction of Creativity in Educational <em>Robotics</em>
                        - field: abstract
                          value:
                          - for educational <em>robotics</em>. This paper
                          - in educational <em>robotics</em> has been
                          - of educational <em>robotics</em> is its
                      - ut: WOS:000366603200132
                        matches:
                        - field: abstract
                          value:
                          - develop social <em>robotics</em>. It has
                          - space, with <em>robotics</em> developing as
                    - rid:
                      - GDL-2989-2022
                      orcids:
                      - 0000-0002-7091-8349
                      fullName: Hempel, Michael
                      primaryAffiliation:
                      - University of Nebraska Lincoln
                      self: /researchers/GDL-2989-2022
                      hIndex: 15
                      documentsCount:
                        count: 155
                        self: /researchers/GDL-2989-2022/documents
                      totalTimesCited: 911
                      matches:
                      - field: keywords
                        value:
                        - behavior-based <em>robotics</em>
                        - embedded <em>robotics</em>
                        - mobile <em>robotics</em>
                      authorships:
                      - ut: WOS:000427099000114
                        matches:
                        - field: title
                          value:
                          - Behavior-Based <em>Robotics</em> Programming for a Mobile <em>Robotics</em> ECE Course Using the CEENBoT Mobile <em>Robotics</em> Platform
                        - field: abstract
                          value:
                          - Behavior-based <em>robotics</em> is a
                          - based mobile <em>robotics</em> platform known
                          - introductory Mobile <em>Robotics</em> course at
                          - small educational <em>robotics</em> platforms usually
                      - ut: WOS:000427099000076
                        matches:
                        - field: abstract
                          value:
                          - and industrial <em>robotics</em> can be
        default:
          description: Default error sample response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Researchers
      operationId: getResearchers
      x-operation-id-source: derived
  /researchers/{rid}:
    get:
      tags:
      - Researchers
      summary: Get detailed information for a Researcher
      description: Get detailed information metadata and metrics for a researcher by ResearcherID
      parameters:
      - name: rid
        in: path
        required: true
        description: ResearcherID
        schema:
          type: string
          example: A-1009-2008
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearcherRecord'
              examples:
                Garfield, Eugene (A-1009-2008):
                  value:
                    ids:
                      rids:
                      - A-1009-2008
                      orcids: []
                      internalId: 957061
                    claimStatus: true
                    name:
                      fullName: Garfield, Eugene
                      firstName: Eugene
                      lastName: Garfield
                      alternativeNames:
                      - name: Garfield, E
                        numberOfDocuments: 1528
                      - name: Garfield, Eugene
                        numberOfDocuments: 19
                      - name: Garfield, E.
                        numberOfDocuments: 2
                    metricsAllTime:
                      hIndex: 167
                      documents:
                        count: 1549
                        self: /researchers/A-1009-2008/documents
                        publishedYears:
                        - year: 2016
                          numberOfDocuments: 2
                        - year: 2015
                          numberOfDocuments: 1
                        - year: 2014
                          numberOfDocuments: 2
                        - year: 2012
                          numberOfDocuments: 3
                        - year: 2011
                          numberOfDocuments: 1
                        - year: 2010
                          numberOfDocuments: 1
                        - year: 2009
                          numberOfDocuments: 3
                        - year: 2008
                          numberOfDocuments: 3
                        - year: 2007
                          numberOfDocuments: 2
                        - year: 2006
                          numberOfDocuments: 4
                        - year: 2004
                          numberOfDocuments: 7
                        - year: 2003
                          numberOfDocuments: 7
                        - year: 2002
                          numberOfDocuments: 10
                        - year: 2001
                          numberOfDocuments: 9
                        - year: 2000
                          numberOfDocuments: 7
                        - year: 1999
                          numberOfDocuments: 5
                        - year: 1998
                          numberOfDocuments: 12
                        - year: 1997
                          numberOfDocuments: 13
                        - year: 1996
                          numberOfDocuments: 12
                        - year: 1995
                          numberOfDocuments: 8
                        - year: 1994
                          numberOfDocuments: 12
                        - year: 1993
                          numberOfDocuments: 39
                        - year: 1992
                          numberOfDocuments: 36
                        - year: 1991
                          numberOfDocuments: 36
                        - year: 1990
                          numberOfDocuments: 77
                        - year: 1989
                          numberOfDocuments: 75
                        - year: 1988
                          numberOfDocuments: 78
                        - year: 1987
                          numberOfDocuments: 78
                        - year: 1986
                          numberOfDocuments: 59
                        - year: 1985
                          numberOfDocuments: 65
                        - year: 1984
                          numberOfDocuments: 67
                        - year: 1983
                          numberOfDocuments: 57
                        - year: 1982
                          numberOfDocuments: 53
                        - year: 1981
                          numberOfDocuments: 53
                        - year: 1980
                          numberOfDocuments: 59
                        - year: 1979
                          numberOfDocuments: 64
                        - year: 1978
                          numberOfDocuments: 58
                        - year: 1977
                          numberOfDocuments: 58
                        - year: 1976
                          numberOfDocuments: 56
                        - year: 1975
                          numberOfDocuments: 56
                        - year: 1974
                          numberOfDocuments: 54
                        - year: 1973
                          numberOfDocuments: 56
                        - year: 1972
                          numberOfDocuments: 60
                        - year: 1971
                          numberOfDocuments: 32
                        - year: 1970
                          numberOfDocuments: 35
                        - year: 1969
                          numberOfDocuments: 20
                        - year: 1968
                          numberOfDocuments: 11
                        - year: 1967
                          numberOfDocuments: 5
                        - year: 1966
                          numberOfDocuments: 5
                        - year: 1965
                          numberOfDocuments: 5
                        - year: 1964
                          numberOfDocuments: 2
                        - year: 1963
                          numberOfDocuments: 4
                        - year: 1962
                          numberOfDocuments: 2
                        - year: 1961
                          numberOfDocuments: 2
                        - year: 1957
                          numberOfDocuments: 3
                        - year: 1956
                          numberOfDocuments: 1
                        - year: 1955
                          numberOfDocuments: 1
                        - year: 1954
                          numberOfDocuments: 3
                      totalCitingPublications: 10395
                      totalCitingWithoutSelf: 9484
                      totalTimesCited: 113382
                      totalTimesCitedWithoutSelf: 111624
                    organization:
                      primaryAffiliation:
                      - organizationEnhancedName: University of Barcelona
                        organizationName: Univ Barcelona
                        address: Univ Barcelona, E-08007 Barcelona, Spain
                        country: SPAIN
                      departments:
                      - 3501 MARKET ST
                      - 3600 MARKET ST
                      - CORP COMMUN, 3501 MARKET ST
                      - 3600 MKT ST, SUITE 450
                      - EDITORIAL SERV
                      - 3501 MARKET ST, UNIV CITY SCI CTR
                      - Scientist
                      - UNIV CITY SCI CTR
                      - UNIV CITY SCI CTR, 3501 MARKET ST
                      - 1500 Spring Garden St
                      - 3501 MKT ST
                      - 3600 MARKET ST, SUITE 450
                      - 3535 Market St,Suite 200
                      - Publisher
                      - 325 CHESTNUT ST
                      - 3600 Market St,Suite 450
                      - Inst Sci Informat
                      affiliations:
                      - startYear: 2016
                        endYear: 2016
                        organization: University of Barcelona
                        numberOfDocuments: 1
                      - startYear: 2015
                        endYear: 2016
                        organization: Thomson Reuters Sci
                        numberOfDocuments: 2
                      - startYear: 1977
                        endYear: 2014
                        organization: Clarivate
                        numberOfDocuments: 331
                      - startYear: 2012
                        endYear: 2012
                        organization: ThomsonReuters Profess
                        numberOfDocuments: 1
                      - startYear: 1998
                        endYear: 2011
                        organization: The Scientist
                        numberOfDocuments: 14
                      - startYear: 2009
                        endYear: 2009
                        organization: ThomsonReuters Sci
                        numberOfDocuments: 1
                      - startYear: 2002
                        endYear: 2002
                        organization: Inst Sci Informat Inc
                        numberOfDocuments: 1
                      - startYear: 1998
                        endYear: 1998
                        organization: 3501 Market St
                        numberOfDocuments: 1
                      - startYear: 1997
                        endYear: 1997
                        organization: INST INFORMAT SCI
                        numberOfDocuments: 1
                      - startYear: 1996
                        endYear: 1997
                        organization: THE SCIENTIST
                        numberOfDocuments: 15
                      - startYear: 1988
                        endYear: 1996
                        organization: SCIENTIST
                        numberOfDocuments: 69
                      - startYear: 1990
                        endYear: 1990
                        organization: INST SCI INFORMAT
                        numberOfDocuments: 1
                    authorPosition:
                      last:
                        numberOfDocuments: 27
                        percentage: 1.74
                      corresponding:
                        numberOfDocuments: 434
                        percentage: 28.02
                      first:
                        numberOfDocuments: 1514
                        percentage: 97.74
                    subjectCategories:
                    - Orthopedics
                    - Surgery
                    - Sport Sciences
                    - General & Internal Medicine
                    - Emergency Medicine
                    - Cell Biology
                'Highly cited researcher: Hu, Frank (C-1919-2013)':
                  value:
                    ids:
                      rids:
                      - C-1919-2013
                      orcids: []
                      internalId: 1274147
                    claimStatus: true
                    name:
                      fullName: Hu, Frank
                      firstName: Frank
                      lastName: Hu
                      alternativeNames:
                      - name: Hu, Frank B.
                        numberOfDocuments: 1451
                      - name: Hu, FB
                        numberOfDocuments: 328
                      - name: Hu, F. B.
                        numberOfDocuments: 86
                      - name: B. Hu, Frank
                        numberOfDocuments: 1
                      - name: HU, FB
                        numberOfDocuments: 1
                      - name: Hu, F-B
                        numberOfDocuments: 1
                      - name: Hu, F.
                        numberOfDocuments: 1
                      - name: Hu, Fenbin
                        numberOfDocuments: 1
                      - name: Hu, Frank B. B.
                        numberOfDocuments: 1
                      - name: Hu, Frank. B.
                        numberOfDocuments: 1
                    metricsAllTime:
                      hIndex: 246
                      documents:
                        count: 1876
                        self: /researchers/C-1919-2013/documents
                        publishedYears:
                        - year: 2024
                          numberOfDocuments: 53
                        - year: 2023
                          numberOfDocuments: 65
                        - year: 2022
                          numberOfDocuments: 67
                        - year: 2021
                          numberOfDocuments: 54
                        - year: 2020
                          numberOfDocuments: 70
                        - year: 2019
                          numberOfDocuments: 78
                        - year: 2018
                          numberOfDocuments: 107
                        - year: 2017
                          numberOfDocuments: 98
                        - year: 2016
                          numberOfDocuments: 122
                        - year: 2015
                          numberOfDocuments: 102
                        - year: 2014
                          numberOfDocuments: 99
                        - year: 2013
                          numberOfDocuments: 104
                        - year: 2012
                          numberOfDocuments: 91
                        - year: 2011
                          numberOfDocuments: 93
                        - year: 2010
                          numberOfDocuments: 87
                        - year: 2009
                          numberOfDocuments: 74
                        - year: 2008
                          numberOfDocuments: 59
                        - year: 2007
                          numberOfDocuments: 79
                        - year: 2006
                          numberOfDocuments: 63
                        - year: 2005
                          numberOfDocuments: 61
                        - year: 2004
                          numberOfDocuments: 58
                        - year: 2003
                          numberOfDocuments: 43
                        - year: 2002
                          numberOfDocuments: 29
                        - year: 2001
                          numberOfDocuments: 34
                        - year: 2000
                          numberOfDocuments: 26
                        - year: 1999
                          numberOfDocuments: 29
                        - year: 1998
                          numberOfDocuments: 15
                        - year: 1997
                          numberOfDocuments: 6
                        - year: 1996
                          numberOfDocuments: 4
                        - year: 1995
                          numberOfDocuments: 1
                        - year: 1994
                          numberOfDocuments: 1
                      totalCitingPublications: 142916
                      totalCitingWithoutSelf: 141607
                      totalTimesCited: 220133
                      totalTimesCitedWithoutSelf: 213838
                    organization:
                      primaryAffiliation:
                      - organizationEnhancedName: Harvard T.H. Chan School of Public Health
                        organizationName: Harvard TH Chan Sch Publ Hlth
                        address: Harvard TH Chan Sch Publ Hlth, Dept Epidemiol, 655 Huntington Ave,Bldg 2,Room 249A, Boston, MA 02115 USA
                        country: USA
                      - organizationEnhancedName: Harvard T.H. Chan School of Public Health
                        organizationName: Harvard TH Chan Sch Publ Hlth
                        address: Harvard TH Chan Sch Publ Hlth, Dept Nutr, Boston, MA USA
                        country: USA
                      - organizationEnhancedName: Harvard Medical School
                        organizationName: Harvard Med Sch
                        address: Harvard Med Sch, Boston, MA USA
                        country: USA
                      - organizationEnhancedName: Brigham & Women's Hospital
                        organizationName: Brigham & Womens Hosp
                        address: Brigham & Womens Hosp, Dept Med, Channing Div Network Med, Boston, MA USA
                        country: USA
                      departments:
                      - Harvard University Department of Nutrition
                      - Brigham and Women's Hospital Department of Medicine
                      - Harvard University Department of Epidemiology
                      - Sch Med
                      - Harvard Medical School Department of Medicine
                      - Harvard T.H. Chan School of Public Health
                      - Sch Publ Hlth
                      - Harvard Medical School
                      - 75 Francis St
                      - Dept Nutr
                      - Channing Div Network Med
                      - Dept Epidemiol
                      - Harvard University Department of Biostatistics
                      - Nutr
                      - 181 Longwood Ave
                      - Epidemiol
                      - Dept Med
                      - TH Chan Sch Publ Hlth
                      - Brigham & Womens Hosp
                      - Harvard University Faculty of Arts and Sciences
                      - Dept Nutr & Epidemiol
                      - 677 Huntington Ave
                      - Nutr Dept
                      - 900 Commonwealth Ave
                      - 665 Huntington Ave
                      - Harvard Chan Microbiome Publ Hlth Ctr
                      - Harvard TH Chan Sch Publ Hlth
                      - Beth Israel Deaconess Med Ctr
                      - Massachusetts Gen Hosp
                      - University of Washington School of Public Health
                      - Dept Internal Med
                      - 900 Commonwealth Ave,Third Floor
                      - Dept Epidemiol & Biostat
                      - 3rd Floor,181 Longwood Ave
                      - Sch Med & Dent
                      - 181 Longwood Ave,3rd Fl,Rm 353
                      - Dept Epidemiol & Stat
                      - UW Medicine
                      - Beiqi Foton Automot Engn Res Inst
                      - Med & Publ Hlth Sch
                      - Dept Nutr Harvard
                      - 75 Francis St,PBB-B3
                      - 655 Huntington Ave,Bldg 2,3rd Floor
                      - NIH
                      - Ohio State University Medical Center
                      - Med Network
                      - National University Singapore Saw Swee Hock School of Public Health
                      - Epidemiol Branch
                      - Epidemiol Dept
                      - YONG LOO LIN SCHOOL MEDICAL - NUS
                      - Bartlett Hall Extens,Room 906,55 Fruit St
                      - Harvard University Department of Social and Behavioral Sciences
                      - Channing Div Network
                      - Sheikh Mohammed Hussein Al Amoudi Chair Diabet Fo
                      - Betsy Lehman Ctr Patient Safety & Med Error Reduc
                      - Harvard Chan Sch Publ Hlth T H
                      - Cardiovasc Hlth Res Unit
                      - 450 Brookline Ave
                      - 180 Longwood Ave
                      - Nutr & Epidemiol
                      - Natl Inst Nutr & Food Safety
                      - Tongji Med Coll
                      - Huazhong University of Science and Technology Tongji Medical College
                      - 181 Longwood Ave,3rd Floor,Rm 353
                      - National Taiwan University College of Medicine
                      affiliations:
                      - startYear: 2024
                        endYear: 2024
                        organization: Brigham & Womens Hosp
                        numberOfDocuments: 1
                      - startYear: 2011
                        endYear: 2024
                        organization: Harvard Medical School
                        numberOfDocuments: 369
                      - startYear: 2008
                        endYear: 2024
                        organization: Brigham & Women's Hospital
                        numberOfDocuments: 682
                      - startYear: 2007
                        endYear: 2024
                        organization: Harvard T.H. Chan School of Public Health
                        numberOfDocuments: 572
                      - startYear: 1998
                        endYear: 2024
                        organization: Harvard University
                        numberOfDocuments: 734
                      - startYear: 2023
                        endYear: 2023
                        organization: Brigham & Women's Hosp & Harvard Med Sch
                        numberOfDocuments: 1
                      - startYear: 2023
                        endYear: 2023
                        organization: Womens Hosp Med Ctr
                        numberOfDocuments: 1
                      - startYear: 2022
                        endYear: 2022
                        organization: Harvard T H Chan Sch Publ Hlth Boston
                        numberOfDocuments: 1
                      - startYear: 2021
                        endYear: 2021
                        organization: Harvard TH Chart Sch Publ Hlth
                        numberOfDocuments: 1
                      - startYear: 2020
                        endYear: 2020
                        organization: Ohio State University
                        numberOfDocuments: 1
                      - startYear: 2019
                        endYear: 2019
                        organization: Harvard TH Chan Sch Publ Hlth
                        numberOfDocuments: 1
                      - startYear: 2019
                        endYear: 2019
                        organization: Kaiser Permanente
                        numberOfDocuments: 1
                      - startYear: 2019
                        endYear: 2019
                        organization: University of Washington
                        numberOfDocuments: 1
                      - startYear: 2014
                        endYear: 2018
                        organization: Channing Div Network Med
                        numberOfDocuments: 2
                      - startYear: 2015
                        endYear: 2015
                        organization: Channing Labs
                        numberOfDocuments: 1
                      - startYear: 2014
                        endYear: 2014
                        organization: King Abdulaziz University
                        numberOfDocuments: 1
                      - startYear: 2013
                        endYear: 2013
                        organization: Muhimbili Natl Hosp
                        numberOfDocuments: 1
                      - startYear: 2009
                        endYear: 2013
                        organization: Huazhong University of Science & Technology
                        numberOfDocuments: 2
                      - startYear: 2008
                        endYear: 2013
                        organization: NIH Eunice Kennedy Shriver National Institute of Child Health & Human Development (NICHD)
                        numberOfDocuments: 3
                      - startYear: 2012
                        endYear: 2012
                        organization: Powertrain Ctr
                        numberOfDocuments: 1
                      - startYear: 2011
                        endYear: 2012
                        organization: National University of Singapore
                        numberOfDocuments: 2
                      - startYear: 2010
                        endYear: 2010
                        organization: University of Hartford
                        numberOfDocuments: 1
                      - startYear: 2009
                        endYear: 2009
                        organization: Chinese Center for Disease Control & Prevention
                        numberOfDocuments: 1
                      - startYear: 2009
                        endYear: 2009
                        organization: Commonwealth Massachusetts
                        numberOfDocuments: 1
                      - startYear: 2008
                        endYear: 2008
                        organization: Case Western Reserve University
                        numberOfDocuments: 1
                      - startYear: 2008
                        endYear: 2008
                        organization: National Taiwan University Hospital
                        numberOfDocuments: 1
                    authorPosition:
                      last:
                        numberOfDocuments: 554
                        percentage: 29.59
                      corresponding:
                        numberOfDocuments: 306
                        percentage: 16.35
                      first:
                        numberOfDocuments: 127
                        percentage: 6.78
                    subjectCategories:
                    - Endocrinology & Metabolism
                    - Nutrition & Dietetics
                    - Cardiovascular System & Cardiology
                    - General & Internal Medicine
                    - Public, Environmental & Occupational Health
                    - Genetics & Heredity
                    - Biochemistry & Molecular Biology
                    - Science & Technology - Other Topics
                    - Oncology
                    - Neurosciences & Neurology
                    - Cell Biology
                    - Medical Laboratory Technology
                    - Hematology
                    - Research & Experimental Medicine
                    - Psychiatry
                    - Life Sciences & Biomedicine - Other Topics
                    - Environmental Sciences & Ecology
                    - Obstetrics & Gynecology
                    - Gastroenterology & Hepatology
                    - Food Science & Technology
                    - Immunology
                    - Health Care Sciences & Services
                    - Rheumatology
                    - Toxicology
                    - Geriatrics & Gerontology
                    - Mathematical & Computational Biology
                    - Allergy
                    - Respiratory System
                    - Urology & Nephrology
                    - Pediatrics
                    - Dentistry, Oral Surgery & Medicine
                    - Microbiology
                    - Psychology
                    - Pharmacology & Pharmacy
                    - Surgery
                    - Dermatology
                    - Biotechnology & Applied Microbiology
                    - Biomedical Social Sciences
                    - Women's Studies
                    - Medical Informatics
                    - Mathematics
                    - Substance Abuse
                    - Sport Sciences
                    - Physiology
                    - Behavioral Sciences
                    - Business & Economics
                    - Sociology
                    - Engineering
                    - Biophysics
                    - Religion
                    - Otorhinolaryngology
                    - Chemistry
                    awards:
                      highlyCitedResearcher: true
                      highlyCitedResearcherYear:
                      - category: Clinical Medicine
                        year: '2022'
                      - category: Clinical Medicine
                        year: '2021'
                      - category: Social Sciences
                        year: '2020'
                      - category: Clinical Medicine
                        year: '2020'
                      - category: Social Sciences
                        year: '2019'
                      - category: Clinical Medicine
                        year: '2019'
                      - category: Clinical Medicine
                        year: '2018'
                      - category: Agricultural Sciences
                        year: '2018'
                      - category: Social Sciences
                        year: '2017'
                      - category: Agricultural Sciences
                        year: '2017'
                      - category: Clinical Medicine
                        year: '2017'
                      - category: Agricultural Sciences
                        year: '2016'
                      - category: Clinical Medicine
                        year: '2016'
                      - category: Social Sciences
                        year: 2016
                      - category: Agricultural Sciences
                        year: '2015'
                      - category: Clinical Medicine
                        year: '2015'
                      - category: Molecular Biology and Genetics
                        year: '2015'
                      - category: Social Sciences
                        year: '2015'
                      - category: Agricultural Sciences
                        year: '2014'
                      - category: Clinical Medicine
                        year: '2014'
                      - category: Molecular Biology and Genetics
                        year: '2014'
      operationId: getResearchersByRid
      x-operation-id-source: derived
  /researchers/{rid}/peer-reviews:
    get:
      tags:
      - Researchers
      summary: Get peer reviews list for a researcher
      description: Up to 10 peer reviews are retrieved, with the possibility to paginate.
      parameters:
      - name: rid
        in: path
        required: true
        description: ResearcherID
        example: A-1009-2008
        schema:
          type: string
      - name: reviewType
        in: query
        required: false
        description: Review type allows a user to specifiy if only pre-publication (i.e. standard) reviews or post-publication reviews should be returned. Omitting the parameter returns both.
        schema:
          type: string
          enum:
          - post
          - pre
      - name: page
        in: query
        required: false
        description: Specifying a page to retrieve
        schema:
          type: integer
          format: int32
          default: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerReviewList'
      operationId: getResearchersByRidPeerReviews
      x-operation-id-source: derived
  /researchers/{rid}/documents:
    get:
      tags:
      - Researchers
      summary: Get documents published by a researcher
      description: Get documents published by ResearcherID
      parameters:
      - name: rid
        in: path
        required: true
        description: Web of Science ResearcherID
        schema:
          type: string
          example: A-1009-2008
      - name: nonIndexed
        in: query
        required: false
        description: Retrieve only papers that are not indexed in the Web of Science
        schema:
          type: boolean
          default: false
      - name: page
        in: query
        required: false
        description: Specifying a page to retrieve
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        required: false
        description: Number of returned results, ranging from 1 to 50
        schema:
          type: integer
          format: int32
          default: 10
      - name: collections
        in: query
        required: false
        description: Collection of DB's
        schema:
          type: array
          items:
            type: string
            default: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearcherDocument'
              example:
                metadata:
                  total: 1549
                  page: 1
                  limit: 10
                hits:
                - uid: WOS:000390879300006
                  title: 'Citation indexes: from the Science Citation Index to the Web of Science'
                  types:
                  - Editorial Material
                  source:
                    sourceTitle: BID-TEXTOS UNIVERSITARIS DE BIBLIOTECONOMIA I DOCUMENTACIO
                    publishYear: 2016
                    sortDate: '2016-12-01'
                    volume: ''
                    issue: '37'
                  citations:
                  - db: WOS
                    count: 1
                  identifiers:
                    doi: ''
                - uid: WOS:000467525100001
                  title: Theories of Informetrics and Scholarly Communication Foreword
                  types:
                  - Editorial Material
                  - Book Chapter
                  source:
                    sourceTitle: 'THEORIES OF INFORMETRICS AND SCHOLARLY COMMUNICATION: A FESTSCHRIFT IN HONOR OF BLAISE CRONIN'
                    publishYear: 2016
                    sortDate: '2016-01-01'
                    volume: ''
                    issue: ''
                  citations:
                  - db: WOS
                    count: 0
                  identifiers:
                    doi: ''
                - uid: WOS:000383879000002
                  title: Journal Impact Factor Strongly Correlates with the Citedness of the Median Journal Paper
                  types:
                  - Article
                  source:
                    sourceTitle: COLLNET JOURNAL OF SCIENTOMETRICS AND INFORMATION MANAGEMENT
                    publishYear: 2015
                    sortDate: '2015-06-01'
                    volume: '9'
                    issue: '1'
                  citations:
                  - db: WOS
                    count: 5
                  identifiers:
                    doi: 10.1080/09737766.2015.1027099
                - uid: WOS:000334603700014
                  title: Citation analysis of the scientific publications of Britton Chance in ISI citation indexes
                  types:
                  - Article
                  source:
                    sourceTitle: JOURNAL OF INNOVATIVE OPTICAL HEALTH SCIENCES
                    publishYear: 2014
                    sortDate: '2014-03-01'
                    volume: '7'
                    issue: '2'
                  citations:
                  - db: WOS
                    count: 3
                  identifiers:
                    doi: 10.1142/S1793545814300031
                - uid: WOS:000329319200001
                  title: Farewell Editorial
                  types:
                  - Editorial Material
                  source:
                    sourceTitle: SCIENTOMETRICS
                    publishYear: 2014
                    sortDate: '2014-01-01'
                    volume: '98'
                    issue: '1'
                  citations:
                  - db: WOS
                    count: 2
                  identifiers:
                    doi: 10.1007/s11192-013-1153-y
                - uid: WOS:000309357600002
                  title: 'Research evaluation. Part I: productivity and citedness of a German medical research institution'
                  types:
                  - Article
                  - Proceedings Paper
                  source:
                    sourceTitle: SCIENTOMETRICS
                    publishYear: 2012
                    sortDate: '2012-10-01'
                    volume: '93'
                    issue: '1'
                  citations:
                  - db: WOS
                    count: 18
                  identifiers:
                    doi: 10.1007/s11192-012-0659-z
                - uid: WOS:000306547000019
                  title: Rank normalization of impact factors will resolve Vanclay's dilemma with TRIF Comments on the paper by Jerome Vanclay
                  types:
                  - Article
                  source:
                    sourceTitle: SCIENTOMETRICS
                    publishYear: 2012
                    sortDate: '2012-08-01'
                    volume: '92'
                    issue: '2'
                  citations:
                  - db: WOS
                    count: 15
                  identifiers:
                    doi: 10.1007/s11192-012-0634-8
                - uid: WOS:000422381000003
                  title: A Century of Citation Indexing
                  types:
                  - Article
                  source:
                    sourceTitle: COLLNET JOURNAL OF SCIENTOMETRICS AND INFORMATION MANAGEMENT
                    publishYear: 2012
                    sortDate: '2012-01-01'
                    volume: '6'
                    issue: '1'
                  citations:
                  - db: WOS
                    count: 3
                  identifiers:
                    doi: ''
                - uid: WOS:000295392100006
                  title: Alive and Kicking
                  types:
                  - Editorial Material
                  source:
                    sourceTitle: SCIENTIST
                    publishYear: 2011
                    sortDate: '2011-10-01'
                    volume: '25'
                    issue: '10'
                  citations:
                  - db: WOS
                    count: 0
                  identifiers:
                    doi: ''
                - uid: WOS:000281472600002
                  title: 'A bibliometric and historiographic analysis of the work of Tony van Raan: a tribute to a scientometrics pioneer and gatekeeper'
                  types:
                  - Biographical-Item
                  source:
                    sourceTitle: RESEARCH EVALUATION
                    publishYear: 2010
                    sortDate: '2010-09-01'
                    volume: '19'
                    issue: '3'
                  citations:
                  - db: WOS
                    count: 2
                  identifiers:
                    doi: 10.3152/095820210X503429;
      operationId: getResearchersByRidDocuments
      x-operation-id-source: derived
components:
  schemas:
    Ids:
      type: object
      description: Researcher IDs
      properties:
        rids:
          type: array
          description: Researcher ID
          items:
            type: string
          example:
          - A-1009-2008
        orcids:
          type: array
          description: ORCID
          items:
            type: string
          example:
          - 0000-0000-000-0000
        internalId:
          type: integer
          format: int32
          example: 1951254
    ResearcherDocumentRecord:
      type: object
      description: Object with basic researcher documents metadata in the list.
      properties:
        uid:
          type: string
          description: Researcher document UID
        title:
          type: string
          description: Researcher document title
        types:
          type: array
          description: Researcher document doctypes
          items:
            type: string
        source:
          type: object
          properties:
            sourceTitle:
              type: string
            publishYear:
              format: int32
              type: integer
            sortDate:
              type: string
            volume:
              type: string
            issue:
              type: string
        collection:
          type: string
        citations:
          type: array
          items:
            type: object
            properties:
              db:
                type: string
              count:
                type: integer
                format: int32
        identifiers:
          type: object
          properties:
            doi:
              type: string
    AuthorshipSearchMatch:
      type: object
      description: A match when searching by topic, displays top documents from Web of Science Core Collection
      properties:
        ut:
          type: string
          description: Accession number
        title:
          type: string
        abstract:
          type: string
        matches:
          description: Array of matched values (if several) with the HTML highlighting
          type: array
          items:
            $ref: '#/components/schemas/SearchMatch'
    Position:
      type: object
      properties:
        numberOfDocuments:
          type: integer
          format: int32
        percentage:
          type: number
          format: double
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            status:
              type: integer
              example: 404
            title:
              type: string
              example: Resource couldn't be found
            details:
              type: string
              example: Researcher with rid 'Rid(value=ABC-0000-0000)' not found
    Metadata:
      type: object
      description: Information about total numbers in the retrieve, number of records on the page, and the page number.
      properties:
        total:
          type: integer
          format: int32
          description: Total number of records for the request.
        page:
          type: integer
          format: int32
          description: Page number (default is 1)
        limit:
          type: integer
          format: int32
          description: Number of records on a page (default is 10).
    ResearcherAllTimeMetrics:
      type: object
      properties:
        hIndex:
          type: integer
          format: int32
          description: 'The h-index (also known as Hirsch index) was introduced by J. Hirsch in 2005 and can be defined as follows: A researcher has an h-index, if they have at least h publications for which they have received at least h citations. For example, Researcher A has an h-index = 13 if they have published at least 13 documents for which they have received at least 13 citations.


            >h-index is calculated using citation data from Web of Science Core Collection (including self-citations).

            '
          example: 242
        documents:
          type: object
          properties:
            count:
              type: integer
              format: int32
            self:
              type: string
            publishedYears:
              type: array
              items:
                type: object
                properties:
                  year:
                    type: integer
                    format: int32
                  numberOfDocuments:
                    type: integer
                    format: int32
        totalCitingPublications:
          description: Citing Articles
          type: integer
          format: int32
        totalCitingWithoutSelf:
          description: Citing Articles without self-citations
          type: integer
          format: int32
        totalTimesCited:
          description: Times cited
          type: integer
          format: int32
        totalTimesCitedWithoutSelf:
          description: Times cited without self-citations
          type: integer
          format: int32
    ResearcherList:
      type: object
      description: A list of researcher output based on query and filters
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        hits:
          type: array
          items:
            $ref: '#/components/schemas/ResearcherListRecord'
    ResearcherListRecord:
      type: object
      description: Object with basic researcher metadata in the list.
      properties:
        rid:
          type: array
          items:
            type: string
          description: Web of Science ResearcherID
          example: A-1009-2008
        orcids:
          type: array
          description: ORCID
          items:
            type: string
          example: 0000-0000-000-0000
        fullName:
          type: string
          description: Full name
          example: Eugene Garfield
        primaryAffiliation:
          type: array
          items:
            type: string
            description: Primary affiliation
            example: Institute for Scientific Information (ISI)
        self:
          type: string
          description: ResearcherID endpoint with full information
          example: /researchers/A-1009-2008
        hIndex:
          type: integer
          description: 'The h-index (also known as Hirsch index) was introduced by J. Hirsch in 2005 and can be defined as follows: A researcher has an h-index, if they have at least h publications for which they have received at least h citations. For example, Researcher A has an h-index = 13 if they have published at least 13 documents for which they have received at least 13 citations.


            >h-index is calculated using citation data from Web of Science Core Collection (including self-citations).

            '
          example: 242
          format: int32
        documentsCount:
          $ref: '#/components/schemas/DocumentsCount'
        totalTimesCited:
          format: int32
          type: integer
          description: Total number of citations in Web of Science
          example: 15604
        matches:
          type: array
          description: Feedback about search match
          items:
            $ref: '#/components/schemas/SearchMatch'
          example:
          - field: lastName
            value:
            - <emp>Garfield</emp>
          - field: organization
            value:
            - Institute for Scientific Information (<emp>ISI</emp>)
        authorships:
          type: array
          description: Feedback about search match in the case of a topic search
          items:
            $ref: '#/components/schemas/AuthorshipSearchMatch'
    ResearcherRecord:
      type: object
      description: Object with basic researcher metadata in the list.
      properties:
        ids:
          $ref: '#/components/schemas/Ids'
        claimStatus:
          type: boolean
          description: true, if the profile is claimed in Web of Science
        name:
          $ref: '#/components/schemas/Name'
        metricsAllTime:
          $ref: '#/components/schemas/ResearcherAllTimeMetrics'
        organization:
          type: object
          properties:
            primaryAffiliation:
              type: array
              items:
                type: object
                properties:
                  organizationEnhancedName:
                    type: string
                  organizationName:
                    type: string
                  address:
                    type: string
                  country:
                    type: string
            departments:
              type: array
              items:
                type: string
            affiliations:
              type: array
              items:
                $ref: '#/components/schemas/Affiliation'
              example:
              - startYear: 2016
                endYear: 2016
                organization: University of Barcelona
                numberOfDocuments: 44
              - startYear: 2015
                endYear: 2016
                organization: Thomson Reuters Sci
                numberOfDocuments: 42
              - startYear: 1977
                endYear: 2014
                organization: Clarivate
                numberOfDocuments: 10
              - startYear: 2009
                endYear: 2009
                organization: ThomsonReuters Sci
                numberOfDocuments: 3
        authorPosition:
          type: object
          properties:
            last:
              $ref: '#/components/schemas/Position'
            corresponding:
              $ref: '#/components/schemas/Position'
            first:
              $ref: '#/components/schemas/Position'
        subjectCategories:
          type: array
          items:
            type: string
        awards:
          description: List of award
          type: object
          properties:
            highlyCitedResearcher:
              type: boolean
              example: true
            highlyCitedResearcherYear:
              type: array
              items:
                $ref: '#/components/schemas/HighlyCitedResearcherYear'
    PeerReviewList:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        hits:
          type: array
          items:
            $ref: '#/components/schemas/PeerReview'
    SearchMatch:
      type: object
      description: Displays the field and value matched to the search string
      properties:
        field:
          type: string
          description: Name of the matched field
        value:
          description: Array of matched values (if several) with the HTML highlighting
          type: array
          items:
            type: string
    ResearcherDocument:
      type: object
      description: A list of researcher output based on query and filters
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        hits:
          type: array
          items:
            $ref: '#/components/schemas/ResearcherDocumentRecord'
    HighlyCitedResearcherYear:
      type: object
      properties:
        category:
          type: string
          example: Bibliometrics
        year:
          type: string
          example: 2000
    DocumentsCount:
      type: object
      description: Number of documents for a Researcher
      properties:
        count:
          type: string
          description: Number of documents
          example: 1549
        self:
          type: string
          description: Reference URL to fetch documents of that researcher
          example: /researchers/A-1009-2008/documents
    PeerReview:
      type: object
      properties:
        journal:
          type: string
          example: IEEE Transactions on Emerging Topics in Computing
        publisher:
          type: string
          example: Institute of Electrical and Electronics Engineers Inc. (IEEE)
        dateOfReview:
          type: string
          example: 2021
        verified:
          type: string
          example: true
        articleTitle:
          type: string
          example: Evidence for a limit to human lifespan
        articleDOI:
          type: string
          example: 10.1038/NATURE19793
    Name:
      type: object
      description: Details about Researcher names used for publishing
      properties:
        fullName:
          type: string
          description: Full name
          example: Eugene Garfield
        firstName:
          type: string
          description: First name
          example: Eugene
        lastName:
          type: string
          description: Last
          example: Garfield
        alternativeNames:
          type: array
          description: The alternative names used in their publications
          items:
            type: object
            description: Name and number of documents this name appears
            properties:
              name:
                type: string
              numberOfDocuments:
                type: integer
                format: int32
    Affiliation:
      type: object
      properties:
        startYear:
          type: integer
          format: int32
          description: Start year
          example: 20016
        endYear:
          type: integer
          format: int32
          description: End year
          example: 2016
        organization:
          type: string
          description: Organization name
          example: University of Barcelona
        numberOfDocuments:
          type: integer
          format: int32
          description: to be filled
  securitySchemes:
    key:
      type: apiKey
      in: header
      name: X-ApiKey
