openapi: 3.2.0
info:
  title: Converis Web Services Configuration - Link entity…
  description: This API Specification describes how to read data from Converis in order to use it in other systems.
  contact:
    email: converis-info@clarivate.com
  version: '2.0'
servers:
- url: https://api.clarivate.com/converisreadapi
tags:
- name: Configuration - Link entity definitions
  description: Get the configured entity definitions
paths:
  /config/linkentities:
    get:
      tags:
      - Configuration - Link entity definitions
      summary: Get definition of all entities
      description: 'Get definition of all link entities. Additionally, you can


        * specify language of labels through the query parameter ___language___

        * include (excluded by default) all attributes definitions of the link entity through HTTP Header ___Converis-attribute-definition___'
      parameters:
      - name: startRecord
        in: query
        description: Starting record.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: count
        in: query
        description: Number of records to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          format: int32
          default: 10
      - name: language
        in: query
        description: Return only labels or data for specific language. Display all configured languages if null, eg. en_GB
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: en_GB
      - name: Converis-attribute-definition
        in: header
        description: Choose ALL to display all attributes
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: NONE
          enum:
          - NONE
          - ALL
      responses:
        '200':
          description: Successfull response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkEntityDefinitionList'
        default:
          description: Error response 400+
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
      security:
      - BasicAuth: []
      operationId: getConfigLinkentities
      x-operation-id-source: derived
  /config/linkentities/{link_type}:
    get:
      tags:
      - Configuration - Link entity definitions
      summary: Get definition of a link entity
      description: 'Get definition of a link entity by ___link_type___ name. Additionally, you can


        * specify language of labels through the query parameter ___language___

        * include (excluded by default) specific or all attributes definitions of the entity through HTTP Header ___Converis-attribute-definition___'
      parameters:
      - name: link_type
        in: path
        description: link entity type name
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: language
        in: query
        description: Return only labels or data for specific language. Display all configured languages if null, eg. en_GB
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Converis-attribute-definition
        in: header
        description: Choose ALL to display all attributes
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: NONE
          enum:
          - NONE
          - ALL
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkEntityDefinition'
        default:
          description: Error response 400+
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
      security:
      - BasicAuth: []
      operationId: getConfigLinkentitiesByLinkType
      x-operation-id-source: derived
components:
  schemas:
    AttributeDefinition:
      required:
      - name
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 16287
        name:
          type: string
          example: acceptanceDate
        dataInput:
          $ref: '#/components/schemas/AttributeInputDefinition'
        multilanguage:
          type: boolean
          example: false
        description:
          type: string
          example: 'The date when the author received notice that the submitted proposal got accepted and following that he can submit a paper

            '
        labels:
          type: array
          example:
          - language: en_US
            value: Acceptance date
          - language: de_DE
            value: Datum
          items:
            $ref: '#/components/schemas/LabelDefinition'
        mandatory:
          type: boolean
          example: false
        allowPublicSearch:
          type: boolean
          example: true
        internallySearcheable:
          type: boolean
          example: true
        includeInPageExport:
          type: boolean
          example: true
    AttributeInputDefinition:
      properties:
        dataType:
          type: string
          example: DATE
        renderingTypeHint:
          type: string
          example: Datepicker
        inputPattern:
          type: string
          example: Date
        defaultExpression:
          type: string
          example: 01-05-2019
    LabelDefinition:
      required:
      - language
      - value
      type: object
      properties:
        language:
          type: string
          description: The system language abbreviation
          example: en_US
        value:
          type: string
          description: The value of the label
          example: Publication
    LinkEntityDefinitionList:
      required:
      - count
      - data
      - nrRecordsAll
      - nrRecordsFound
      - startRecord
      type: object
      properties:
        startRecord:
          type: integer
          example: 0
        count:
          type: integer
          example: 50
        nrRecordsAll:
          type: integer
          example: 1540
        nrRecordsFound:
          type: integer
          example: 50
        data:
          type: array
          items:
            $ref: '#/components/schemas/LinkEntityDefinition'
    DefaultResponse:
      required:
      - statusDescirption
      - message
      - path
      - status
      - timestamp
      type: object
      properties:
        timestamp:
          type: string
          description: The date-time notation as defined by RFC 3339, section 5.6, e.g. "2017-07-21T17:32:28Z"
          format: date-time
        path:
          type: string
          description: The path which is used by user, e.g./converis-apis/ws/v2/data/entities/Publication
          format: uri
        status:
          type: integer
          description: HTTP Status code,e.g. 400+
          example: 400
        statusDescription:
          type: string
          description: Description of HTTP Status code, e.g. Bad Request
          example: Bad Request
        message:
          type: string
          description: The detailed description of the error
    LinkEntityDefinition:
      required:
      - attributes
      - description
      - id
      - isTree
      - leftDefinitionUrl
      - name
      - rightDefinitionUrl
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1231421421
        name:
          type: string
          example: PUBL_has_CARD
        isTree:
          type: boolean
          example: false
        description:
          type: string
        leftDefinitionUrl:
          type: string
          example: /converis-apis/ws/v2/config/entities/Publication
        rightDefinitionUrl:
          type: string
          example: /converis-apis/ws/v2/config/entities/Card
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeDefinition'
  securitySchemes:
    BasicAuth:
      type: http
      description: The authentication information has to be provided by the client application as Basic authentication header. This can be configured by an admin in Converis under Configuration -> API Authentication Info.
      scheme: basic
