openapi: 3.2.0
info:
  version: 1.0.0
  title: 'Converis Legacy Legacy API: get related info objects API'
  description: This documentation is for viewing purposes only.
servers:
- url: https://api.clarivate.com/legacyapi
tags:
- name: 'Legacy API: get related info objects'
  description: 'REST Web Service: Representation of GetRelated'
paths:
  /public/infoobject/getrelated/{type}/{id}/{relation}:
    get:
      summary: Retrieve related entities for a given entity
      operationId: getRelatedEntities
      tags:
      - 'Legacy API: get related info objects'
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
        description: Entity type.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Entity ID.
      - name: relation
        in: path
        required: true
        schema:
          type: string
        description: Link entity name.
      - name: direction
        in: query
        schema:
          type: string
          default: children
        description: Direction of the relation (optional). Default is 'children'.
      responses:
        '200':
          description: Success
          content:
            application/xml:
              schema:
                type: string
        '400':
          description: Request is not correct.
        '403':
          description: Your account does not have permissions to access the requested data.
        '404':
          description: Requested data is not found.
        '500':
          description: Unknown internal error occurred. Try again or contact the system administrator.
