{"swagger":"2.0","info":{"description":"This API helps you harvest usage statistics from the Cortellis Drug Discovery Intelligence platform via the NISO SUSHI protocol in accordance with the COUNTER R5 Code of Practice","version":"1.0.0","title":"Cortellis Drug Discovery Intelligence SUSHI COUNTER5 API","termsOfService":"https://clarivate.com/wp-content/uploads/dlm_uploads/2018/12/End-User-Terms.pdf","contact":{"name":"Ernest Ortuño","email":"ernest.ortuno@clarivate.com"}},"host":"api.clarivate.com","basePath":"/api/cddi/counter5","schemes":["https"],"securityDefinitions":{"key":{"type":"apiKey","in":"header","name":"X-ApiKey"}},"paths":{"/status":{"get":{"operationId":"getAPIStatus","description":"This resource returns the current status of the reporting service supported by this API.","produces":["application/json"],"responses":{"200":{"description":"Status of the reporting service(s) supported by this API.","schema":{"type":"array","items":{"$ref":"#/definitions/SUSHI_service_status"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/SUSHI_error"}}}}},"/reports":{"get":{"operationId":"getReports","description":"This resource returns a list of reports supported by the API for a given application.","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"List of reports supported by this service for this application.","schema":{"type":"array","items":{"$ref":"#/definitions/SUSHI_report_list"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/SUSHI_error"}}}}},"/reports/dr_d1":{"get":{"operationId":"getDRD1Report","description":"This resource returns COUNTER 'Database Search and Item Usage' [DR_D1], a Standard View of Database Master Report. Reports on key search and request metrics needed to evaluate a database.","produces":["application/json"],"parameters":[{"name":"api_key","in":"query","description":"Unique code assigned by Clarivate Analytics API Gateway to grant you access to this API","required":true,"type":"string"},{"name":"customer_id","in":"query","description":"Identifies the customer to provide usage for. (1p-entitlements customer id)","required":true,"type":"string"},{"name":"requestor_id","in":"query","description":"Identifies the requester (STeAM User Id) that is asking for report data","required":true,"type":"string"},{"name":"begin_date","in":"query","description":"Usage start date in the form of yyyy-mm-dd or yyyy-mm.","required":true,"type":"string"},{"name":"end_date","in":"query","description":"Usage end date in the form of yyyy-mm-dd or yyyy-mm.","required":true,"type":"string"}],"responses":{"200":{"description":"Database Search and Item Usage [DR_D1], a Standard View of Database Master Report.","schema":{"$ref":"#/definitions/SUSHI_database_report"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/SUSHI_error"}}}}},"/reports/pr_p1":{"get":{"operationId":"getPRP1Report","description":"This resource returns COUNTER 'Platform Usage' [PR_P1]. This is a Standard View of the Package Master Report that presents usage for the overall Platform broken down by Metric_Type.","produces":["application/json"],"parameters":[{"name":"api_key","in":"query","description":"Unique code assigned by Clarivate Analytics API Gateway to grant you access to this API","required":true,"type":"string"},{"name":"customer_id","in":"query","description":"Identifies the customer to provide usage for. (1p-entitlements customer id)","required":true,"type":"string"},{"name":"requestor_id","in":"query","description":"Identifies the requester (STeAM User Id) that is asking for report data","required":true,"type":"string"},{"name":"begin_date","in":"query","description":"Usage start date in the form of yyyy-mm-dd or yyyy-mm.","required":true,"type":"string"},{"name":"end_date","in":"query","description":"Usage end date in the form of yyyy-mm-dd or yyyy-mm.","required":true,"type":"string"}],"responses":{"200":{"description":"Platform Usage [Standard View PR_P1]","schema":{"$ref":"#/definitions/SUSHI_platform_report"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/SUSHI_error"}}}}}},"definitions":{"SUSHI_error":{"type":"object","description":"Generalized format for presenting errors and exceptions.","required":["Code","Severity","Message"],"properties":{"Code":{"type":"integer","format":"int32","description":"Error number. See table of error.","example":3040},"Severity":{"type":"string","description":"Severity of the error.","example":"Warning","enum":["Warning","Error","Fatal","Debug","Info"]},"Message":{"type":"string","description":"Text describing the error.","example":"Partial Data Returned."},"Help_URL":{"type":"string","description":"URL describing error details."},"Data":{"type":"string","description":"Additional data provided by the server to clarify the error.","example":"Usage data has not been processed for all requested months."}}},"SUSHI_report_header":{"type":"object","description":"Generalized report header that defines the requested report, the requestor, the customer, filters applied, reportAttributes applied and any exceptions.","required":["Report_ID","Report_Name","Release"],"properties":{"Created":{"type":"string","format":"dateTime","description":"Time the report was created. Format as defined by date-time - RFC3339","example":"2016-09-08T22:47:31Z"},"Created_By":{"type":"string","description":"Name of the organization producing the report.","example":"Clarivate Analytics"},"Customer_ID":{"type":"string","description":"Identifier of the customer the report represents - identifier used on the request","example":"12bc999b-24e5-4e62-82d0-72e9593e9x56"},"Report_ID":{"type":"string","description":"The report ID or code or shortname. Typically this will be the same code provided in the Report parameter of the request.","example":"DR_D1"},"Release":{"type":"string","description":"The release or version of the report.","example":"5"},"Report_Name":{"type":"string","description":"The long name of the report.","example":"Database Search and Item Usage"},"Institution_Name":{"type":"string","description":"Name of the customer.","example":"Mt. Laurel University"},"Report_Filters":{"type":"array","description":"A List of report filters used for this report. Typically reflect filters provided on the Request. Filters limit the data to be reported on.","items":{"required":["Name","Value"],"properties":{"Name":{"type":"string","description":"Name of the report filter.","example":"Begin_Date"},"Value":{"type":"string","description":"Value of the report filter.","example":"2015-01-01"}}}},"Exceptions":{"type":"array","description":"Series of exceptions thrown when preparing the report.","items":{"$ref":"#/definitions/SUSHI_error"}}}},"SUSHI_report_list":{"type":"object","required":["Report_ID","Report_Name","Release","Report_Description"],"properties":{"Report_Name":{"type":"string","description":"The long name of the report","example":"Database Search and Item Usage"},"Report_ID":{"type":"string","description":"The code, ID or short name of the report that is be used in the request to identify the report.","example":"DR_D1"},"Release":{"type":"string","description":"The release or version number of the report.","example":"5"},"Report_Description":{"type":"string","description":"A short sentence describing the report.","example":"Total and Monthly Searches and Item Usage for each Cortellis Drug Discovery Intelligence Database"},"Path":{"type":"string","description":"The path to use when requesting this report on this service. Optional but recommended for custom reports.","example":"/reports/dr_d1"}}},"SUSHI_service_status":{"type":"object","required":["Service_Active"],"properties":{"Description":{"type":"string","description":"Description of the service.","example":"COUNTER Usage Reports for Cortellis Drug Discovery Intelligence platform."},"Service_Active":{"type":"boolean","description":"Indicator if the service is currently able to deliver reports.","example":true},"Registry_URL":{"type":"string","description":"If available, the URL separate registry with additional information about the service.","example":"https://www.projectcounter.org/counter-user/ebsco-database/"},"Note":{"type":"string","description":"A general note about the service.","example":"A given customer can request a maximum of 5 requests per day for a given report"},"Alerts":{"type":"array","description":"Any alerts related to service interruptions and status.","items":{"type":"object","properties":{"Date_Time":{"type":"string","format":"dateTime","description":"Date-time of the alert.","example":"2016-08-02: 12:54"},"Alert":{"type":"string","description":"Text of the alert.","example":"Service will be unavailable Sunday midnight..."}}}}}},"SUSHI_platform_report":{"type":"object","description":"Describes the formatting needs for the COUNTER Platform Report - the Report_Header and Report_Items (usage stats).","required":["Report_Header","Report_Items"],"properties":{"Report_Header":{"$ref":"#/definitions/SUSHI_report_header"},"Report_Items":{"type":"array","items":{"$ref":"#/definitions/SUSHI_platform_usage"}}}},"SUSHI_platform_usage":{"type":"object","description":"Defines the output for the Report_Items being returned in a Platform Report.","required":["Platform","Performance"],"properties":{"Platform":{"type":"string","description":"Name of the platform","example":"Cortellis"},"Performance":{"type":"array","items":{"$ref":"#/definitions/SUSHI_item_performance"},"description":"The usage data related to the report item"}}},"SUSHI_database_report":{"type":"object","description":"Describes the formatting needs for the COUNTER Database Report - the Report_Header and Report_Items (usage stats).","required":["Report_Header","Report_Items"],"properties":{"Report_Header":{"$ref":"#/definitions/SUSHI_report_header"},"Report_Items":{"type":"array","items":{"$ref":"#/definitions/SUSHI_database_usage"}}}},"SUSHI_database_usage":{"type":"object","description":"Defines the output for the Report_Items being returned in a Database Report.","required":["Database","Publisher","Platform","Performance"],"properties":{"Database":{"type":"string","description":"Name of the database or collection being reported on.","example":"Cortellis Core Collection"},"Platform":{"type":"string","description":"Name of the platform","example":"Cortellis"},"Publisher":{"type":"string","description":"Name of the organization that creates the database","example":"Clarivate Analytics"},"Performance":{"type":"array","items":{"$ref":"#/definitions/SUSHI_item_performance"},"description":"The usage data related to the report item"}}},"SUSHI_item_performance":{"type":"object","required":["Period","Instance"],"properties":{"Period":{"type":"object","required":["Begin_Date","End_Date"],"properties":{"Begin_Date":{"type":"string","description":"Beginning date for usage in this 'itemPerformance' instance.","example":"2015-01-01"},"End_Date":{"type":"string","description":"Ending date for usage in this 'itemPerformance' instance.","example":"2015-01-31"}}},"Instance":{"type":"array","items":{"type":"object","required":["Metric_Type","Count"],"properties":{"Metric_Type":{"type":"string","description":"Type of activity being counted.","example":"Total_Item_Requests","enum":["Searches_Platform","Searches_Regular","Total_Item_Investigations","Total_Item_Requests"]},"Count":{"type":"integer","description":"Usage count > 0.  If count is zero, the Intance element should be excluded.","example":21}}}}}}},"security":[{"key":[]}]}