{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Converis CUD API","description":"This documentation is for viewing purposes only. Therefore, no actual result is displayed even though you can click on “Try it out” button. Generating the actual URL from this documentation is not possible because it depends on the host and port, which are different for customers.\n              \n\nThe CUD API facilitates Create, Update, and Delete operations on data entities within the converis, enabling clients to add, modify, and remove records programmatically.\n\n## Access and Credentials \nThe URL of API has the following pattern ___https://{host}:{port}/converis/ws/___ where *{host}* is the IP or the Hostname of your Converis installation. *{port}* must be provided only if it differs from 443.\n\n___Eg___: ___https://your_converis_system_url/converis/ws/v2/dataobjects/dataentities___  . Here port is not used as per request.\n\nTo use these endpoints (except Version API), an API authentication token needs to be issued by the Converis administrator from the configuration screen (Configuration --> API Authentication Info). \n\nThe table below specifies which type of endpoints require which ___type of service___ permission for the  Converis API authentication.\n\n| Type of endpoint | Type of service permission |\n| ---------------- | -------------------------- |\n| CUD - Dataentity / Linkentity             | CONVERIS_DATA_SERVICE     \n\nThe generated API authentication token must then be provided per basic authentication with each request to the API (username = app name and password = generated token). \n\nThe URL needs to be adapted to the Converis instance’s specific domain.\n\n## Limits and Security \n- All requests are secured through https (secure, TLS 1.2).\n\n\n## Note\n\n"},"servers":[{"url":"https://api.clarivate.com/cudapi"}],"tags":[{"name":"Data Entities","description":"REST endpoints for data Entities"},{"name":"Link Entities","description":"REST endpoints for link entities."}],"paths":{"/{version}/dataobject/dataentities":{"delete":{"summary":"Delete existing data entities.","operationId":"deleteDataEntities","tags":["Data Entities"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]},"description":"API version. Currently supports 'v2'."}],"responses":{"200":{"description":"Successful deletion response","content":{"application/json":{"example":{"infoResponse":[{"id":"111","uuid":"452a0e5a-ca67-42cf-a49c-e6be896f0ff9","responseStatus":"DELETED","type":"Publication"},{"id":"222","uuid":"7dfa5738-6acb-41d2-b8df-37c76e3b2011","responseStatus":"DELETED","type":"cfLang"}]}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator."}}},"options":{"summary":"Options for data entities.","description":"This endpoint provides information about the supported actions and request structure for data entities.","operationId":"optionsDataEntities","tags":["Data Entities"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]},"description":"API version. Currently supports 'v2'."}],"responses":{"200":{"description":"Options response","content":{"application/json":{"example":{"supported_actions":["Create","Update","Delete"],"request_structure":{"Create":{"HTTP_method":"POST","endpoint":"https://host:<port>/<converis_app_name>/ws/v2/dataobject/dataentities","description":"Send HTTP request using the HTTP method POST to create data entities."},"Update":{"HTTP_method":"PUT","endpoint":"https://host:<port>/<converis_app_name>/ws/v2/dataobject/dataentities","description":"Send HTTP request using the HTTP method PUT to update data entities."},"Delete":{"HTTP_method":"DELETE","endpoint":"https://host:<port>/<converis_app_name>/ws/v2/dataobject/dataentities","description":"Send HTTP request using the HTTP method DELETE to delete data entities."}}}}}}}},"post":{"summary":"Create new data entities.","operationId":"createDataEntities","tags":["Data Entities"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]},"description":"API version. Currently supports 'v2'."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"attributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"lang":{"type":"string"}},"required":["name","value"]}}},"required":["type","attributes"]}}},"required":["entities"]}}}},"responses":{"200":{"description":"Successful creation response","content":{"application/json":{"example":{"infoResponse":[{"id":"111","uuid":"452a0e5a-ca67-42cf-a49c-e6be896f0ff9","responseStatus":"CREATED","type":"Publication"},{"id":"222","uuid":"7dfa5738-6acb-41d2-b8df-37c76e3b2011","responseStatus":"CREATED","type":"cfLang"}]}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator."}}},"put":{"summary":"Update existing data entities.","operationId":"updateDataEntities","tags":["Data Entities"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]},"description":"API version. Currently supports 'v2'."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"attributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"lang":{"type":"string"}},"required":["name","value"]}}},"required":["id","attributes"]}}},"required":["entities"]}}}},"responses":{"200":{"description":"Successful update response","content":{"application/json":{"example":{"infoResponse":[{"id":"111","uuid":"452a0e5a-ca67-42cf-a49c-e6be896f0ff9","responseStatus":"UPDATED","type":"Publication"},{"id":"222","uuid":"7dfa5738-6acb-41d2-b8df-37c76e3b2011","responseStatus":"UPDATED","type":"cfLang"}]}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator."}}}},"/{version}/dataobject/linkentities":{"delete":{"summary":"Delete link entities.","operationId":"deleteLinkEntities","tags":["Link Entities"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]},"description":"API version. Currently supports 'v2'."}],"responses":{"200":{"description":"Successful deletion response","content":{"application/json":{"example":{"infoResponse":[{"id":"111","uuid":"452a0e5a-ca67-42cf-a49c-e6be896f0ff9","responseStatus":"DELETED","type":"PUBL_has_CARD"},{"id":"222","uuid":"7dfa5738-6acb-41d2-b8df-37c76e3b2011","responseStatus":"DELETED","type":"PUBL_has_CARD"}]}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator."}}},"options":{"summary":"Options for link entities.","description":"This endpoint provides information about the supported actions and request structure for link entities.","operationId":"optionsLinkEntities","tags":["Link Entities"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]},"description":"API version. Currently supports 'v2'."}],"responses":{"200":{"description":"Options response","content":{"application/json":{"example":{"supported_actions":["Create","Update","Delete"],"request_structure":{"Create":{"HTTP_method":"POST","endpoint":"https://host:<port>/<converis_app_name>/ws/v2/dataobject/linkentities","description":"Send HTTP request using the HTTP method POST to create link entities."},"Update":{"HTTP_method":"PUT","endpoint":"https://host:<port>/<converis_app_name>/ws/v2/dataobject/linkentities","description":"Send HTTP request using the HTTP method PUT to update link entities."},"Delete":{"HTTP_method":"DELETE","endpoint":"https://host:<port>/<converis_app_name>/ws/v2/dataobject/linkentities","description":"Send HTTP request using the HTTP method DELETE to delete link entities."}}}}}}}},"post":{"summary":"Create new data entities.","operationId":"createLinkEntities","tags":["Link Entities"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]},"description":"API version. Currently supports 'v2'."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"idLeft":{"type":"string"},"idRight":{"type":"string"},"type":{"type":"string"},"attributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"]}}},"required":["idLeft","idRight","type","attributes"]}}},"required":["entities"]}}}},"responses":{"200":{"description":"Successful creation response","content":{"application/json":{"example":{"infoResponse":[{"id":"555","uuid":"452a0e5a-ca67-42cf-a49c-e6be896f0ff9","type":"PERS_has_CARD","responseStatus":"CREATED"},{"id":"666","uuid":"7dfa5738-6acb-41d2-b8df-37c76e3b2011","type":"PERS_has_CARD","responseStatus":"CREATED"}]}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator."}}},"put":{"summary":"Update existing data entities.","operationId":"updateLinkEntities","tags":["Link Entities"],"parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string","enum":["v2"]},"description":"API version. Currently supports 'v2'."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"attributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"]}}},"required":["id","attributes"]}}},"required":["entities"]}}}},"responses":{"200":{"description":"Successful update response","content":{"application/json":{"example":{"infoResponse":[{"id":"111","uuid":"452a0e5a-ca67-42cf-a49c-e6be896f0ff9","responseStatus":"UPDATED","type":"PUBL_has_CARD"},{"id":"222","uuid":"7dfa5738-6acb-41d2-b8df-37c76e3b2011","responseStatus":"UPDATED","type":"PUBL_has_CARD"}]}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator."}}}}}}