{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Converis Legacy API","description":"This documentation is for viewing purposes only. Therefore, no actual result is displayed even though you can click on “Try it out” button. Generating the actual URL from this documentation is not possible because it depends on the host and port, which are different for customers.\n           \nLegacy API provides programmatic means to read public content of Converis.\n\n## Prerequisites \nTo access the data in Converis over the web service make sure the entity, e.g. publication, has been flagged as public. The following attributes should also be set as public searchable and the input type should also be set correctly. \n\n• public visible \n\n• Status \n\n• createdOn \n\n• updatedOn\n\n## Access and Credentials \nThe URL of API has the following pattern ___https://{host}:{port}/converis/ws/___ where *{host}* is the IP or the Hostname of your Converis installation. *{port}* must be provided only if it differs from 443.\n\n___Eg___: ___https://your_converis_system_url/converis/ws___  . Here port is not used as per request. \n\nThe URL needs to be adapted to the Converis instance’s specific domain.\n\n## Limits and Security \n- All requests are secured through https (secure, TLS 1.2)."},"servers":[{"url":"https://api.clarivate.com/legacyapi"}],"tags":[{"name":"Legacy API: find By Pattern","description":"Retrieves representation of an instance of com.converis.ws.restful.pentaho.publicservice"},{"name":"Legacy API: get Info Object","description":"REST web service"},{"name":"Legacy API: get legacy api version","description":"Gets the version of Legacy API"},{"name":"Legacy API: get related info objects","description":"REST Web Service: Representation of GetRelated"},{"name":"Legacy API: get using pentaho resource","description":""}],"paths":{"/public/infoobject/findsimple/{type}/{attribute}/{pattern}":{"get":{"summary":"Legacy API: find by pattern","operationId":"findByPattern","tags":["Legacy API: find By Pattern"],"parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"},"description":"Entity name"},{"name":"attribute","in":"path","required":true,"schema":{"type":"string"},"description":"Attribute name"},{"name":"pattern","in":"path","required":true,"schema":{"type":"string"},"description":"Search term"}],"responses":{"200":{"description":"Success","content":{"application/xml":{"schema":{"type":"string","format":"xml"}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator."}}}},"/public/infoobject/filterids":{"get":{"summary":"Filter info object IDs","operationId":"filterInfoObjectIds","tags":["Legacy API: get Info Object"],"parameters":[{"name":"content","in":"query","required":true,"schema":{"type":"string"},"description":"Query content for filtering"}],"responses":{"200":{"description":"Success","content":{"application/xml":{"schema":{"type":"string","format":"xml"}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator."}}}},"/public/infoobject/getfiltered":{"put":{"summary":"Get filtered info objects","operationId":"getFilteredInfoObjects","tags":["Legacy API: get Info Object"],"requestBody":{"required":true,"content":{"application/xml":{"schema":{"type":"string","format":"xml"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown Internal error occurred. Try again or contact the system administrator."}}}},"/public/infoobject/getfiltered/{start}":{"put":{"summary":"Get filtered info objects starting from a specified point.","operationId":"getFilteredInfoObjectsthroughstart","tags":["Legacy API: get Info Object"],"parameters":[{"name":"start","in":"path","required":true,"schema":{"type":"integer"},"description":"Start point for retrieving filtered info objects."}],"requestBody":{"required":true,"content":{"application/xml":{"schema":{"type":"string","format":"xml"}}}},"responses":{"204":{"description":"No content"}}}},"/public/infoobject/get/{type}/{id}":{"get":{"summary":"Get info object by type and ID.","operationId":"getInfoObject","tags":["Legacy API: get Info Object"],"parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"},"description":"Entity type."},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Entity ID."}],"responses":{"200":{"description":"Success","content":{"application/xml":{"schema":{"type":"string","format":"xml"}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown internal error occurred. Try again or contact the system administrator."}}}},"/public/infoobject/getfiltered/{start}/{count}":{"put":{"summary":"Get filtered info objects with pagination.","operationId":"getFilteredInfoObjectsWithStartAndCount","tags":["Legacy API: get Info Object"],"parameters":[{"name":"start","in":"path","required":true,"schema":{"type":"integer"},"description":"Start index for pagination."},{"name":"count","in":"path","required":true,"schema":{"type":"integer"},"description":"Number of items to retrieve."}],"requestBody":{"required":true,"content":{"application/xml":{"schema":{"type":"string","format":"xml"}}}},"responses":{"204":{"description":"No content"},"500":{"description":"Unknown internal error occurred. Try again or contact the system administrator."}}}},"/public/infoobject/detail/{type}/{lang}/{id}":{"get":{"summary":"Retrieves representation of an instance of com.converis.ws.GetInfoObject","operationId":"getInfoObjectDetail","tags":["Legacy API: get Info Object"],"parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"},"description":"Type of the info object."},{"name":"lang","in":"path","required":true,"schema":{"type":"string"},"description":"Language of the info object."},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Identifier of the info object."}],"responses":{"200":{"description":"Success","content":{"application/xml":{"schema":{"type":"string","format":"xml"}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown internal error occurred. Try again or contact the system administrator."}}}},"/public/infoobject/filterlist/{lang}/{start}/{count}":{"get":{"summary":"Retrieves a list of filtered info objects.","operationId":"filterInfoObjectList","tags":["Legacy API: get Info Object"],"parameters":[{"name":"lang","in":"path","required":true,"schema":{"type":"string"},"description":"Language of the info objects."},{"name":"start","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"description":"Start index of the list."},{"name":"count","in":"path","required":true,"schema":{"type":"integer","format":"int32"},"description":"Number of info objects to retrieve."},{"name":"content","in":"query","required":false,"schema":{"type":"string"},"description":"Query content."}],"responses":{"200":{"description":"Success","content":{"application/xml":{"schema":{"type":"string","format":"xml"}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown internal error occurred. Try again or contact the system administrator."}}}},"/public/getversion":{"get":{"summary":"Retrieve the version of the public API.","operationId":"getPublicApiVersion","tags":["Legacy API: get legacy api version"],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown internal error occurred. Try again or contact the system administrator."}}}},"/public/infoobject/getrelated/{type}/{id}/{relation}":{"get":{"summary":"Retrieve related entities for a given entity.","operationId":"getRelatedEntities","tags":["Legacy API: get related info objects"],"parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"},"description":"Entity type."},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Entity ID."},{"name":"relation","in":"path","required":true,"schema":{"type":"string"},"description":"Link entity name."},{"name":"direction","in":"query","schema":{"type":"string","default":"children"},"description":"Direction of the relation (optional). Default is 'children'."}],"responses":{"200":{"description":"Success","content":{"application/xml":{"schema":{"type":"string"}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown internal error occurred. Try again or contact the system administrator."}}}},"/public/pentaho/auth":{"post":{"summary":"Authenticate with Pentaho.","operationId":"authenticateWithPentaho","tags":["Legacy API: get using pentaho resource"],"requestBody":{"required":true,"content":{"text/plain":{"schema":{"type":"string"}}}},"responses":{"201":{"description":"Successful authentication.","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown internal error occurred. Try again or contact the system administrator."}}}},"/public/pentaho/embeddedreport/{key}":{"get":{"summary":"Retrieve embedded report information.","operationId":"getEmbeddedReportInfo","tags":["Legacy API: get using pentaho resource"],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"},"description":"The key to identify the embedded report."}],"responses":{"200":{"description":"Successful retrieval of embedded report information.","content":{"application/json":{"schema":{"type":"object","properties":{"reportPath":{"type":"string","description":"The path to the embedded report."},"queryParams":{"type":"object","description":"Query parameters for the embedded report.","additionalProperties":{"type":"string"}}}}}}},"400":{"description":"Request is not correct."},"403":{"description":"Your account does not have permissions to access the requested data."},"404":{"description":"Requested data is not found."},"500":{"description":"Unknown internal error occurred. Try again or contact the system administrator."}}}}}}