{"swagger":"2.0","info":{"title":"twa-riskmark-integration","version":"1.0.0","description":"APIs for integration of TWA with other applications.","contact":{"name":"Sasa Drobnjakovic","email":"sasa.drobnjakovic@clarivate.com"}},"paths":{"/integration-api/single-opposition/{id}":{"get":{"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"Watch threat ID"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SingleOppositionResponse"}},"500":{"description":"Internal Server Error"}}}}},"definitions":{"SingleOppositionResponse":{"type":"object","properties":{"jurisdictions":{"type":"array","items":{"type":"string"}},"trademark1":{"$ref":"#/definitions/Trademark"},"trademark2":{"$ref":"#/definitions/Trademark"}}},"Trademark":{"type":"object","properties":{"verbalElement":{"type":"string"},"goodsAndServices":{"type":"array","items":{"$ref":"#/definitions/GoodsAndService"}},"applicantInfos":{"type":"array","items":{"$ref":"#/definitions/ApplicantInfo"}},"applicationNumber":{"type":"string"},"registrationNumber":{"type":"string"},"guid":{"type":"string"}}},"GoodsAndService":{"type":"object","properties":{"niceClass":{"type":"integer","format":"int32"},"description":{"type":"string"}}},"ApplicantInfo":{"type":"object","properties":{"name":{"type":"string"},"address":{"type":"string"},"countryCode":{"type":"string"},"countryName":{"type":"string"}}}},"securityDefinitions":{"key":{"type":"apiKey","in":"header","name":"X-ApiKey"}},"security":[{"key":[]}],"host":"api.clarivate.com","basePath":"/integration-api","schemes":["https"]}